<div fxLayout="column">
    <form [formGroup]="this.formComentario" fxLayout="column" fxLayoutAlign="center center" class="g-full-width">
        <app-ckeditor (onAlterouEditor)="alterouFormEditor($event)"></app-ckeditor>
    </form>

    <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
        <button mat-stroked-button color="accent" (click)="cancelar()">Cancelar</button>
        <button mat-stroked-button color="primary" [disabled]="!this.formComentario.valid" (click)="editarComentario()">Comentar</button>
    </div>
</div>