<div class="g-column-start-start">
    <form [formGroup]="this.formComentario" class="g-column-center-center g-full-width">
        <app-ckeditor (onAlterouEditor)="alterouFormEditor($event)"></app-ckeditor>
    </form>

    <div class="g-row-around-center container-buttons">
        <button mat-stroked-button color="accent" (click)="cancelar()">Cancelar</button>
        <button mat-stroked-button color="primary" [disabled]="!this.formComentario.valid" (click)="editarComentario()">Comentar</button>
    </div>
</div>