.card-nova-sessao {
    padding: 20px;
    width: calc(100% - 80px);
    position: relative;
    gap: 20px;
}

.container-criar-sessao {
    width: 300px;
    gap: 10px;
}

.alerta-link {
    color: rgb(184, 184, 184);
    font-weight: bold;
    font-size: 12px;
}

.alerta-link-ativo {
    color: rgb(255, 106, 106);
}

.button-nova-sessao {
    width: 150px;
    gap: 10px;
    text-wrap: nowrap;
}

.button-disabled {
    pointer-events: none;
    color: rgb(184, 184, 184);
    border-color: rgb(184, 184, 184);
}

.container-aula-anterior-posterior {
    gap: 20px;
    width: 100%;
}