.container-topico {
    margin-top: 70px;
}

.card {
    padding: 30px;
    width: calc(100% - 60px);
}

.titulo {
    top: -60px;
    gap: 20px;
}

.container-pergunta {
    gap: 20px;
}

.imagem {
    width: 100px;
}

.width-150px {
    width: 150px;
}

.usuario-nome {
    text-align: center;
}

.titulo-resposta {
    top: -57px;
}

.container-buttons {
    margin: 20px 0;
}