<div *ngIf="this.forumTopico; else loading">
    <div class="g-column-start-center container-topico">
        <div class="g-column-between-between g-card-postit-yellow card">
            <div class="g-row-center-center g-card-postit-titulo-yellow titulo">
                <div [ngSwitch]="forumTopico.forumTopicoEnum" class="tipo-topico">
                    <div *ngSwitchCase="this.forumTopicoEnum.Conceito">
                        <mat-icon class="g-row-center-center material-symbols-outlined">drag_handle</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Equacao">
                        <mat-icon class="g-row-center-center material-symbols-outlined">function</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Curiosidade">
                        <mat-icon class="g-row-center-center material-symbols-outlined">fitness_center</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Exercicio">
                        <mat-icon class="g-row-center-center material-symbols-outlined">fitness_center</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Vestibular">
                        <mat-icon class="g-row-center-center material-symbols-outlined">school</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Noticia">
                        <mat-icon class="g-row-center-center material-symbols-outlined">newspaper</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Geral">
                        <mat-icon class="g-row-center-center material-symbols-outlined">contact_support</mat-icon>
                    </div>
                </div>
                <div class="titulo">{{ this.forumTopico.titulo }}</div>
                <mat-icon *ngIf="this.usuarioLogado && this.forumTopico.usuarioId == this.usuarioLogado.id" class="g-row-center-center"
                    mat-stroked-button color="primary" (click)="editarForumTopico()" 
                    matTooltip="Editar pergunta">
                    edit_document
                </mat-icon>
            </div>
            <div class="g-row-start-start container-pergunta">
                <div class="g-column-start-center width-150px">
                    <div class="g-text-overflow-2 usuario-nome">{{ this.forumTopico.usuarioNome }}</div>
                    <div *ngIf="this.forumTopico.usuarioFoto" class="g-column-between-center">
                        <img [src]="'data:image/png;base64,' + this.forumTopico.usuarioFoto" alt="Imagem" class="imagem">
                    </div>
                    <div *ngIf="!this.forumTopico.usuarioFoto">
                        Sem foto
                    </div>
                </div>
                <div [innerHTML]="this.trustedVisualizarForumTopicoHtml"></div>
                <div *ngIf="this.usuarioLogado && this.forumTopico.usuarioId == this.usuarioLogado.id" 
                    class="g-row-around-center container-buttons-topico">
                    <button *ngIf="this.forumTopico.topicoRespostaCount == 0" mat-stroked-button color="warn" 
                        (click)="excluirForumTopico()">
                        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                        Excluir
                    </button>
                </div>
            </div>
        </div>
    </div>

    <app-visualizar-forum-topico-resposta
        [forumTopicoId]="this.forumTopicoId">
    </app-visualizar-forum-topico-resposta>
</div>
<ng-template #loading>
    Carregando
</ng-template>