.container-topico {
    margin-top: 20px;
}

.card {
    padding: 30px;
}

.titulo {
    top: -57px;
    gap: 20px;
}

.container-pergunta {
    gap: 20px;
}

.titulo-resposta {
    top: -57px;
}

.container-buttons {
    margin: 20px 0;
}