<div *ngIf="this.forumTopico && this.usuarioLogado; else loading">
    <div fxLayout="column" class="container-topico">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div [ngSwitch]="forumTopico.forumTopicoEnum" class="tipo-topico">
                <div *ngSwitchCase="this.forumTopicoEnum.Conceito">
                    <mat-icon class="material-symbols-outlined">drag_handle</mat-icon>
                </div>
                <div *ngSwitchCase="this.forumTopicoEnum.Equacao">
                    <mat-icon class="material-symbols-outlined">function</mat-icon>
                </div>
                <div *ngSwitchCase="this.forumTopicoEnum.Curiosidade">
                    <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                </div>
                <div *ngSwitchCase="this.forumTopicoEnum.Exercicio">
                    <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                </div>
                <div *ngSwitchCase="this.forumTopicoEnum.Vestibular">
                    <mat-icon class="material-symbols-outlined">school</mat-icon>
                </div>
                <div *ngSwitchCase="this.forumTopicoEnum.Noticia">
                    <mat-icon class="material-symbols-outlined">newspaper</mat-icon>
                </div>
                <div *ngSwitchCase="this.forumTopicoEnum.Geral">
                    <mat-icon class="material-symbols-outlined">contact_support</mat-icon>
                </div>
            </div>
            <div class="titulo">{{ this.forumTopico.titulo }}</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="container-descricao">
            <div fxFlex="100px" fxLayout="column">
                <div>Usuário foto</div>
                <div>Usuário nome</div>
            </div>
            <div [innerHTML]="this.trustedVisualizarForumTopicoHtml"></div>
            <div *ngIf="this.forumTopico.usuarioId == this.usuarioLogado.id" 
                fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons-topico">
                <button *ngIf="this.trustedVisualizarForumTopicoRespostaHtml.length == 0" mat-stroked-button color="warn" 
                    (click)="excluirForumTopico()">
                    <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                    Excluir
                </button>
                <button mat-stroked-button color="primary" (click)="editarForumTopico()">
                    <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                    Editar
                </button>
            </div>
        </div>
        <div *ngIf="!this.responderTopico" class="container-buttons">
            <button mat-stroked-button color="primary" (click)="responderForumTopico()">
                <mat-icon class="material-symbols-outlined">record_voice_over</mat-icon>
                Comentar
            </button>
        </div>
    </div>
    <div *ngIf="this.responderTopico">
        <ckeditor class="ckeditor-responder-topico" 
            [formControl]="formConteudoResponderTopico" #ckEditorTagEditar [editor]="ckEditor" data="<p>Hello, world!</p>">
        </ckeditor>
        <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
            <button mat-stroked-button color="warn" (click)="responderForumTopico()">
                <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                Cancelar
            </button>
            <button mat-stroked-button color="primary" (click)="requestForumTopico()">
                <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                Adicionar comentario
            </button>
        </div>
    </div>
    <div *ngFor="let resposta of this.trustedVisualizarForumTopicoRespostaHtml" fxLayout="row" fxLayoutAlign="start center" 
        class="container-descricao">
        <div fxFlex="100px" fxLayout="column">
            <div>Usuário foto</div>
            <div>Usuário nome</div>
        </div>
        <div fxLayout="column"[innerHTML]="resposta"></div>
    </div>
</div>
<ng-template #loading>
    Carregando
</ng-template>