<div class="g-column-start-center">
    <div *ngIf="!this.responderTopico && this.usuarioLogado" class="g-row-center-center button-resposta"
        (click)="responderForumTopico()">
        <mat-icon class="material-symbols-outlined">record_voice_over</mat-icon>
        Escrever resposta
    </div>

    <div *ngIf="this.responderTopico" class="container-ckeditor">
        <app-ckeditor (onAlterouEditor)="alterouFormEditor($event)"></app-ckeditor>
        <div class="g-row-around-center container-buttons">
            <button mat-stroked-button color="warn" (click)="responderForumTopico()">
                <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                Cancelar
            </button>
            <button mat-stroked-button color="primary" (click)="requestForumTopico()">
                <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
                Adicionar comentario
            </button>
        </div>
    </div>

    <div *ngFor="let resposta of this.forumTopicoRespostaMany; index as i" class="g-column-start-center container-resposta-many">
        <div class="g-column-between-between g-card-postit-green card">
            <div class="g-row-center-center g-card-postit-titulo-green card-titulo">
                <div class="titulo">Resposta: {{ i+1 }}</div>
                <mat-icon *ngIf="this.usuarioLogado && resposta.forumTopicoComentario.usuarioId == this.usuarioLogado.id"
                     class="icone-editar material-symbols-outlined"
                    mat-stroked-button color="primary" (click)="editarRespostaForumTopico(resposta.forumTopicoComentario)" 
                    matTooltip="Editar resposta">
                    edit_document
                </mat-icon>
            </div>
            <div class="g-row-center-center g-card-postit-titulo-green data-resposta">
                <div class="titulo"> {{ resposta.forumTopicoComentario.dataCadastro | date : 'dd/MM/yyyy HH:mm' }}</div>
            </div>
            <div class="g-row-start-start container-pergunta">
                <div class="g-column-start-center">
                    <div class="g-text-overflow-2 usuario-nome">{{ resposta.forumTopicoComentario.usuarioNome }}</div>
                    <div *ngIf="resposta.forumTopicoComentario.usuarioFoto" class="g-column-between-center">
                        <img [src]="'data:image/png;base64,' + resposta.forumTopicoComentario.usuarioFoto" alt="Imagem" class="imagem">
                    </div>
                    <div *ngIf="!resposta.forumTopicoComentario.usuarioFoto">
                        Sem foto
                    </div>
                </div>
                <div class="replica-resposta">
                    <div [innerHTML]="resposta.trustedHtml"></div>
                </div>
                <div *ngIf="this.usuarioLogado && resposta.forumTopicoComentario.usuarioId == this.usuarioLogado.id && resposta.forumTopicoComentario.forumReplicaCount == 0" 
                    class="g-row-around-center resposta-delete">
                    <mat-icon class="material-symbols-outlined" (click)="excluirRespostaForumTopico(resposta.forumTopicoComentario)"
                        matTooltip="Excluir resposta">
                        delete
                    </mat-icon>
                </div>
            </div>
    
            <app-visualizar-forum-topico-replica [forumTopicoId]="this.forumTopicoId" 
                [forumTopicoRespostaId]="resposta.forumTopicoComentario.id">
            </app-visualizar-forum-topico-replica>
        </div>
    </div>
</div>