<div class="g-column-center-center container">
    <div class="titulo">Equipe</div>
    <div class="paragrafo">A Mecânica é o ramo da Física que estudo o movimento e suas causas, 
        tudo ao nosso redor está em movimento, até mesmo você que possivelmente pode estar sentado 
        lendo esse texto, claro que devemos fazer a ressalva que devemos ressaltar qual é o referencial 
        que estamos tomando como origem do sistemas de coordenadas. Conceito esse essencial para o estudo 
        da Mecânica.
    </div>

    <div class="g-row-around-center container-cards">
        <div class="g-column-start-center container-divisao">
            <div class="sub-titulo">Desenvolvedores</div>
            <div class="g-row-between-center tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div class="g-column-start-start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
        </div>
        <div class="g-column-start-center container-divisao">
            <div class="sub-titulo">Professores</div>
            <div class="g-row-between-center tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div class="g-column-start-start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
            <div class="g-row-between-center tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div class="g-column-start-start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
        </div>
        <div class="g-column-start-center container-divisao">
            <div class="sub-titulo">Parceiros</div>
            <div class="g-row-between-center tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div class="g-column-start-start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
        </div>
    </div>
</div>
