<div class="g-column-between-between g-card-postit-yellow card">
    <div class="g-row-center-center g-card-postit-titulo-yellow">
        <span class="perfil-text">Perfil</span>
        <mat-icon class="icone-edit material-symbols-outlined" (click)="editarPerfil()" 
            matTooltip="Editar perfil">
            edit_document
        </mat-icon>
    </div>
    <div class="g-row-start-center g-card-tags card-tags">
        <div class="area-interesse-text">Area de interesse: </div>
        <div *ngFor="let areaInteresse of this.areaInteresseMany" class="g-tag">
            {{ areaInteresse.nome }}
        </div>
        <mat-icon class="icone-edit material-symbols-outlined" (click)="editarAreaInteresse()" matTooltip="Editar área de interesse">
            edit_document
        </mat-icon>
    </div>
    <div class="g-row-between-start container-perfil">
        <div class="g-column-between-center width-200px">
            <div class="usuario-nome">{{ usuarioLogado.nome }}</div>
            <div *ngIf="this.usuarioLogado.foto">
                <img [src]="'data:image/png;base64,' + this.usuarioLogado.foto" alt="Imagem" class="imagem">
            </div>
            <div *ngIf="!this.usuarioLogado.foto">
                Sem foto
            </div>
        </div>
        <div class="g-full-width g-column-start-start">
            <div class="g-row-start-start">
                <mat-icon class="material-symbols-outlined">mail</mat-icon>
                <div class="legend">Email:</div>
                <div>{{ this.usuarioLogado.email }}</div>
            </div>
            <div class="g-row-start-start">
                <mat-icon class="material-symbols-outlined">celebration</mat-icon>
                <div class="legend">Data nascimento:</div>
                <div>{{ this.usuarioLogado.dataNascimento | date : 'dd/MM/yyyy' }}</div>
            </div>
            <div class="g-full-width g-row-start-start">
                <mat-icon class="material-symbols-outlined">surfing</mat-icon>
                <div class="legend">Hobbie:</div>
                <div class="g-row-start-start hobbie">
                    <div>{{ this.usuarioLogado.hobbie }}</div>
                </div>
            </div>
        </div>
    </div>
</div>