<div *ngIf="this.areaFisica; else loading" fxLayout="column" fxLayoutAlign="center center" class="container">
    <div fxLayout="row" fxLayoutAlign="space-around start" class="container-descricao">
        <div fxFlex="50%" fxLayoutAlign="start start" class="g-card-postit-yellow">
            <div class="g-card-postit-titulo-yellow">Descrição</div>
            <div class="paragrafo">
                {{ this.areaFisica.descricao }}
            </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="start start" class="g-card-postit-yellow"> 
            <div class="g-card-postit-titulo-yellow">Aplicações</div>
            <div class="paragrafo">
                {{ this.areaFisica.aplicacao }}
            </div>
        </div>
    </div>
    <div class="titulo">Divisões da Mecânica</div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="container-descricao">
        <div *ngFor="let areaFisicaDivisao of this.areaFisicaDivisaoMany" fxFlex="500px" fxLayout="column" fxLayoutAlign="start center" 
            class="g-card-postit-green card-postit-green">
                <div class="g-card-postit-titulo-green">{{ areaFisicaDivisao.titulo }}</div>
                <div class="paragrafo">
                    {{ areaFisicaDivisao.descricao }}
                </div>
                <div *ngIf="areaFisicaDivisao.foto" fxLayout="column" fxLayoutAlign="space-between center">
                    <img fxFlex="100px" [src]="'data:image/png;base64,' + areaFisicaDivisao.foto" alt="Imagem" class="imagem">
                </div>
        </div>
    </div>
    <div class="titulo">Painel de aulas</div>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="painel-aula-many">

        <app-aula-filtro fxFlex="400px"></app-aula-filtro>
        
        <div fxFlex="100%" fxLayout="column" fxLayoutAlign="space-between center" class="container-aula-many">
            <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start" class="g-full-width">
                <div *ngFor="let aula of this.pageAulaMany">
                    <div fxLayout="column" fxLayoutAlign="space-between space-between" class="g-card-postit-yellow card-aula">
                        <div class="g-card-postit-titulo-yellow card-titulo">{{ aula.titulo }}</div>
                        <div fxLayout="column" fxLayoutAlign="space-between start" class="g-card-icone-many card-icone-many">
                            <div fxLayout="row" fxLayoutAlign="start center" class="g-full-width">
                                <mat-icon fxFlex="25px" class="icone material-symbols-outlined" [ngClass]="{'icone-ativo': aula.usuarioLogadoCurtiu}">
                                    thumb_up
                                </mat-icon>
                                <div fxFlex="100%" fxLayoutAlign="center center">{{ aula.curtido }}</div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="g-full-width">
                                <mat-icon fxFlex="25px" class="icone material-symbols-outlined" [ngClass]="{'icone-ativo': aula.usuarioLogadoFavoritada}">
                                    star
                                </mat-icon>
                                <div fxFlex="100%" fxLayoutAlign="center center">{{ aula.favoritado }}</div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="g-full-width">
                                <mat-icon fxFlex="25px" class="icone material-symbols-outlined">chat</mat-icon>
                                <div fxFlex="100%" fxLayoutAlign="center center">{{ aula.aulaComentarioMany.length }}</div>
                            </div>
                        </div>
                        <div *ngIf="aula.tagMany.length > 0" fxLayout="row" fxLayoutAlign="start center" class="g-card-tags">
                            <div *ngFor="let tag of aula.tagMany"class="g-tag">{{ tag.nome }}</div>
                        </div>
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between start" class="card-aula-descricao">
                            <div fxFlex="100px" fxLayout="column" fxLayoutAlign="space-between center" class="aula-autor">
                                <div>Professor</div>
                                <div class="g-text-overflow-2 usuario-nome">{{ aula.usuarioNome }}</div>
                                <div *ngIf="aula.usuarioFoto" fxLayout="column" fxLayoutAlign="space-between center">
                                    <img fxFlex="100px" [src]="'data:image/png;base64,' + aula.usuarioFoto" alt="Imagem" class="imagem">
                                </div>
                                <div *ngIf="!aula.usuarioFoto">
                                    Sem foto
                                </div>
                            </div>
                            <div fxFlex="100%" fxLayout="column" class="descricao">
                                <div fxFlex="120px" fxLayout="column" fxLayoutAlign="space-between start" class="g-full-width">
                                    <div class="sessao">Sessões</div>
                                    <div fxLayout="column" fxLayoutAlign="start start" class="g-full-width g-full-height">
                                        <div *ngFor="let sessao of aula.aulaSessaoMany" fxLayout="row" fxLayoutAlign="start center"
                                            class="sessao-text">
                                            <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
                                            <div class="g-text-overflow-1">{{ sessao.titulo }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-around center">
                                    <div fxLayout="row" fxLayoutAlign="center center" class="card-aula-acessar" 
                                        (click)="visualizarAula(aula)">
                                        <div>Acessar aula</div>
                                        <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
            <div *ngIf="this.pageMax > 1" fxLayout="row" fxLayoutAlign="center center" class="container-paginacao">
                <mat-icon fxLayoutAlign="center center" class="button-page" (click)="mudarPagina(-1)">
                    chevron_left
                </mat-icon>
                <div>Página {{ pageAtual + 1 }} de {{ pageMax }}</div>
                <mat-icon fxLayoutAlign="center center" class="button-page" (click)="mudarPagina(1)">
                    navigate_next
                </mat-icon>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    Carregando
</ng-template>