<div class="g-column-center-center container-perfil">
    <div (click)="deslogarConta()" class="deslogar-conta">Deslogar</div>
    <div class="titulo">Olá Fernando</div>
    <div (click)="deletarConta()" class="deletar-conta">Deletar Conta</div>
    <div class="g-row-between-center">
        <div fxFlex="32%" class="g-column-start-start container-aulas">
            <div class="titulo-aulas">Aulas estudadas</div>
            <div class="aula">Mecânica - Aula 1 - Sistema Internacional</div>
            <div class="aula">Mecânica - Aula 2 - Referencial</div>
        </div>
        <div fxFlex="32%" class="g-column-start-start container-aulas">
            <div class="titulo-aulas">Aulas sendo estudadas</div>
            <div class="aula">Mecânica - Aula 3 - Velocidade Média</div>
            <div class="aula">Termodinâmica - Aula 1 - Termômetros</div>
        </div>
        <div fxFlex="32%" class="g-column-start-start container-aulas">
            <div class="titulo-aulas">Aulas para estudar</div>
            <div class="aula">Mecânica - Aula 4 - Aceleração Média</div>
            <div class="aula">Mecânica - Aula 5 - MRU</div>
            <div class="aula">Mecânica - Aula 6 - MRUV</div>
            <div class="aula">Mecânica - Aula 7 - Gráficos</div>
            <div class="aula">Termodinâmica - Aula 2 - Transformações</div>
            <div class="aula">Termodinâmica - Aula 3 - Entropia</div>
        </div>
    </div>
    <div class="g-row-between-center container-equacoes">
        <div fxFlex="49%" class="g-column-start-start container-aulas">
            <div class="titulo-aulas">Minhas Equações</div>
        </div>
        <div fxFlex="49%" class="g-column-start-startcontainer-aulas">
            <div class="titulo-aulas">Conceitos importantes</div>
        </div>
    </div>
</div>
