<div *ngIf="this.usuarioLogado; else usuarioVazio" class="g-column-start-center container-aluno-home">
    <div class="deslogar" (click)="deslogar()">Deslogar</div>
    <div class="g-row-between-start g-row-wrap container-informacao">
        <app-aluno-perfil [usuarioLogado]="this.usuarioLogado"></app-aluno-perfil>
        <app-usuario-informacao [usuarioLogado]="this.usuarioLogado"></app-usuario-informacao>
    </div>

    <app-usuario-conquistas fxFlex="50%"></app-usuario-conquistas>
    
    <div class="g-column-between-between g-card-postit-yellow card"
        [ngClass]="{'card-favorito': this.abaSelecionada == 2}">
        <div class="g-row-start-center g-card-postit-titulo-yellow card-titulo">
            <div class="g-row-center-center card-titulo-aba card-titulo-aba-1" (click)="selecionarAba(1)">
                <span class="perfil-text">Widget aulas</span>
            </div>
            <div class="g-row-center-center card-titulo-aba card-titulo-aba-2" (click)="selecionarAba(2)">
                <span class="perfil-text">Informações favoritadas</span>
            </div>
        </div>
        <app-aluno-aula *ngIf="this.abaSelecionada == 1" [usuarioLogado]="this.usuarioLogado"></app-aluno-aula>
        <app-aluno-favoritado *ngIf="this.abaSelecionada == 2" [usuarioLogado]="this.usuarioLogado"></app-aluno-favoritado>
    </div>
</div>
<ng-template #usuarioVazio>
    Carregando informações...
</ng-template>
