.container-aula {
    min-width: 400px;
    margin: 20px;
}

.area-fisica-text {
    font-weight: bold;
}

.container-radio {
    gap: 20px;
    margin: 10px 0
}

.container-buttons {
    margin-top: 20px;
    gap: 20px;
    width: 100%;
}