<div fxFlex="94%" fxLayout="column" fxLayoutAlign="center center" class="container">
    <div class="titulo">Termodinâmica</div>
    <div fxLayout="row" fxLayoutAlign="space-around start">
        <div fxFlex="45%" fxLayout="column" fxLayoutAlign="start center" class="container-descricao-topico">
            <div class="sub-titulo">Descrição</div>
            <div class="paragrafo">A Mecânica é o ramo da Física que estudo o movimento e suas causas, 
                tudo ao nosso redor está em movimento, até mesmo você que possivelmente pode estar sentado 
                lendo esse texto, claro que devemos fazer a ressalva que devemos ressaltar qual é o referencial 
                que estamos tomando como origem do sistemas de coordenadas. Conceito esse essencial para o estudo 
                da Mecânica.
            </div>
        </div>
        <div fxFlex="45%" fxLayout="column" fxLayoutAlign="start center" class="container-descricao-topico"> 
            <div class="sub-titulo">Aplicações</div>
            <div class="paragrafo">O movimento está presente em básicamente tudo, nisso as aplicações são as mais 
                variaveis possiveis. Geologos podem estudar o movimento de placas tectonicas para prever terremotos. 
                Sinalizações de velocidade máxima nas vias e radares, estipulando valores importantes para prevenir 
                acidentes. Velocidade que um objeto precisa ter para escapar da atmosfera terreste e ir para o espaço 
                sideral. Montanha-russa em parques de diversões. Entre muitas outras que podemos discutir ao longo das aulas.
            </div>
        </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="center center" class="card-11">

        <h4>Divisões da Mecânica</h4>

        <div fxLayout="row" fxLayoutAlign="space-around start" class="teste">
            <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start center" class="container-divisao">
                <div class="sub-titulo">Cinemática</div>
                <div class="paragrafo">Estuda o movimento dos corpos sem levar em consideração as suas causas. Alguns conceitos 
                    bases são: eixo de coordenadas, posição, deslocamento, velocidade, aceleração, etc.
                </div>
                <img class="imagem" src="../../../../assets/imagens/mecanica/topico/cinematica.png">
            </div>
            <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start center" class="container-divisao">
                <div class="sub-titulo">Dinâmica</div>
                <div class="paragrafo">Estuda o que causa o movimento, a origem do corpo se mover ou o que altera a direção 
                    do movimento. Exemplos dos conceitos bases são: as três leis de Newton e conservação de energia.
                </div>
            </div>
            <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start center" class="container-divisao">
                <div class="sub-titulo">Estática</div>
                <div class="paragrafo">Estuda as condições de equilibrios dos corpos extensos, como exemplo de conceito temos: torque 
                    e somátoria de forças.
                </div>
                <img class="imagem" src="../../../../assets/imagens/mecanica/topico/estatica.png">
            </div>
        </div>
    </div>

        
    <div fxLayout="column" fxLayoutAlign="center center" class="card-11 card-aulas">
        <div class="sub-titulo">Aulas</div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button fxFlex="50px" class="botao-config" onclick="moverEsquerda()"><div><</div></button> 
            <div fxFlex="80%"class="container-aulas" id="teste">
                <div class="container-cards">

                    <div class="flex-cards">
                        <div fxLayout="column" fxLayoutAlign="start center" class="card-aula">
                            <div fxLayoutAlign="center center" class="card-aula-titulo"><span class="material-icons">menu_book</span> Aula 1</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Importância da Matemática</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo">Unidades de Medida</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo">Prefixos e Notação Científica</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Sistema Internacional de Unidades</div>
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="start center" class="card-aula">
                            <div fxLayoutAlign="center center" class="card-aula-titulo"><span class="material-icons">menu_book</span> Aula 2</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Referencial</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Posição</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Deslocamento</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Distância total</div>
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="start center" class="card-aula">
                            <div fxLayoutAlign="center center" class="card-aula-titulo"><span class="material-icons">menu_book</span> Aula 3</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Movimento relativo</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Rapidez</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Velocidade</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Velocidade Média</div>
                            
                            <a href="./aula-3/exercicio-aula-3.html">
                                <p class="links-problemas">Exemplos/Exercícios</p>
                            </a>
                            
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="start center" class="card-aula">
                            <div fxLayoutAlign="center center" class="card-aula-titulo"><span class="material-icons">menu_book</span> Aula 4</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Equação do MRU</div>
                            <div fxLayoutAlign="center center" class="card-aula-paragrafo"><span class="material-icons">arrow_right_alt</span>Gráficos do MRU</div>
                        </div>
                    </div>

                    <div class="flex-cards">
                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 5</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 6</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 7</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 8</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>
                    </div>

                    <div class="flex-cards">
                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 9</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 10</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 11</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>
        
                        <div fxLayout="column" fxLayoutAlign="center center" class="card-aula">
                            <h6>Aula 12</h6>
                            <p>AAAAAAAAAAaaa</p>
                        </div>
                    </div>

                </div>

            </div>
            <button fxFlex="50px" class="botao-config" onclick="moverDireita()"><div>></div></button>
        </div>
        <hr>
        <div class="opcoes column">
            <span id="opcao-um" class="opcao-um opcao"></span>
            <span id="opcao-dois" class="opcao"></span>
            <span id="opcao-tres" class="opcao"></span>
        </div>
    </div>
    <!--FIM TESTE-->
    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-11">
        <div class="text-center divisão-cards">
            <h6>Principais Conceitos</h6>
            <p class="tags"><a href="###">Velocidade</a></p>
            <p class="tags"><a href="###">Aceleração</a></p>
            <p class="tags"><a href="###">Eixo de coordenadas</a></p>
            <p class="tags"><a href="###">MRU</a></p>
            <p class="tags"><a href="###">MUV</a></p>
            <p class="tags"><a href="###">Lançamento de projéteis</a></p>
            <p class="tags"><a href="###">Queda dos corpos</a></p>
            <p class="tags"><a href="###">Etc...</a></p>
        </div>
        <div>
            <h6>Formulas, Equações e Leis</h6>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" class="card-11">

        <h6>Exercícios vestibulares</h6>

    </div>

</div>