<div fxLayout="column" fxLayoutAlign="center center" class="container">
    <div fxLayout="row" fxLayoutAlign="space-around start" class="container-descricao">
        <div fxFlex="50%" fxLayoutAlign="start start" class="g-card">
            <div class="g-card-titulo">Descrição</div>
            <div class="paragrafo">A Mecânica é o ramo da Física que estudo o movimento e suas causas, 
                tudo ao nosso redor está em movimento, até mesmo você que possivelmente pode estar sentado 
                lendo esse texto, claro que devemos fazer a ressalva que devemos ressaltar qual é o referencial 
                que estamos tomando como origem do sistemas de coordenadas. Conceito esse essencial para o estudo 
                da Mecânica.
            </div>
        </div>
        <div fxFlex="50%" fxLayoutAlign="start start" class="g-card"> 
            <div class="g-card-titulo">Aplicações</div>
            <div class="paragrafo">O movimento está presente em básicamente tudo, nisso as aplicações são as mais 
                variaveis possiveis. Geologos podem estudar o movimento de placas tectonicas para prever terremotos. 
                Sinalizações de velocidade máxima nas vias e radares, estipulando valores importantes para prevenir 
                acidentes. Velocidade que um objeto precisa ter para escapar da atmosfera terreste e ir para o espaço 
                sideral. Montanha-russa em parques de diversões. Entre muitas outras que podemos discutir ao longo das aulas.
            </div>
        </div>
    </div>
    <div class="titulo">Divisões da Mecânica</div>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="container-descricao">
        <div fxFlex="33%" fxLayout="column" fxLayoutAlign="start center" class="g-card card-divisao">
            <div class="g-card-titulo card-divisao">Cinemática</div>
            <div class="paragrafo">Estuda o movimento dos corpos sem levar em consideração as suas causas. Alguns conceitos 
                bases são: eixo de coordenadas, posição, deslocamento, velocidade, aceleração, etc.
            </div>
            <img class="imagem" src="../../../../assets/imagens/mecanica/topico/cinematica.png">
        </div>
        <div fxFlex="33%" fxLayout="column" fxLayoutAlign="start center" class="g-card card-divisao">
            <div class="g-card-titulo card-divisao">Dinâmica</div>
            <div class="paragrafo">Estuda o que causa o movimento, a origem do corpo se mover ou o que altera a direção 
                do movimento. Exemplos dos conceitos bases são: as três leis de Newton e conservação de energia.
            </div>
        </div>
        <div fxFlex="33%" fxLayout="column" fxLayoutAlign="start center" class="g-card card-divisao">
            <div class="g-card-titulo card-divisao">Estática</div>
            <div class="paragrafo">Estuda as condições de equilibrios dos corpos extensos, como exemplo de conceito temos: torque 
                e somátoria de forças.
            </div>
            <img class="imagem" src="../../../../assets/imagens/mecanica/topico/estatica.png">
        </div>
    </div>
    <div class="titulo">Painel de aulas</div>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="painel-aula-many">

        <app-aula-filtro fxFlex="400px"></app-aula-filtro>
        
        <div fxFlex="100%" fxLayout="column" fxLayoutAlign="space-between center" class="container-aula-many">
            <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start start" class="g-full-width">
                <div *ngFor="let aula of this.pageAulaMany">
                    <div fxLayout="column" fxLayoutAlign="space-between space-between" class="g-card card-aula">
                        <div class="g-card-titulo card-titulo">{{ aula.titulo }}</div>
                        <div fxLayout="column" fxLayoutAlign="space-between start" class="g-card-icone-many card-icone-many">
                            <div fxLayout="row" fxLayoutAlign="start center" class="g-full-width">
                                <mat-icon fxFlex="25px" class="icone material-symbols-outlined">thumb_up</mat-icon>
                                <div fxFlex="100%" fxLayoutAlign="center center">{{ aula.curtido }}</div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="g-full-width">
                                <mat-icon fxFlex="25px" class="icone material-symbols-outlined">star</mat-icon>
                                <div fxFlex="100%" fxLayoutAlign="center center">{{ aula.favoritado }}</div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" class="g-full-width">
                                <mat-icon fxFlex="25px" class="icone material-symbols-outlined">chat</mat-icon>
                                <div fxFlex="100%" fxLayoutAlign="center center">{{ aula.aulaComentarioMany.length }}</div>
                            </div>
                        </div>
                        <div *ngIf="aula.tagMany.length > 0" fxLayout="row" fxLayoutAlign="start center" class="g-card-tags">
                            <div *ngFor="let tag of aula.tagMany"class="g-tag">{{ tag.nome }}</div>
                        </div>
                        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between start" class="card-aula-descricao">
                            <div fxFlex="100px" fxLayout="column" fxLayoutAlign="space-between center" class="aula-autor">
                                <div>Professor</div>
                                <div>{{ aula.professorNome }}</div>
                                <div>FOTO</div>
                            </div>
                            <div fxFlex="100%" fxLayout="column" fxLayoutAlign="space-around start" class="descricao">
                                <div fxLayout="column" fxLayoutAlign="space-between start" class="g-full-width">
                                    <div class="sessao">Sessões</div>
                                    <div fxLayout="row wrap" fxLayoutAlign="start center" class="g-full-width">
                                        <div *ngFor="let sessao of aula.aulaSessaoMany" fxLayout="row" fxLayoutAlign="start center"
                                            class="sessao-text">
                                            <mat-icon class="material-symbols-outlined">arrow_right_alt</mat-icon>
                                            <div>{{ sessao.titulo }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-around center">
                            <div fxLayout="row" fxLayoutAlign="center center" class="card-aula-acessar" 
                                (click)="visualizarAula(aula)">
                                <div>Acessar aula</div>
                                <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.pageMax > 1" fxLayout="row" fxLayoutAlign="center center" class="container-paginacao">
                <mat-icon fxLayoutAlign="center center" class="button-page" (click)="mudarPagina(-1)">
                    chevron_left
                </mat-icon>
                <div>Página {{ pageAtual + 1 }} de {{ pageMax }}</div>
                <mat-icon fxLayoutAlign="center center" class="button-page" (click)="mudarPagina(1)">
                    navigate_next
                </mat-icon>
            </div>
        </div>
    </div>
</div>