.container-home {
    padding: 30px 0;
}

.postagens {
    display: grid;
    width: 400px;
    color: black;

}

.postagens-titulo {
    padding: 10px 0;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid #5d5dff;
    color:#007bff
}

.favoritou {
    color: rgb(64, 148, 64);
}

.button-noticias {
    margin: 8px 0;
    cursor: pointer;
    gap: 5px;
    
}

.button-noticias:hover {
    font-weight: bold;
   
}

.postagem-geral {
    margin-left: 20px;
    width: 90%;
   
}

.postagem-geral-card {
    width: 20%;
    text-align: center;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #919191;
    background-color: #e3c982;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(157, 159, 61, 0.31);
    min-height: 300px;
    color: black;

}

.paragrafo-geral {
    margin-left: 2em;
}

.postagem-geral-conteudos {
    margin-bottom: 20px;
    height: auto;
    gap: 20px;

}

.topicos {
    color: #6297df;
    font-weight: 550;
    font-size: 16px;
    padding: 6px 0px;
    border-bottom: 2px dotted black;
    word-break: break-all;
    
}

.postagem-geral-card-paragrafo {
    line-height: 1.5;
    padding-top: 10px;
    font-weight: 500;

    
}