.container-home {
    padding: 30px 0;
}

.postagens {
    background-color: #D1D1D1;
    border: 2px solid #919191;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(131, 131, 131, 0.589);
    padding: 0 10px 10px 10px;
}

.postagens-titulo {
    padding: 10px 0;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid #5d5dff;
    color: #5d5dff;
}

.container-noticia {
    border-bottom: 2px dotted #5d5dff;
    height: 220px;
}

.titulo-noticia {
    font-weight: bold;
    font-size: 22px;
    margin: 8px 0;
    cursor: pointer;
}

.container-usuario {
    font-size: 11px;
}

.usuario-nome {
    color: #6060ff;
}

.container-curtido {
    font-size: 18px;
    gap: 5px;
}

.favoritou {
    color: rgb(64, 148, 64);
}

.usuario-nome:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.postagem-resumo {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.container-tags {
    margin: 8px 0;
}

.button-noticias {
    margin: 8px 0;
    cursor: pointer;
    gap: 5px;
}

.button-noticias:hover {
    font-weight: bold;
}

.postagem-geral {
    margin-left: 20px;
}

.postagem-geral-card {
    text-align: center;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #919191;
    background-color: #E9E9E9;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(131, 131, 131, 0.589);
    min-height: 300px;
}

.paragrafo-geral {
    margin-left: 2em;
}

.postagem-geral-conteudos {
    margin-bottom: 20px;
    height: auto;
    gap: 20px;
}

.topicos {
    color: #007bff;
    font-weight: 550;
    font-size: 16px;
    padding: 6px 0px;
    border-bottom: 2px dotted black;
    word-break: break-all;
}

.postagem-geral-card-paragrafo {
    line-height: 1.5;
    padding-top: 10px;
    font-weight: 500;
}