<div fxLayout="row" fxLayoutAlign="space-between start" class="container-home">
    <div fxFlex="300px" class="postagens">
        <div fxLayoutAlign="center center" class="postagens-titulo">Ultimas Postagens</div>
        <div *ngFor="let noticia of this.noticiaMany" fxLayout="column" class="container-noticia">
            <span class="titulo-noticia">{{noticia.titulo}}</span>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="usuario-nome">@{{noticia.usuarioNome}}</span>
                <span fxLayoutAlign="end center" class="data-postagem">{{noticia.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}</span>
            </div>
            
            <!-- <div class="postagem-texto" [innerHTML]="noticia.conteudo"></div> -->
            <div class="postagem-resumo">{{noticia.resumo}}</div>
            <div fxLayout="row" fxLayoutAlign="center center" class="container-tags">
                <div *ngFor="let item of noticia.areaInteresses">
                    <span class="tags">{{item.nome}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="postagem-geral" fxFlex="90%">
        <h3> O que é Física ?</h3>
        <p class="paragrafo-geral">A Física é uma ciência que tem como base a experimentação, medições e análises matemáticas,
            para compreender as leis fundamentais da natureza, que serão expresas quantitativamentes. É a partir 
            dessas expressões que podemos prever os comportamentos futuros.
        </p>        

        <h3> Afinal, o que realmente a Física estuda?</h3>
        <p class="paragrafo-geral">A Física é uma ciência fundamental. Ela estuda a natureza e a descreve a partir de leis fundamentais da 
            natureza. Essas <b>leis</b> podem estar relacionadas ao movimento dos corpos, a energia, ao calor, as forças, 
            a matéria, o som, a luz e a estrutura dos átomos.</p>
        <p class="paragrafo-geral">A Física é uma ciência que busca estudar desde a estrutura de um átomo (quarks, leptons, etc) até a origem 
            de todo o Universo.</p>

        <h3> Deve ser muita coisa para estudar, como vou fazer?</h3>
        <p class="paragrafo-geral">Para se compreender desde um átomo até o surgimento do universo é necessário um bom tempo de estudo 
            dos diversos conceitos, leis e teorias que a Física construiu ao longo dos anos. E para compreender 
            cada uma delas temos algumas área que esses conceitos estão:</p>
        <div fxLayout="row" fxLayoutAlign="center center" class="postagem-geral-conteudos">
            <div class="postagem-geral-card" fxFlex="18%">
                <div class="topicos">Mecânica</div>
                <p class="postagem-geral-card-paragrafo">Estuda sobre o movimento dos corpos, como exemplo, a queda 
                    dos corpos, a trajetória, colisões, 
                    movimento de planetas, etc.
                </p>
            </div>
            <div class="postagem-geral-card" fxFlex="18%">
                <div class="topicos">Termodinâmica</div>
                <p class="postagem-geral-card-paragrafo">estuda o calor e seu movimento, está relacionado com a energia 
                    em trânsito, outros conceitos 
                    estudados são: temperatura, equilíbrio térmico, etc.
                </p>
            </div>
            <div class="postagem-geral-card" fxFlex="18%">
                <div class="topicos">Ondulatória</div>
                <p class="postagem-geral-card-paragrafo">engloba propagação de ondas, seja sonora, eletromagnética, ou 
                    ondulações mecânicas. Estuda também 
                    os fenômenos da luz e acústica.
                </p>
            </div>
            <div class="postagem-geral-card" fxFlex="18%">
                <div class="topicos">Eletromagnetismo</div>
                <p class="postagem-geral-card-paragrafo">Estuda fenômenos elétricos e magnéticos.
                </p>
            </div>
            <div class="postagem-geral-card" fxFlex="18%">
                <div class="topicos">Física Moderna</div>
                <p class="postagem-geral-card-paragrafo">descrição dos fenômenos microscópicos ou fenômenos a velocidades
                        relativísticas.
                </p>
            </div>
        </div>
        <h3> Vamos aos estudos</h3>
        <p class="paragrafo-geral">No topo da página do site temos as seções, cada uma delas discute um ramo da Física. Clicando em alguma você 
            será levado a uma nova página que apresentará uma descrição breve da área, aplicações, as aulas, principais 
            conceitos, exercícios e um resumo de formulas e equações.</p>
        <p class="paragrafo-geral">Também temos uma área reservada para exercícios e resolução de provas de vestibular. Para quem está estudando 
            para o vestibular é muito bom treinar os conceitos aprendidos em questões de vestibulares.</p>
        <p class="paragrafo-geral">Outra opção é a área da matemática, com conceitos fundamentais para nossos estudos.</p>
        <p class="paragrafo-geral">Por fim temos a aba "especiais", onde se tem curiosidade, links interessantes e temas focados em outras área, 
            como o estudo da astronomia, cosmologia, história da Física, etc.</p>
    </div>
</div>