.container-home {
    padding: 30px 0;
}

.postagens {
    background-color: #FFCCB6;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(131, 131, 131, 0.589);
    padding: 0 10px 10px 10px;
}

.postagens-titulo {
    padding: 10px 0;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 2px solid rgb(168, 102, 102);
    color: rgb(168, 102, 102);
}

.container-noticia {
    border-bottom: 2px dotted rgb(168, 102, 102);
}

.titulo-noticia {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
}

.usuario-nome {
    font-size: 12px;
    color: #6060ff;
}

.data-postagem {
    font-size: 12px;
}

.postagem-resumo {
    margin-top: 5px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.container-tags {
    margin: 8px 0;
}

.tags {
    font-size: 0.7em;
    border: 1px solid rgb(144, 144, 214);
    border-radius: 20px;
    background-color: #d1d1d1;
    padding: 3px 5px;
    margin: 0 2px;
}

.postagem-geral {
    margin-left: 20px;
}

.postagem-geral-card {
    text-align: center;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #FBC78D;
    background-color: #A8DEE0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(131, 131, 131, 0.589);
    min-height: 300px;
}

.paragrafo-geral {
    margin-left: 2em;
}

.postagem-geral-conteudos {
    margin-bottom: 20px;
    height: auto;
}

.topicos {
    color: #007bff;
    font-weight: 550;
    font-size: 16px;
    padding: 6px 0px;
    border-bottom: 2px dotted black;
    word-break: break-all;
}

.postagem-geral-card-paragrafo {
    line-height: 1.5;
    padding-top: 10px;
}