<div fxLayout="column" class="container-login">
    <div fxLayoutAlign="end end" class="fechar" (click)="fecharModal()">X</div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="!this.isTelaCriarConta">
        <form [formGroup]="this.formLogin" fxLayout="column" fxLayoutAlign="center center" class="container-inputs">
            <mat-form-field class="container-inputs" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" [formControl]="email" matInput required>
                <mat-error *ngIf="email.invalid">Formato de email não é válido</mat-error>
            </mat-form-field>
            <mat-form-field class="container-inputs" appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput formControlName="senha" [formControl]="senha" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <span class="material-icons">
                        {{hide ? 'visibility' : 'visibility_off' }}
                    </span>
                </button>
            </mat-form-field>
            <div class="logar" (click)="logarPerfil()">Logar</div>
        </form>
        <div (click)="telaCriarConta()" class="criar-conta">Criar conta</div>
    </div>

    <div *ngIf="this.isTelaCriarConta" class="container-modal">
        <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
            <mat-tab label="Criar conta">
                <app-criar-conta (ngCriarConta)="requestCriarConta($event)"></app-criar-conta>
            </mat-tab>
            <mat-tab label="Criar perfil (opcional)">
                <app-criar-perfil></app-criar-perfil>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>