<div class="g-column-between-between g-card-postit-yellow card">
    <div class="g-row-center-center g-card-postit-titulo-yellow">
        <span class="perfil-text">Informações gerais sobre as aulas</span>
    </div>
    <div *ngIf="this.AdministradorHomeForumInformacaoModel" class="g-row-between-start container-informacao">
        <div fxFlex="33%">
            <div class="g-column-start-center informacao">
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">full_coverage</mat-icon>
                    <div class="informacao-texto">Fóruns: {{ this.AdministradorHomeForumInformacaoModel.forumCount }} </div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
                    <div class="informacao-texto">Tags: {{ this.AdministradorHomeForumInformacaoModel.forumTagCount }}</div>
                </div>
            </div>
        </div>
        <div fxFlex="33%">
            <div class="g-column-start-center informacao">
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Tópicos: {{ this.AdministradorHomeForumInformacaoModel.forumTopicoCount }}</div>
                </div>
            </div>
        </div>
        <div fxFlex="33%" class="g-column-start-center informacao">
            <div class="g-row-start-center">
                <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                <div class="informacao-texto">Respostas: {{ this.AdministradorHomeForumInformacaoModel.forumTopicoRespostaCount }}</div>
            </div>
            <div class="g-row-start-center">
                <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                <div class="informacao-texto">Replicas: {{ this.AdministradorHomeForumInformacaoModel.forumTopicoReplicaCount }}</div>
            </div>
        </div>
    </div>
</div>