<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start center" class="container-filtro">
        <button mat-stroked-button color="accent" (click)="criarNoticia()">
            <mat-icon class="material-symbols-outlined">note_add</mat-icon>
            Novo noticia
        </button>
        <mat-form-field fxFlex="100%">
            <mat-label>Filtrar noticias</mat-label>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex: aquecimento global" #input>
        </mat-form-field>
    </div>
    <fieldset class="g-fieldset">
        <div class="g-fieldset-titulo">Gerenciar noticias</div>
        <table mat-table [dataSource]="dataSource" class="container-tabela" matSort>
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="35%" fxLayoutAlign="start center" 
                    class="tabela-header"> 
                    Título da noticia
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="35%" fxLayoutAlign="start center" class="coluna"
                    (click)="acessarNoticia(element)"> 
                    {{element.titulo}} 
                </td>
            </ng-container>
    
            <ng-container matColumnDef="resumo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="35%" fxLayoutAlign="start center" 
                    class="tabela-header"> 
                    Resumo da noticia
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="35%" fxLayoutAlign="start center" class="coluna"
                (click)="acessarNoticia(element)"> 
                    <span class="g-text-overflow-2">{{element.resumo}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="areaInteresse">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="30%" fxLayoutAlign="center center"
                    class="tabela-header"> 
                    Área de interesse
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="30%" fxLayoutAlign="center center" class="coluna container-area-interesse"
                    (click)="acessarNoticia(element)"> 
                    <div *ngFor="let areaInteresse of element.areaInteresseMany" fxLayout="row" fxLayoutAlign="start center">
                        <div class="g-tag tag">{{ areaInteresse.nome }}</div> 
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="data-postagem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="150px" fxLayoutAlign="center center"
                    class="tabela-header"> 
                    Data postagem 
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="150px" fxLayoutAlign="center center" class="coluna"
                    (click)="acessarNoticia(element)"> 
                    {{element.dataCadastro | date: 'dd/MM/yyyy HH:mm'}} 
                </td>
            </ng-container>
                    
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef fxFlex="170px" fxLayoutAlign="center center" 
                    class="tabela-header"> 
                    Ações 
                </th>
                <td mat-cell *matCellDef="let element" fxFlex="170px" fxLayoutAlign="center center">
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
                        <button *ngIf="element.usuarioCadastroId == this.usuarioLogado!.id" mat-stroked-button color="primary" (click)="editarNoticia(element)">
                            <mat-icon class="material-symbols-outlined">edit_note</mat-icon>
                            Editar
                        </button>
                        <button mat-icon-button color="warn" (click)="excluirNoticia(element)">
                            <mat-icon class="material-symbols-outlined">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Não foi encontrado nenhuma noticia a partir da busca de: "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </fieldset>
</div>
