.container-filtro,
.container-tabela {
    width: 100%;
}

.coluna:hover ~ .coluna, .coluna:hover, .coluna:has(~ .coluna:hover) {
    background-color: rgba(0, 0, 0, 0.034);
    cursor: pointer;
}

.container-filtro {
    gap: 15px;
    margin-bottom: 20px;
}

.tabela-header {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.container-buttons {
    gap: 10px;
}