.container-favoritado-many {
    padding: 20px;
    height: 100%;
    gap: 50px;
}

.container-filtro {
    gap: 20px;
}

.filtro-text {
    font-weight: bold;
    font-size: 18px;
}

.filtro-item {
    background-color: #E7E7E7;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
}

.filtro-item-selecionado {
    background-color: #afff90;
}

.filtro-icone {
    font-size: 25px;
    width: 0;
    opacity: 0;
    transition: 1s;
}

.filtro-icone-aparecer {
    opacity: 1;
    width: 20px;
    margin-right: 8px;
}

.container-filtro {
    gap: 20px;
}

.card-favoritado {
    width: 450px;
    height: 330px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #969696;
    border: 2px solid black;
    position: relative;
    background-color: #afddbd;
}

.card-expandido {
    width: calc(100vw - 160px);
    height: calc(100vh - 160px);
    margin: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: white;
}

.card-tipo-aula {
    position: absolute;
    top: 10px;
    font-size: 13px;
    font-style: italic;
}

.card-tipo {
    left: 20px;
}

.acessar-aula {
    right: 20px;
}

.acessar-aula:hover,
.card-expandir:hover {
    font-weight: bold;
    cursor: pointer;
}

.card-conteudo {
    margin-top: 20px;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.titulo-sessao {
    font-weight: bold;
}

.card-expandir {
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 13px;
}

.card-imagem {
    border: 2px solid black;
    border-radius: 10px;
    height: 90%;
}

.card-imagem-expandido {
    height: calc(100% - 80px);
}

.aba {
    background-color: #afddbd;
    position: absolute;
    top: -43px;
    left: 23px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid black;
}

.pdf {
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
}

.mural-wrapper {
  width: 100%;
  height: 600px; /* ou 100vh, se for tela cheia */
  overflow: auto;
  border: 3px solid #bbb;
  border-radius: 12px;
  background-color: #fdfaf6; /* tom de papel ou cortiça leve */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: grab;
}

.mural-wrapper:active {
  cursor: grabbing;
}

.mural-content {
  position: relative;
  width: 2000px;
  height: 2000px;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px),
                    linear-gradient(to bottom, #eee 1px, transparent 1px);
  background-size: 200px 200px; /* tamanho dos quadrados da grade */
  transform-origin: 0 0;
}

.card-mural {
  position: absolute;
  cursor: move;
}