.container-favoritado-many {
    padding: 20px;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.container-filtro {
    gap: 20px;
}

.filtro-text {
    font-weight: bold;
    font-size: 18px;
}

.filtro-item {
    background-color: #E7E7E7;
    border-radius: 8px;
    border: 2px solid black;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: bold;
}

.filtro-item-selecionado {
    background-color: #afff90;
}

.filtro-icone {
    font-size: 25px;
    width: 0;
    opacity: 0;
    transition: 1s;
}

.filtro-icone-aparecer {
    opacity: 1;
    width: 20px;
    margin-right: 8px;
}

.container-filtro {
    gap: 20px;
}

.card-favoritado {
    width: 450px;
    height: 330px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #969696;
    border: 2px solid black;
    position: relative;
    background-color: #afddbd;
}

.card-expandido {
    width: 100em;
    height: -webkit-fill-available;
    margin: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    position: fixed;
    background: white;
}

.card-tipo-aula {
    position: absolute;
    top: 10px;
    font-size: 13px;
    font-style: italic;
}

.card-tipo {
    left: 20px;
}

.acessar-aula {
    right: 20px;
}

.acessar-aula:hover,
.card-expandir:hover {
    font-weight: bold;
    cursor: pointer;
}

.card-conteudo {
    margin-top: 20px;
    gap: 15px;
    height: 100%;
    width: 100%;
}

.titulo-sessao {
    font-weight: bold;
}

.card-expandir {
    position: absolute;
    bottom: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 13px;
}

.card-imagem {
    border: 2px solid black;
    border-radius: 10px;
    height: 220px;
}

.card-imagem-expandido {
    height: calc(100% - 80px);
}

.aba {
    background-color: #afddbd;
    position: absolute;
    top: -43px;
    left: 23px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid black;
}