<div class="g-column-start-start container-favoritado-many">
    <!-- TODO, separar componente ou pensar num For -->
    <div class="g-row-center-center g-row-wrap container-filtro">
        <div class="filtro-text">Filtros: </div>
        <div class="g-row-center-center filtro-item"
            [ngClass]="{'filtro-item-selecionado': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Conceito}"
            (click)="selecionouFiltro(this.tipoFiltroFavoritadoEnum.Conceito)">
            <mat-icon class="g-row-center-center filtro-icone material-symbols-outlined" 
                [ngClass]="{'filtro-icone-aparecer': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Conceito}">
                check
            </mat-icon>
            Conceito
        </div>
        <div class="g-row-center-center filtro-item"
            [ngClass]="{'filtro-item-selecionado': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Texto}"
            (click)="selecionouFiltro(this.tipoFiltroFavoritadoEnum.Texto)">
            <mat-icon class="g-row-center-center filtro-icone material-symbols-outlined" 
                [ngClass]="{'filtro-icone-aparecer': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Texto}">
                check
            </mat-icon>
            Texto
        </div>
        <div class="g-row-center-center filtro-item"
            [ngClass]="{'filtro-item-selecionado': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Imagem}"
            (click)="selecionouFiltro(this.tipoFiltroFavoritadoEnum.Imagem)">
            <mat-icon class="g-row-center-center filtro-icone material-symbols-outlined" 
                [ngClass]="{'filtro-icone-aparecer': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Imagem}">
                check
            </mat-icon>
            Imagem
        </div>
        <div class="g-row-center-center filtro-item"
            [ngClass]="{'filtro-item-selecionado': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Equacao}"
            (click)="selecionouFiltro(this.tipoFiltroFavoritadoEnum.Equacao)">
            <mat-icon class="g-row-center-center filtro-icone material-symbols-outlined" 
                [ngClass]="{'filtro-icone-aparecer': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Equacao}">
                check
            </mat-icon>
            Equação
        </div>
        <div class="g-row-center-center filtro-item"
            [ngClass]="{'filtro-item-selecionado': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Aula}"
            (click)="selecionouFiltro(this.tipoFiltroFavoritadoEnum.Aula)">
            <mat-icon class="g-row-center-center filtro-icone material-symbols-outlined" 
                [ngClass]="{'filtro-icone-aparecer': this.filtroSessaoAulaEnum == this.tipoFiltroFavoritadoEnum.Aula}">
                check
            </mat-icon>
            Aula
        </div>
    </div>

    <button mat-flat-button [disabled]="this.isButtonSalvarDisabled" (click)="salvarMural()">
        Salvar mural
    </button>

    <div #muralWrapper class="mural-wrapper" (wheel)="onZoom($event)"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)"
            (mouseup)="onMouseUp()"
            (mouseleave)="onMouseUp()">
        <div class="mural-content" 
            [style.transform]="'scale(' + zoom + ')'" [style.transformOrigin]="'0 0'">
            <ng-container *ngFor="let item of usuarioAulaSessaoFavoritado; index as i">
                <div
                    class="card-mural"
                    cdkDrag
                    [cdkDragFreeDragPosition]="{ x: item.muralPosicaoX, y: item.muralPosicaoY }"
                    (cdkDragEnded)="onDragMoved($event, item)"
                >
                   
                    <div *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Conceito"
                        class="g-column-center-center card-favoritado" [ngClass]="{'card-expandido': this.cardExpandidoMany[i]}">
                        <div class="card-tipo-aula card-tipo">Conceito</div>
                        <div class="card-tipo-aula acessar-aula" (click)="acessarAula(item)">Acessar aula</div>
                        <div class="g-column-start-center card-conteudo">
                            <div class="aba">
                                <div class="titulo-sessao">{{ item.titulo }}</div>
                            </div>
                            
                            <div [innerHTML]="this.trustedDashboardHtml[i]"></div>
                        </div>
                        <div class="card-expandir" (click)="expandirCard(i)">
                            {{ this.cardExpandidoMany[i] ? 'Minimizar' : 'Expandir' }}
                        </div>
                    </div>
                    
                    <div *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Texto"
                        class="g-column-center-center card-favoritado" [ngClass]="{'card-expandido': this.cardExpandidoMany[i]}">
                        <div class="card-tipo-aula card-tipo">Texto</div>
                        <div class="card-tipo-aula acessar-aula" (click)="acessarAula(item)">Acessar aula</div>
                        <div class="g-column-start-center card-conteudo">
                            <div class="aba">
                                <div class="titulo-sessao">{{ item.titulo }}</div>
                            </div>
                            
                            <div [innerHTML]="this.trustedDashboardHtml[i]"></div>
                        </div>
                        <div class="card-expandir" (click)="expandirCard(i)">
                            {{ this.cardExpandidoMany[i] ? 'Minimizar' : 'Expandir' }}
                        </div>
                    </div>
                
                    <div *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Equacao"
                        class="g-column-center-center card-favoritado" [ngClass]="{'card-expandido': this.cardExpandidoMany[i]}"> 
                        <div class="card-tipo-aula card-tipo">Equação</div>
                        <div class="card-tipo-aula acessar-aula" (click)="acessarAula(item)">Acessar aula</div>
                        <div class="g-column-start-center card-conteudo">
                            <div class="aba">
                                <div class="titulo-sessao">{{ item.titulo }}</div>
                            </div>
                            
                            <!-- <ng-katex [equation]="item.conteudo"></ng-katex> -->
                        </div>
                        <div class="card-expandir" (click)="expandirCard(i)">
                            {{ this.cardExpandidoMany[i] ? 'Minimizar' : 'Expandir' }}
                        </div>
                    </div>
                
                    <div *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Imagem"
                        class="g-column-center-center card-favoritado" [ngClass]="{'card-expandido': this.cardExpandidoMany[i]}">
                        <div class="card-tipo-aula card-tipo">Imagem</div>
                        <div class="card-tipo-aula acessar-aula" (click)="acessarAula(item)">Acessar aula</div>
                        <div class="g-column-start-center card-conteudo">
                            <div class="aba">
                                <div class="titulo-sessao">{{ item.titulo }}</div>
                            </div>
                            
                            <img [src]="this.trustedUrlImageHtml[i]" alt="Imagem" class="card-imagem" 
                                [ngClass]="{'card-imagem-expandido': this.cardExpandidoMany[i]}">
                        </div>
                        <div class="card-expandir" (click)="expandirCard(i)">
                            {{ this.cardExpandidoMany[i] ? 'Minimizar' : 'Expandir' }}
                        </div>
                    </div>

                    <div *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Video"
                        class="g-column-center-center card-favoritado" [ngClass]="{'card-expandido': this.cardExpandidoMany[i]}">
                        <div class="card-tipo-aula card-tipo">Video</div>
                        <div class="card-tipo-aula acessar-aula" (click)="acessarAula(item)">Acessar aula</div>
                        <div class="g-column-start-center card-conteudo">
                            <div class="aba">
                                <div class="titulo-sessao">{{ item.titulo }}</div>
                            </div>
                            
                            <iframe *ngIf="!this.cardExpandidoMany[i]" class="g-column-center-center"
                                [height]="this.linkYoutubeMany[i].height" 
                                [src]="this.linkYoutubeMany[i].src">
                            </iframe>
                            <iframe *ngIf="this.cardExpandidoMany[i]" class="g-column-center-center"
                                [width]="this.linkYoutubeMany[i].width" [height]="this.linkYoutubeMany[i].height" 
                                [src]="this.linkYoutubeMany[i].src">
                            </iframe>
                        </div>
                        <div class="card-expandir" (click)="expandirCard(i)">
                            {{ this.cardExpandidoMany[i] ? 'Minimizar' : 'Expandir' }}
                        </div>
                    </div>

                    <div *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Pdf"
                        class="g-column-center-center card-favoritado" [ngClass]="{'card-expandido': this.cardExpandidoMany[i]}">
                        <div class="card-tipo-aula card-tipo">PDF</div>
                        <div class="card-tipo-aula acessar-aula" (click)="acessarAula(item)">Acessar aula</div>
                        <div class="g-column-start-center card-conteudo">
                            <div class="aba">
                                <div class="titulo-sessao">{{ item.titulo }}</div>
                            </div>
                            
                            <iframe *ngIf="item.aulaSessaoTipo == this.tipoSessaoAulaEnum.Pdf && item.arquivoPdf && item.arquivoPdf.conteudo" 
                                class="g-column-start-center pdf" 
                                [src]="this.trustedPdfUrl[i]" type="application/pdf">
                            </iframe>
                        </div>
                        <div class="card-expandir" (click)="expandirCard(i)">
                            {{ this.cardExpandidoMany[i] ? 'Minimizar' : 'Expandir' }}
                        </div>
                    </div>

                </div>
            </ng-container>
        </div>
    </div>
</div>
