<div class="container-tabela-aula" fxLayout="column">
    <div class="container-filtro" fxLayout="row" fxLayoutAlign="start center">
        <button mat-stroked-button color="accent" (click)="criarAula()">
            <mat-icon class="material-symbols-outlined">note_add</mat-icon>
            Novo aula
        </button>
        <mat-form-field fxFlex="100%">
            <mat-label>Filtrar aulas</mat-label>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex: termodinâmica" #input>
        </mat-form-field>
    </div>
    <fieldset class="fieldset-aula">
        <div class="fieldset-label">Gerenciar aulas</div>
        <table mat-table [dataSource]="dataSource" class="container-tabela" matSort>
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header  fxFlex="25%" fxLayoutAlign="start center"> Título da aula</th>
                <td mat-cell *matCellDef="let element" fxFlex="40%" fxLayoutAlign="start center" (click)="acessarAula(element.id)"> 
                    {{element.titulo}} 
                </td>
            </ng-container>
    
            <ng-container matColumnDef="resumo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="25%" fxLayoutAlign="start center"> Resumo da aula</th>
                <td mat-cell *matCellDef="let element" fxFlex="40%" fxLayoutAlign="start center" (click)="acessarAula(element.id)"> 
                    {{element.resumo}} 
                </td>
            </ng-container>
    
            <ng-container matColumnDef="areaFisica">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxLayoutAlign="center center"> Área da Física</th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center" (click)="acessarAula(element.id)"> 
                    {{element.areaFisica}} 
                </td>
            </ng-container>
        
            <ng-container matColumnDef="data-postagem">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxLayoutAlign="center center"> Data postagem </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center" (click)="acessarAula(element.id)"> 
                    {{element.dataCadastro | date: 'dd/MM/yyyy HH:mm'}} 
                </td>
            </ng-container>
        
            <ng-container matColumnDef="comentarios">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxLayoutAlign="center center"> Comentários </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center" (click)="acessarAula(element.id)"> 
                    {{element.comentario}} 
                </td>
            </ng-container>
            
            <ng-container matColumnDef="curtido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxLayoutAlign="center center"> Curtido </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center" (click)="acessarAula(element.id)"> 
                    {{element.curtido}} 
                </td>
            </ng-container>
        
            <ng-container matColumnDef="favoritado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%" fxLayoutAlign="center center"> Favoritado </th>
                <td mat-cell *matCellDef="let element" fxFlex="10%" fxLayoutAlign="center center" (click)="acessarAula(element.id)"> 
                    {{element.favoritado}} 
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef fxFlex="170px" fxLayoutAlign="center center" class="cabecalho"> Ações </th>
                <td mat-cell *matCellDef="let element" fxFlex="170px" fxLayoutAlign="center center">
                    <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
                        <button mat-stroked-button color="primary" (click)="editarAula(element)">
                            <mat-icon class="material-symbols-outlined">edit_note</mat-icon>
                            Editar
                        </button>
                        <button mat-icon-button color="warn" (click)="excluirAula(element)">
                            <mat-icon class="material-symbols-outlined">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Não foi encontrado nenhuma aula a partir da busca de: "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </fieldset>
</div>
