.container-filtro,
.container-tabela {
    width: 100%;
}

.container-filtro {
    gap: 15px;
    margin-bottom: 20px;
}

.fieldset {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    position: relative;
}

.fieldset-titulo {
    position: absolute;
    top: -20px;
    left: 10px;
    background: inherit;
    padding: 0px 5px;
    font-weight: 500;
    color: #2900c5;
    font-size: 20px;
}

.tabela-header {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.container-buttons {
    gap: 10px;
}