.container-criar-perfil {
    padding: 20px;
}

.container-form{
    gap: 20px;
    flex-direction: column !important;
    width: 100%;
}

.container-data {
    position: relative;
}

.width-150px {
    width: 150px;
}

.data-picker {
    position: absolute;
    right: 0;
    top: -10px;
}

.container-escolher-foto {
    margin-top: -30px;
    gap: 10px;
}

.imagem {
    border: 2px solid black;
    border-radius: 10px;
    width: 100px;
}