<div class="g-column-start-start g-full-width" class="container-filtro">
    <div class="text-filtro g-full-width">Filtros</div>
    <mat-form-field appearance="outline" class="g-full-width">
        <mat-label>Nome do professor</mat-label>
        <input [formControl]="formControlNomeProfessor" matInput (change)="filtroNomeProfessor()">
    </mat-form-field> 
    <mat-form-field appearance="outline" class="g-full-width">
        <mat-label>Título da aula</mat-label>
        <input [formControl]="formControlTitulo" matInput (change)="filtroTitulo()">
    </mat-form-field>    
    <mat-form-field appearance="outline" class="g-full-width">
        <mat-label>Data início</mat-label>
        <input [formControl]="formControlDataInicio" matInput [matDatepicker]="pickerDataInicio" (dateChange)="filtroDataInicio()">
        <mat-datepicker-toggle matIconSuffix [for]="pickerDataInicio"></mat-datepicker-toggle>
        <mat-datepicker #pickerDataInicio></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="g-full-width">
        <mat-label>Data fim</mat-label>
        <input [formControl]="formControlDataFim" matInput [matDatepicker]="pickerDataFim" (dateChange)="filtroDataFim()">
        <mat-datepicker-toggle matIconSuffix [for]="pickerDataFim"></mat-datepicker-toggle>
        <mat-datepicker #pickerDataFim></mat-datepicker>
    </mat-form-field>
    <div class="g-row-between-center container-ordenar">
        <div class="text-ordenar">Ordenar por</div>
        <div class="g-row-start-center icone-resetar" [ngClass]="{'icone-resetar-on': this.formControlOrdenar.value}" (click)="resetOrdenar()">
            <div>reset</div>
            <mat-icon class="g-row-center-center icone-resetar material-symbols-outlined" 
                [ngClass]="{'icone-resetar-on': this.formControlOrdenar.value}">
                tab_close
            </mat-icon>
        </div>
    </div>
    <mat-radio-group [formControl]="formControlOrdenar" class="g-row-start-center g-row-wrap container-radio">
        <mat-radio-button value="1" (click)="ordenar(tipoOrdenarAulaFiltroEnum.Curtida)">Curtidas</mat-radio-button>
        <mat-radio-button value="2" (click)="ordenar(tipoOrdenarAulaFiltroEnum.Favorito)">Favoritados</mat-radio-button>
        <mat-radio-button value="3" (click)="ordenar(tipoOrdenarAulaFiltroEnum.Comentario)">Comentarios</mat-radio-button>
    </mat-radio-group>
    <div class="g-row-between-center container-ordenar">
        <div class="text-ordenar">Filtrar por tag</div>
        <div class="g-row-start-center icone-resetar" [ngClass]="{'icone-resetar-on': this.tagSelectedId.length > 0}" (click)="resetTag()">
            <div>reset</div>
            <mat-icon class="g-row-center-center icone-resetar material-symbols-outlined" 
                [ngClass]="{'icone-resetar-on': this.tagSelectedId.length > 0}">
                tab_close
            </mat-icon>
        </div>
    </div>
    <div class="window-tag">
        <div class="g-row-wrap container-tag">
            <div *ngFor="let tag of this.tagMany" class="tag" [ngClass]="{'tag-selecionada': this.tagSelectedId.includes(tag.id)}"
                (click)="selecionarTag(tag)">
                {{ tag.nome }}
            </div>
        </div>
    </div>
</div>