.container-aulas {
    gap: 50px;
    margin: 20px 0;
    overflow-x: auto;
}

.container-widget {
    width: 33%;
    min-width: 400px;
}

.widget-titulo {
    font-weight: bold;
    font-size: 30px;
}

.card {
    height: 200px;
    padding: 20px;
    background-color: #ffcd76;
}

.card-titulo {
    background-color: #ffcd76;
    text-overflow: ellipsis;
}

.card-mover-direita {
    right: 15px;
    top: -57px;
    left: unset;
    width: 20px;
    font-size: 10px;
    color: #5d5d5d;
    background-color: #ffcd76;
}

.card-titulo-cursando,
.card-titulo-concluido {
    margin-left: 55px;
    max-width: 240px;
}

.card-mover-direita:hover,
.card-mover-esquerda:hover {
    color: black;
    cursor: pointer;
}

.card-mover-esquerda {
    top: -57px;
    left: 15px;
    width: 20px;
    font-size: 10px;
    color: #5d5d5d;
    background-color: #ffcd76;
}


.container-aula {
    margin-top: 30px;
    position: relative;
}

.mover-esquerda {
    left: 0;
}

.card-aula-acessar {
    border: 1px solid black;
    background-color: rgb(106, 199, 30);
    padding: 4px 15px;
    border-radius: 20px;
    cursor: pointer;
    gap: 5px;
    transform: translateY(10px);
}

.card-aula-acessar:hover {
    background-color: rgb(76, 141, 23);
    color: white;
}

.container-descricao-many {
    gap: 8px;
}

.descricao-titulo {
    font-size: 11px;
    color: #5d5d5d;
}

.descricao {
    font-size: 18px;
    font-weight: 500;
    margin-left: 20px;
    text-overflow: ellipsis;
}

.container-resumo {
    margin-top: 10px;
    overflow-y: auto;
    height: 100%;
    max-height: 110px;
}

.resumo {
    height: 70px;
}