<div *ngIf="this.widget" fxLayout="row" fxLayoutAlign="space-between start" class="container-aulas">
    <div fxFlex="33%" fxLayout="column" class="g-gap-60">
        <div class="widget-titulo">Para cursar</div>
        <div *ngFor="let widget of this.widget.widgetCursar; index as i" fxLayout="column">

            <div fxLayout="column" fxLayoutAlign="start start" class="g-card-postit-yellow card">
                <div class="g-card-postit-titulo-yellow card-titulo">{{ widget.aula!.titulo }}</div>
                <div class="g-card-postit-titulo-yellow card-mover-direita" (click)="moverParaCursando(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para cursando">move_item</mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="g-full-width">
                    <div fxLayout="column">
                        <div class="descricao-titulo">Área da física</div>
                        <app-aula-icone class="descricao" [areaFisicaId]="widget.aula!.areaFisicaId" [areaFisicaNome]="true">
                        </app-aula-icone>
                    </div>
                    <div fxLayout="column">
                        <div class="descricao-titulo">Professor</div>
                        <!-- <div class="descricao">{{ widget.aula!.professorNome }}</div> -->
                        <div class="descricao">Fernando Carvalho Birznek</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="container-resumo">
                    <div class="resumo">{{ widget.aula!.resumo }}</div>
                </div>
                <div fxLayoutAlign="center center" class="g-full-width">
                    <div fxLayout="row" fxLayoutAlign="center center" class="card-aula-acessar" 
                        (click)="visualizarAula(widget)">
                        <div>Acessar aula</div>
                        <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                    </div>
                </div>
                
            </div>
            
        </div>
        TODO, paginação
    </div>

    <div fxFlex="33%" fxLayout="column" class="g-gap-60">
        <div class="widget-titulo">Cursando</div>
        <div *ngFor="let widget of this.widget.widgetCursando; index as i" fxLayout="column">

            <div fxLayout="column" fxLayoutAlign="start start" class="g-card-postit-yellow card">
                <div class="g-card-postit-titulo-yellow card-titulo-cursando">{{ widget.aula!.titulo }}</div>
                <div class="g-card-postit-titulo-yellow card-mover-esquerda" (click)="moverParaCursar(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para cursando">keyboard_return</mat-icon>
                </div>
                <div class="g-card-postit-titulo-yellow card-mover-direita" (click)="moverParaConcluido(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para concluído">move_item</mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="g-full-width">
                    <div fxLayout="column">
                        <div class="descricao-titulo">Área da física</div>
                        <app-aula-icone class="descricao" [areaFisicaId]="widget.aula!.areaFisicaId" [areaFisicaNome]="true">
                        </app-aula-icone>
                    </div>
                    <div fxLayout="column">
                        <div class="descricao-titulo">Professor</div>
                        <!-- <div class="descricao">{{ widget.aula!.professorNome }}</div> -->
                        <div class="descricao">Fernando Carvalho Birznek</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="container-resumo">
                    <div class="resumo">{{ widget.aula!.resumo }}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="card-aula-acessar" 
                    (click)="visualizarAula(widget)">
                    <div>Acessar aula</div>
                    <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                </div>
            </div>
            
        </div>
        TODO, paginação
    </div>

    <div fxFlex="33%" fxLayout="column" class="g-gap-60">
        <div class="widget-titulo">Concluido</div>
        <div *ngFor="let widget of this.widget.widgetConcluido; index as i" fxLayout="column">

            <div fxLayout="column" fxLayoutAlign="start start" class="g-card-postit-yellow card">
                <div class="g-card-postit-titulo-yellow card-titulo-concluido">{{ widget.aula!.titulo }}</div>
                <div class="g-card-postit-titulo-yellow card-mover-esquerda" (click)="moverParaCursando(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para cursando">keyboard_return</mat-icon>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="g-full-width">
                    <div fxLayout="column">
                        <div class="descricao-titulo">Área da física</div>
                        <app-aula-icone class="descricao" [areaFisicaId]="widget.aula!.areaFisicaId" [areaFisicaNome]="true">
                        </app-aula-icone>
                    </div>
                    <div fxLayout="column">
                        <div class="descricao-titulo">Professor</div>
                        <!-- <div class="descricao">{{ widget.aula!.professorNome }}</div> -->
                        <div class="descricao">Fernando Carvalho Birznek</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" class="container-resumo">
                    <div class="resumo">{{ widget.aula!.resumo }}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center" class="card-aula-acessar" 
                    (click)="visualizarAula(widget)">
                    <div>Acessar aula</div>
                    <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                </div>
            </div>
        </div>
        TODO, paginação
    </div>
</div>