<div *ngIf="this.widget" class="g-row-between-start container-aulas">
    <div class="g-column-start-center g-gap-60 container-widget">
        <div class="widget-titulo">Para cursar</div>
        <div *ngFor="let widget of this.widget.widgetCursar; index as i" class="g-column-start-center">

            <div class="g-column-space-between-start g-card-postit-yellow card">
                <div class="g-card-postit-titulo-yellow card-titulo">{{ widget.aula!.titulo }}</div>
                <div class="g-card-postit-titulo-yellow card-mover-direita" (click)="moverParaCursando(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para cursando">move_item</mat-icon>
                </div>
                <div class="g-row-between-center g-full-width">
                    <div class="g-column-start-center">
                        <div class="descricao-titulo">Área da física</div>
                        <app-aula-icone class="descricao" [areaFisicaId]="widget.aula!.areaFisicaId" [areaFisicaNome]="true">
                        </app-aula-icone>
                    </div>
                    <div class="g-column-start-center">
                        <div class="descricao-titulo">Professor</div>
                        <!-- <div class="descricao">{{ widget.aula!.professorNome }}</div> -->
                        <div class="descricao">Fernando Carvalho Birznek</div>
                    </div>
                </div>
                <div class="g-row-start-start container-resumo">
                    <div class="resumo">{{ widget.aula!.resumo }}</div>
                </div>
                <div class="g-column-center-center g-full-width">
                    <div class="g-row-center-center card-aula-acessar" 
                        (click)="visualizarAula(widget)">
                        <div>Acessar aula</div>
                        <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                    </div>
                </div>
                
            </div>
            
        </div>
        TODO, paginação
    </div>

    <div class="g-column-start-center g-gap-60 container-widget">
        <div class="widget-titulo">Cursando</div>
        <div *ngFor="let widget of this.widget.widgetCursando; index as i" class="g-column-start-center">

            <div class="g-column-start-start g-card-postit-yellow card">
                <div class="g-card-postit-titulo-yellow card-titulo-cursando">{{ widget.aula!.titulo }}</div>
                <div class="g-card-postit-titulo-yellow card-mover-esquerda" (click)="moverParaCursar(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para cursando">keyboard_return</mat-icon>
                </div>
                <div class="g-card-postit-titulo-yellow card-mover-direita" (click)="moverParaConcluido(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para concluído">move_item</mat-icon>
                </div>
                <div class="g-row-between-center g-full-width">
                    <div class="g-column-start-center">
                        <div class="descricao-titulo">Área da física</div>
                        <app-aula-icone class="descricao" [areaFisicaId]="widget.aula!.areaFisicaId" [areaFisicaNome]="true">
                        </app-aula-icone>
                    </div>
                    <div class="g-column-start-center">
                        <div class="descricao-titulo">Professor</div>
                        <!-- <div class="descricao">{{ widget.aula!.professorNome }}</div> -->
                        <div class="descricao">Fernando Carvalho Birznek</div>
                    </div>
                </div>
                <div class="g-row-start-start container-resumo">
                    <div class="resumo">{{ widget.aula!.resumo }}</div>
                </div>
                <div class="g-row-center-center card-aula-acessar" 
                    (click)="visualizarAula(widget)">
                    <div>Acessar aula</div>
                    <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                </div>
            </div>
            
        </div>
        TODO, paginação
    </div>

    <div class="g-column-start-center g-gap-60 container-widget">
        <div class="widget-titulo">Concluido</div>
        <div *ngFor="let widget of this.widget.widgetConcluido; index as i" class="g-column-start-center">

            <div class="g-column-start-start g-card-postit-yellow card">
                <div class="g-card-postit-titulo-yellow card-titulo-concluido">{{ widget.aula!.titulo }}</div>
                <div class="g-card-postit-titulo-yellow card-mover-esquerda" (click)="moverParaCursando(widget)">
                    <mat-icon class="material-symbols-outlined" matTooltip="Mover para cursando">keyboard_return</mat-icon>
                </div>
                <div class="g-row-between-center g-full-width">
                    <div class="g-column-start-center">
                        <div class="descricao-titulo">Área da física</div>
                        <app-aula-icone class="descricao" [areaFisicaId]="widget.aula!.areaFisicaId" [areaFisicaNome]="true">
                        </app-aula-icone>
                    </div>
                    <div class="g-column-start-center">
                        <div class="descricao-titulo">Professor</div>
                        <!-- <div class="descricao">{{ widget.aula!.professorNome }}</div> -->
                        <div class="descricao">Fernando Carvalho Birznek</div>
                    </div>
                </div>
                <div class="g-row-start-start container-resumo">
                    <div class="resumo">{{ widget.aula!.resumo }}</div>
                </div>
                <div class="g-row-center-center card-aula-acessar" 
                    (click)="visualizarAula(widget)">
                    <div>Acessar aula</div>
                    <mat-icon class="material-symbols-outlined">menu_book</mat-icon>
                </div>
            </div>
        </div>
        TODO, paginação
    </div>
</div>