<div fxLayout="column" class="container-forum-tag">
    <h2>Nova tag do fórum</h2>
    <form [formGroup]="this.formGroupForumTag" fxLayout="column" fxLayoutAlign="start start" class="g-container-form-inputs">   
      <mat-form-field appearance="outline" class="g-full-width">
        <mat-label>Nome da tag</mat-label>
        <input formControlName="formTitulo" matInput required>
        <mat-error *ngIf="formTitulo.invalid">Nome é obrigatório</mat-error>
      </mat-form-field>          
    </form>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
      <button mat-stroked-button color="warn" (click)="fecharModal()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        Cancelar
      </button>
      <button mat-stroked-button color="primary" [disabled]="!this.formGroupForumTag.valid" (click)="requestCriarForumTag()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        Criar tag
      </button>
    </div>
</div>