<div *ngIf="this.forum; else loading" fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="space-between space-between" class="g-card-postit-yellow card">
        <div class="g-card-postit-titulo-yellow" fxLayout="row" fxLayoutAlign="center center">
            <span class="perfil-text">{{ this.forum.titulo }}</span>
        </div>
        <div>{{ this.forum.descricao }}</div>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="start center" class="container-filtro">
        <button mat-stroked-button color="accent" (click)="criarForum()">
            <mat-icon class="material-symbols-outlined">note_add</mat-icon>
            Novo fórum
        </button>
        <mat-form-field fxFlex="100%">
            <mat-label>Filtrar fórum</mat-label>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex: energia solar" #input>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start start" class="container-forum-many">
        <div *ngFor="let forumTopico of this.forumTopicoMany">
            <div fxLayout="column" fxLayoutAlign="space-between space-between" class="card-forum">
                <div fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between start">
                    <div fxFlex="30%" fxLayout="column" fxLayoutAlign="space-between center" class="aula-autor">
                        <div class="g-text-overflow-2 usuario-nome">{{ forumTopico.usuarioNome }}</div>
                        <div *ngIf="this.forumTopico.usuarioFoto" fxLayout="column" fxLayoutAlign="space-between center">
                            <img fxFlex="100px" [src]="'data:image/png;base64,' + this.forumTopico.usuarioFoto" alt="Imagem" class="imagem">
                        </div>
                        <div *ngIf="!this.forumTopico.usuarioFoto">
                            Sem foto
                        </div>
                    </div>
                    <div fxFlex="1px" class="divisor"></div>
                    <div fxFlex="70%" fxLayout="column" fxLayoutAlign="space-around start" class="descricao">
                        <div fxLayout="row" fxLayoutAlign="center center" class="g-full-width">
                            <div class="titulo">{{ forumTopico.titulo }}</div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="space-between start" class="g-full-width">
                            <div fxLayout="row" fxLayoutAlign="space-around center" class="container-tags">
                                <div *ngFor="let tag of forumTopico.forumTagMany" fxLayout="row" fxLayoutAlign="start center">
                                    <span class="g-tag">{{ tag.titulo }}</span>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-around center" class="g-full-width">
                            <div class="button-acessar" (click)="acessarForumTopico(forumTopico)">Acessar</div>
                            <div fxLayout="row" fxLayoutAlign="center center" class="container-resposta">
                                <mat-icon class="material-symbols-outlined">forum</mat-icon>
                                <div>{{ forumTopico.resposta }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" class="data-cadastro">
                    <div>Cadastro: {{ forumTopico.dataCadastro | date : 'dd/MM/yyyy' }}</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around center" class="data-atualizacao">
                    <div>Atualizado: {{ forumTopico.dataAtualizacao | date : 'dd/MM/yyyy' }}</div>
                </div>
                <div [ngSwitch]="forumTopico.forumTopicoEnum" class="tipo-topico">
                    <div *ngSwitchCase="this.forumTopicoEnum.Conceito">
                        <mat-icon class="material-symbols-outlined">drag_handle</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Equacao">
                        <mat-icon class="material-symbols-outlined">function</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Curiosidade">
                        <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Exercicio">
                        <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Vestibular">
                        <mat-icon class="material-symbols-outlined">school</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Noticia">
                        <mat-icon class="material-symbols-outlined">newspaper</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Geral">
                        <mat-icon class="material-symbols-outlined">contact_support</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>Carregando informações</ng-template>