<div *ngIf="this.forum; else loading" class="g-column-start-start container-forum-topico">
    <div class="g-column-between-between g-card-postit-yellow card">
        <div class="g-row-center-center g-card-postit-titulo-yellow">
            <span class="perfil-text">{{ this.forum.titulo }}</span>
        </div>
        <div>{{ this.forum.descricao }}</div>
    </div>
    
    <div *ngIf="this.usuarioLogado" class="g-row-start-center container-filtro">
        <button class="g-row-center-center g-button-adicionar button-adicionar" (click)="criarForum()">
            <mat-icon class="material-symbols-outlined">note_add</mat-icon>
            Novo fórum
        </button>
        <mat-form-field class="g-full-width">
            <mat-label>Filtrar fórum</mat-label>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ex: energia solar" #input>
        </mat-form-field>
    </div>
    <div class="g-row-start-start g-row-wrap container-forum-many">
        <div *ngFor="let forumTopico of this.forumTopicoMany">
            <div class="g-column-between-between card-forum">
                <div class="g-full-width g-row-between-start">
                    <div class="g-column-between-center aula-autor">
                        <div class="g-text-overflow-2 usuario-nome">{{ forumTopico.usuarioNome }}</div>
                        <div *ngIf="this.forumTopico.usuarioFoto" class="g-column-between-center">
                            <img [src]="'data:image/png;base64,' + this.forumTopico.usuarioFoto" alt="Imagem" class="imagem">
                        </div>
                        <div *ngIf="!this.forumTopico.usuarioFoto">
                            Sem foto
                        </div>
                    </div>
                    <div class="divisor"></div>
                    <div class="g-column-around-start descricao">
                        <div class="g-row-center-center g-full-width">
                            <div class="titulo">{{ forumTopico.titulo }}</div>
                        </div>
                        <div class="g-column-between-start g-full-width">
                            <div class="g-row-around-center container-tags">
                                <div *ngFor="let tag of forumTopico.forumTagMany" class="g-row-start-center">
                                    <span class="g-tag">{{ tag.titulo }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="g-row-around-center g-full-width">
                            <div class="button-acessar" (click)="acessarForumTopico(forumTopico)">Acessar</div>
                            <div class="g-row-center-center container-resposta">
                                <mat-icon class="material-symbols-outlined">forum</mat-icon>
                                <div>{{ forumTopico.resposta }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-row-around-center data-cadastro">
                    <div>Cadastro: {{ forumTopico.dataCadastro | date : 'dd/MM/yyyy' }}</div>
                </div>
                <div class="g-row-around-center data-atualizacao">
                    <div>Atualizado: {{ forumTopico.dataAtualizacao | date : 'dd/MM/yyyy' }}</div>
                </div>
                <div [ngSwitch]="forumTopico.forumTopicoEnum" class="tipo-topico">
                    <div *ngSwitchCase="this.forumTopicoEnum.Conceito">
                        <mat-icon class="material-symbols-outlined">drag_handle</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Equacao">
                        <mat-icon class="material-symbols-outlined">function</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Curiosidade">
                        <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Exercicio">
                        <mat-icon class="material-symbols-outlined">fitness_center</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Vestibular">
                        <mat-icon class="material-symbols-outlined">school</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Noticia">
                        <mat-icon class="material-symbols-outlined">newspaper</mat-icon>
                    </div>
                    <div *ngSwitchCase="this.forumTopicoEnum.Geral">
                        <mat-icon class="material-symbols-outlined">contact_support</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>Carregando informações</ng-template>