.card {
    padding: 30px;
    margin-top: 50px;
}

.container-forum-many {
    gap: 25px;
    margin-bottom: 25px;
}

.container-filtro {
    gap: 15px;
    margin-bottom: 20px;
}

.card-forum {
    border: 2px solid #797979;
    background-color: #E1E1E1;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(128, 128, 128, 0.658);
    width: 400px;
    padding: 15px;
    gap: 10px;
    height: 200px;
    position: relative;
    margin-bottom: 50px;
}

.titulo {
    font-size: 16px;
    font-weight: bold;
}

.aula-autor, 
.descricao {
    gap: 8px;
    height: 100%;
}

.usuario-nome {
    font-size: 12px;
    text-align: center;
}

.imagem {
    border: 2px solid black;
    border-radius: 10px;
}

.divisor {
    height: 100%;
    width: 1px;
    background-color: #e07a5f;
}

.container-tags {
    position: absolute;
    bottom: -50px;
    left: 20px;
    background-color: #e1e1e1;
    border-left: 2px solid #919191;
    border-bottom: 2px solid #919191;
    border-right: 2px solid #919191;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 5px;
    gap: 10px;
}

.container-resposta {
    gap: 8px;
}

.button-acessar {
    border: 1px solid black;
    background-color: rgb(106, 199, 30);
    padding: 4px 15px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    gap: 5px;
}

.button-acessar:hover {
    background-color: rgb(76, 141, 23);
    color: white;
}

.tipo-topico {
    position: absolute;
    top: 5px;
    right: 10px;
}

.data-cadastro {
    position: absolute;
    top: -27px;
    left: 20px;
    background-color: #e1e1e1;
    border-left: 2px solid #919191;
    border-top: 2px solid #919191;
    border-right: 2px solid #919191;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    font-size: 10px;
}

.data-atualizacao {
    position: absolute;
    top: -27px;
    right: 20px;
    background-color: #e1e1e1;
    border-left: 2px solid #919191;
    border-top: 2px solid #919191;
    border-right: 2px solid #919191;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    font-size: 10px;
}