<div fxLayout="column" fxLayoutAlign="start start" class="container-area-interesse">
    <div class="titulo">Alterar área de interesse</div>
    <div class="texto">Selecione até 5 áreas de interesse:</div>
    <div fxLayout="row wrap" class="container-check">
        <section *ngFor="let areaInteresse of this.areaInteresseMany">
            <mat-checkbox [ngClass]="{'check-ativo': this.selecionado.includes(areaInteresse.id)}" 
                [checked]="this.selecionado.includes(areaInteresse.id)" 
                (change)="selecionouAreaInteresse(areaInteresse, $event)">
                {{areaInteresse.nome}}
            </mat-checkbox>
        </section>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
        <button mat-stroked-button color="warn" (click)="fecharModal()">
            <mat-icon class="material-symbols-outlined">cancel</mat-icon>
            Cancelar
        </button>
        <button mat-stroked-button color="primary" (click)="requestUsuarioAreaInteresse()">
            <mat-icon class="material-symbols-outlined">draw</mat-icon>
            Alterar
        </button>
    </div>
</div>