<div class="g-column-start-center container-forum-topico">
    <div class="g-row-end-end fechar" (click)="fecharModal()">X</div>
    <h2>Criando novo tópico do fórum</h2>
    <form [formGroup]="this.formGroupForumTopico" class="g-column-start-center">   
        <mat-form-field  appearance="outline" class="g-full-width">
            <mat-label>Título</mat-label>
            <input formControlName="formTitulo" matInput required>
            <mat-error *ngIf="formTitulo.invalid">Titulo é obrigatório</mat-error>
        </mat-form-field>
        <div class="g-row-around-center container-topico-tags">
            <div class="g-column-start-start width-50pc">
                <h4>Selecione um tipo de tópico:</h4>
                <mat-radio-group class="g-row-start-start g-row-wrap container-topico" formControlName="formTipoTopico">
                    <mat-radio-button [value]="this.forumTopicoEnum.Geral">Geral</mat-radio-button>
                    <mat-radio-button [value]="this.forumTopicoEnum.Conceito">Conceito</mat-radio-button>
                    <mat-radio-button [value]="this.forumTopicoEnum.Equacao">Equação</mat-radio-button>
                    <mat-radio-button [value]="this.forumTopicoEnum.Curiosidade">Curiosidade</mat-radio-button>
                    <mat-radio-button [value]="this.forumTopicoEnum.Exercicio">Exercício</mat-radio-button>
                    <mat-radio-button [value]="this.forumTopicoEnum.Vestibular">Vestibular</mat-radio-button>
                    <mat-radio-button [value]="this.forumTopicoEnum.Noticia">Notícia</mat-radio-button>
                </mat-radio-group>  
            </div>
            <div class="g-column-start-start width-50pc">
                <h4>Selecione as tags do tópico:</h4>
                <div class="g-row-start-start g-row-wrap container-tags">
                    <section *ngFor="let forumTag of this.forumTagMany">
                        <mat-checkbox (change)="selecionouForumTag(forumTag, $event)">{{forumTag.titulo}}</mat-checkbox>
                    </section>
                </div>
            </div>
        </div>
        <app-ckeditor (onAlterouEditor)="alterouFormEditor($event)"></app-ckeditor>
    </form>
    <div class="g-row-around-center container-buttons">
        <button mat-stroked-button color="warn" (click)="fecharModal()">
            <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
            Cancelar
        </button>
        <button mat-stroked-button color="primary" [disabled]="!this.formGroupForumTopico.valid" (click)="requestCriarForumTopico()">
            <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
            Novo fórum tópico
        </button>
    </div>
</div>