<div fxLayout="column" class="container-aula">
    <h2>Atualizar informações aula</h2>
    <form [formGroup]="this.formGroupAula" fxLayout="column" class="g-container-form-inputs">   
        <mat-form-field appearance="outline">
            <mat-label>Área da Física</mat-label>
            <mat-select formControlName="formAreaFisica" matInput>
                <mat-option *ngFor="let area of this.areaFisicaMany" [value]="area.id">{{ area.descricao }}</mat-option>
            </mat-select>
            <mat-error *ngIf="formAreaFisica.invalid">Área da Física é obrigatória</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="outline">
            <mat-label>Título</mat-label>
            <input formControlName="formTitulo" matInput required>
            <mat-error *ngIf="formTitulo.invalid">Titulo é obrigatório</mat-error>
        </mat-form-field>         
        <mat-form-field appearance="outline">
            <mat-label>Resumo</mat-label>
            <textarea maxlength="200" formControlName="formResumo" matInput required></textarea>
            <mat-error *ngIf="formResumo.invalid">Resumo é obrigatória</mat-error>
        </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="container-buttons">
      <button mat-stroked-button color="warn" (click)="fecharModal()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        Cancelar
      </button>
      <button mat-stroked-button color="primary" [disabled]="!this.formGroupAula.valid" (click)="atualizarAulaInformacao()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        Atualizar informações
      </button>
    </div>
</div>