<div fxLayout="column" fxLayoutAlign="start center">
    <div class="titulo">FÓRUM</div>´
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <div *ngFor="let forum of this.forumMany" fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>{{ forum.titulo }}</div>
            <img *ngIf="forum.id == 1" class="imagem" src="../../../../assets/imagens/header/mecanica.png">
            <img *ngIf="forum.id == 2" class="imagem" src="../../../../assets/imagens/header/termodinamica.png">
            <img *ngIf="forum.id == 3" class="imagem" src="../../../../assets/imagens/header/ondulatoria.png">
            <img *ngIf="forum.id == 4" class="imagem" src="../../../../assets/imagens/header/eletromagnetismo.png">
            <img *ngIf="forum.id == 5" class="imagem" src="../../../../assets/imagens/header/fisicamoderna.png">
            <img *ngIf="forum.id == 6" class="imagem" src="../../../../assets/imagens/header/matematica.png">
            <img *ngIf="forum.id == 7" class="imagem" src="../../../../assets/imagens/header/vestibular.png">
            <img *ngIf="forum.id == 8" class="imagem" src="../../../../assets/imagens/header/home.png">
            <div class="acessar" (click)="acessarForum(forum.id)">Acessar</div>
        </div>
    </div> 
</div>
