<div *ngIf="this.aula; else carregando" class="g-column-start-start container-aula">
  <div class="g-row-center-center g-container-voltar" (click)="voltarPaginaPainelProfessor()">
    <mat-icon class="material-symbols-outlined">undo</mat-icon>
    <span>Voltar</span>
  </div>
  <div class="g-column-between-between g-card-postit-yellow card">
    <div class="g-row-center-center g-card-postit-titulo-yellow">
        Informações da Aula
        <mat-icon class="icone-edit material-symbols-outlined" (click)="editarAulaInformacao()" 
          matTooltip="Editar informações">
          edit_document
        </mat-icon>
    </div>
    <div class="g-column-start-start container-informacao">
      <div class="g-row-start-center">
        <span class="label">Área da Física: </span>
        <span>{{ this.aula.areaFisicaTitulo }}</span>
      </div>
      <div class="g-row-start-center">
        <span class="label">Título: </span>
        <span>{{ this.aula.titulo }}</span>
      </div>
      <div class="g-row-start-center">
        <span class="label">Resumo: </span>
        <span>{{ this.aula.resumo }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="this.aula && this.usuarioLogado">
    <app-editar-aula-posterior-anterior [aulaSessaoLength]="this.aulaSessaoMany.length" [aula]="this.aula" 
      [usuarioLogado]="this.usuarioLogado" (onNovaSessao)="novaSessao()">
    </app-editar-aula-posterior-anterior>
  </div>
  
  <div cdkDropList (cdkDropListDropped)="ordenarSessao($event)">
    <div cdkDrag *ngFor="let sessao of this.aulaSessaoMany; index as i" class="g-column-center-center g-card-postit-yellow card-sessao">
      <div cdkDragHandle class="container-move">
        <mat-icon class="icone-move material-symbols-outlined" matTooltip="Ordenar sessão. Clique, segure e arraste">
          open_with
        </mat-icon>
      </div>
      <div class="container-icones">
        <mat-icon class="icone material-symbols-outlined" (click)="deletarSessao(sessao)" matTooltip="Deletar sessão">
          delete
        </mat-icon>
      </div>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="g-row-center-center g-card-postit-titulo-yellow">
        {{ sessao.titulo }}
        <mat-icon *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Conceito || 
          sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Texto || sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Equacao" 
          class="icone-edit material-symbols-outlined" (click)="editarSessao(sessao)" 
          matTooltip="Editar sessão">
          edit_document
        </mat-icon>
      </div>
      <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Conceito" class="g-column-center-center conceito"
        [innerHTML]="this.trustedDashboardHtml[i]">
      </div>
      <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Texto" class="g-column-center-center" 
        [innerHTML]="this.trustedDashboardHtml[i]">
      </div>
      <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Equacao"> 
        <ng-katex [equation]="sessao.conteudo"></ng-katex>
      </div>
      <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Imagem" class="g-column-cecnter-start">
        <img [src]="this.trustedUrlImageHtml[i]" alt="Imagem" class="imagem">
      </div>
      <iframe *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Video" class="g-column-center-center"
        [width]="this.linkYoutubeMany[i].width" [height]="this.linkYoutubeMany[i].height" 
        [src]="this.linkYoutubeMany[i].src">
      </iframe>
      <iframe *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Pdf && sessao.arquivoPdf && sessao.arquivoPdf.conteudo" 
        class="g-column-start-start pdf" 
        [src]="this.trustedPdfUrl[i]">
      </iframe>
    </div>
  </div>
</div>

<ng-template #carregando>
  Carregando....
</ng-template>