<div fxLayout="column" class="container-aula">
  <fieldset class="fieldset">
    <div fxLayout="row" fxLayoutAlign="center center" class="fieldset-titulo">
      Informações da Aula
      <mat-icon class="icone-editar material-symbols-outlined" (click)="editarAulaInformacao()">edit</mat-icon>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" class="container-informacao">
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="label">Área da Física: </span>
        <span>{{ this.aula.areaFisicaDescricao }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="label">Título: </span>
        <span>{{ this.aula.titulo }}</span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <span class="label">Resumo: </span>
        <span>{{ this.aula.resumo }}</span>
      </div>
    </div>
  </fieldset>
  <h3 class="titulo-bloco titulo-espacado">Sessões</h3>
  <button mat-stroked-button color="primary" (click)="novaSessao()" class="button-nova-sessao">
    <mat-icon class="material-symbols-outlined">list_alt_add</mat-icon>
    Nova sessão
  </button>
  <div cdkDropList (cdkDropListDropped)="ordenarSessao($event)">
    <div cdkDrag *ngFor="let sessao of this.aulaSessaoMany; index as i" fxLayout="column" class="container-sessao-many">
      <div cdkDragHandle class="container-move">
        <mat-icon class="icone-move material-symbols-outlined">open_with</mat-icon>
      </div>
      <div class="container-icones">
        <mat-icon class="icone material-symbols-outlined" (click)="editarSessao(sessao)">edit</mat-icon>
        <mat-icon class="icone material-symbols-outlined" (click)="deletarSessao(sessao)">delete</mat-icon>
      </div>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div fxLayout="column" fxLayoutAlign="center center" class="titulo-sessao">
        {{ sessao.titulo }}
      </div>
      <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Conceito || sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Texto" 
        fxLayout="column" fxLayoutAlign="center center" [innerHTML]="this.trustedDashboardHtml[i]">
      </div>
      <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Equacao"> 
        <ng-katex [equation]="sessao.conteudo"></ng-katex>
      </div>
    </div>
  </div>
</div>