<!-- <div class="conteudo">
    <h1><span class="conteudo-titulo">Aula 2</span></h1>
    <div fxDELETELayout="column" fxLDELETEayoutAlign="center center" class="card-11">
        <h2>Referencial</h2>
        <div fxLayDELETEout="row" fxDELETELayoutAlign="space-between center">
            <p fxFlex="45%">Para estudarmos a mecânica vamos precisar saber bem o que vem a ser um referencial. Pois é a partir dele 
                que vamos definir de onde estamos fazendo as medições. Por exemplo, quando estou medindo qual o tamanho 
                do meu lápis, o ponto onde se encontra o valor zero da minha régua é a origem do sistema de coordenadas, 
                desse modo podemos saber qual o tamanho do lápis, no exemplo temos queo lápis tem tamanhode 14 cm. 
                Geralmente o eixo horizontal, chamamos de eixo 'x' e o representamos como um flecha para direita e nesse 
                eixo temos divisões que representam valores de acordo com a medida que estamos fazendo. No nosso caso as 
                divisões são em centímetros.
            </p>
            <img fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-1.png">
        </div>
        <div fxLayouDELETEt="row" fxLaDELETEyoutAlign="center center">
            <img fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-2.png">
            <div fxFlex="45%" fxLayouDELETEt="column" fxLayoDELETEutAlign="center center">
                <p>Podemos deslocar nosso sistema de referencial para a direita, porém a nossa medida vai ser alterada, 
                    se medirmos a partir da origem o lápis vai ter um tamanho menor, como podemos fazer? Para isso precisamos 
                    relembrar que existem valores negativos, desse modo a esquerda da origem teremos valores cada vez menores. 
                    Para relizar o calculo para o tamanho do lápis devemos fazer:
                </p>
                <p>A posição onde termina o lápis (vamos considerar a ponta dele) menos onde inicia (a parte da borracha), 
                    ficará então, 6 - (-8) = 6 + 8 = 14 cm
                </p>
                <p>Ao decorrer dos estudo essa ideia de trabalhar com os valores negativos do eixo ficará mais clara, pois 
                    apareceram mais exemplos e outras maneiras de se trabalhar com esse tipo de situação.
                </p>
            </div>
        </div>
        <div fxLayDELETEout="row" fxLDELETEayoutAlign="space-between center">
            <p fxFlex="45%">Agora vamos pensar em outro caso, vamos pedir o tamanho de nossa borracha. tanto na horizontal como na vertical. 
                Nesse caso precisamos de duas réguas, como pode ser visto ao lado. Vimos que na horizontal podemos usar a ideia 
                de eixo de coordenadas x, na vertical podemos utilizar a mesma ideia, porém nesse caso vamos chamar de eixo de 
                coordenadas 'y'. Considerando a origem no valor 0, teremos uma medida na horizontal de 9 cm e na vertical de 4 cm.
            </p>
            <img  fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-3.png">
        </div>
        <div fxLayouDELETEt="row" fxLaDELETEyoutAlign="space-between center">
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-4.png">
            <p fxFlex="50%">A partir desses eixos, x e y, temos o chamado plano cartesiano, como na figura a esquerda. É a partir 
                dele que faremos todas as medições, e sempre devemos colocar a origem em algum lugar para podermos analisar.
                Vamos fazer um exercício para treinarmos essa ideia da utilização do plano cartesiano e de estabelecer 
                um referencial a partir da figura a seguir.
            </p>
        </div>
        <div fxLayoDELETEut="row" fxLaDELETEyoutAlign="space-between center">
            <img fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-5.png">
            <p fxFlex="45%">Vamos separar alguns itens para verificarmos: 1) qual seria a distância em metros do bonequinho do meio até o 
                bonequinho da direita? 2) qual a distância do bonequinho do meio para o cachorrinho a esquerda dele? 3) se colocarmos 
                o referencial no cachorrinho, qual a distância dele até o boneco do meio? 4) e dele até a bonequinha da direita?
            </p>
        </div>
        <p>Para o item 1 temos que colocar a origem do nosso referencial no bonequinho do meio, e vamos dizer que existe um certo espaçamento 
            que está relacionada com uma distância em metros. Assim sendo podemos notar pela figura da esquerda que a distância em relação a 
            origem é de 3 metros.
        </p>
        <div fxLaDELETEyout="row" fxLayDELETEoutAlign="space-between center">   
            <p fxFlex="50%"> Para o item 2 podemos notar que a distancia do cachorrinho em relação a origem é de aproximadamente -2 metros. O menos nos diz 
                que se encontra para trás da origem, e o valor da distância é 2 metros.
            </p>
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-6.png">
        </div>
        <p>Para o item 3 precisamos alterar a localização do nosso eixo, devemos colocar a origem no cachorrinho.
        </p>
        <p> A distância do cachorrinho até o boneco do meio é de 2 metros. Para o item 4, a distância do cachorrinho 
            até a boneca da direita é de 5 metros.
        </p>
        <div fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
            <div fxFlex="50%" fxLayDELETEout="column" fxLDELETEayoutAlign="center center">
                <p>Vamos pensar num item 5, tomando o referencial no cachorrinho, qual a distância do bonequinho do meio até 
                    a boneca da direita?
                </p>
                <p>Nesse caso teremos a distância da boneca da direita até o cachorrinho menos a distância do boneco do meio 
                    até o cachorrinho, ou seja, 5 - 2 = 3 metros.
                </p>
            </div>
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-7.png">
        </div>
        <p>
            Vimos até agora como definimos um referencial e como medir a distância de um local a outro. É muito importante 
            saber como definir o referencial, com o tempo vamos pegar prática. Até o momento utilizamos apenas uma coordenada 
            nos exemplos apresentados, por enquanto será assim, quando chegarmos em lançamento de projéteis trabalharemos em 
            duas dimensões, ou seja, no eixo x e no y. Mas isso é assunto para mais tarde. Por enquanto vamos continuar a 
            entender melhor como trabalhamos utilizando apenas uma dimensão. A seguir vamos compreender o que vem a ser 
            <span class="conceito">Posição</span>, <span class="conceito">Deslocamento</span> e <span class="conceito">Distância total</span>.
        </p>
    </div>
    <div fxDELETELayout="column" fxLayDELETEoutDELETEAlign="center center" class="card-11">
        <h2>Posição</h2>
        <div fxLaDELETEyout="row" fxLaDELETEyoutAlign="space-between center">
            <div fxFlex="50%" fxLaDELETEyout="column" fxLaDELETEyoutAlign="center center">
                <p>O conceito posição foi discutido implicitamente no tópico anterior, ele nos diz a medida de um corpo em relação a origem 
                    do eixo de coordenadas, geralmente usamos uma variável para nos fornecer essa informação da posição, e ela está vinculada 
                    com o eixo de coordenadas, como estamos usando o eixo 'x', a posição vai ter relação com o 'x'. Para melhor compreendermos 
                    vamos usar o mesmo exemplo anterior, mas agora colocando o referencial na árvore, como pode ser observado na figura ao lado.
                </p>
                <p>Assim sendo podemos notar que a posição do cachorro em relação a árvore é uma flecha que aponta da origem até a posição do cachorro 
                    e tem o valor como sendo Xc = 1 m, ou seja, a posição (X) do cachorro (c) em relação a origem é igual a 1 metro.
                </p>
                <p>Nos outros exemplos temos que a posição do boneco em relação a origem é de 3 metros (Xb = 3 m). A posição da boneca da direita 
                    em relação a origem é de 6 metros (Xbd = 3 m).
                </p>
            </div>
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-8.png">
        </div>
        <p>Os indices ao lado direito do 'x' (c, b, bd) são usados apenas para diferenciarmos as posições de cada um e para lembrarmos 
            quem são, por exemplo, o 'c' usamos para lembrar que é cachorro.
        </p>
        <p>Vamos enfatizar o que é a posição, definimos a posição como sendo:</p>
        <p class="definicao">a medida de um corpo em relação a origem do eixo de coordenadas</p>
        <p>Não esqueça que a unidade de medida no SI é metros, então sempre tente utilizar nessa unidade.</p>

        <h2>Deslocamento</h2>
        <div fxLDELETEayout="row" fxLDELETEayoutAlign="space-between center">
            <div fxFlex="50%" fxLaDELETEyout="column" fxLDELETEayoutAlign="center center">
                <p> O conceito deslocamento é novo para nós, vamos imaginar a seguinte situação, o cachorrinho sai de sua posição inicial 
                    e vai até o boneco do meio.
                </p>
                <p>Como vimos anteriormente a posição do cachorro é de 1 metro em relação a origem e consideramos então como sendo a posição inicial.</p>
            </div>
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-9.png">
        </div>
        <div fxLaDELETEyout="row" fxLaDELETEyoutAlign="space-between center">
            <img fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-10.png">
            <div fxFlex="45%">
                <p>Temos que o cachorrinho vai se mover até o boneco do meio, atingindo uma posição final, como pode ser visto na 
                    imagem da esquerda.
                    
                    O deslocamento é a medida de uma posição final menos a posição inicial, no nosso caso podemos observar abaixo 
                    um novo simbolo, o delta: &Delta; ele representa que existe uma variação, ou seja  &Delta;x é uma variação no 
                    eixo x. Fazendo a conta temos que o cachorrinho teve um deslocamento de 2 metros.
                </p>
                <img class="img" class="text-center" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-12.png">
            </div>
        </div>
        <div fxLayoDELETEut="row" fxLDELETEayoutAlign="space-between center">
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-11.png">
            <div fxFlex="50%" fxLayDELETEout="column" fxLaDELETEyoutAlign="center center">
                <p>Vamos enfatizar o que é a deslocamento, definimos como sendo:</p>
                <p class="definicao">a variação da posição de um corpo em relação a uma origem no eixo de coordenadas</p>
                <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-14.png">
            </div>
        </div>

        <h2>Distância total</h2>
        <p>Vamos agora pensar na Distância total, como o próprio nome diz ele é a distância total que um corpo percorre.
            Vamos a um exemplo, se o boneco do meio sai de sua posição inicial (x1), faz um deslocamento até o início do banco 
            e volta para ir até o cachorrinho. Qual é o deslocamento?
        </p>
        <p>Podemos notar pelas figuras abaixo que ocorre dois deslocamento, o primeiro é positivo e o segundo negativo. Para a distância total 
            devemos sempre fazer a soma de todos os deslocamentos, ou seja, consideramos sempre em modulo. Iremos representar aqui a 
            distância total como sendo a letra 'd'.
        </p>
        <div fxLayDELETEout="row" fxLDELETEayoutAlign="space-between center">
            <img fxFlex="30%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-13.png">
            <img fxFlex="30%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-15.png">
            <img fxFlex="30%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-16.png">
        </div>
        <div fxLayDELETEout="row" fxLayDELETEoutAlign="space-between center">
            <p fxFlex="20%">Vamos calcular o deslocamento em cada um dos casos. Primeiro da posição 1 (x1) até a posição 2 (x2), depois da posição 2 (x2) 
                até a posição 3 (x3).
            </p>
            <div fxFlex="35%" fxLayoDELETEut="column" fxDELETEayoutAlign="center center">
                <p>Aqui temos o primeiro cálculo do deslocamento:</p>
                <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-17.png">
                <p>Temos que o deslocamento foi de 1 metro. O índice '12' representa que ocorreu um deslocamento de 1 para 2.</p>
            </div>
            <div fxFlex="35%" fxLaDELETEyout="column" fxLaDELETEyoutAlign="center center">
                <p>Aqui temos o segundo cálculo do deslocamento:</p>
                <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-18.png">
                <p>Observe que temos um sinal negativo, o boneco está indo no sentido da origem do sistema. O índice '23' representa 
                    que ocorreu um deslocamento de 2 para 3.</p>
            </div>
        </div>
        <div fxLayDELETEout="row" fxLDELETEayoutAlign="space-between center">
            <div fxFlex="30%" fxLayDELETEout="column" fxDELETELayoutAlign="center center">
                <p>Aqui temos o calculo da Distância total:</p>
                <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-dois/aula-2-19.png">
            </div>
            <p fxFlex="60%">Nesse caso como relatamos anteriormente, a distância total sempre considera os deslocamento como sendo todos positivo, ou seja 
                ele considera os deslocamentos em módulo (representado pelo simbolo '|  |'). Assim sendo temos que a distância total é de 4 metros.
            </p>
        </div>
        <div>
            <p>Vamos enfatizar o que é a Distância total, definimos como sendo:</p>
            <p class="definicao">a soma dos módulos de todos os deslocamentos que um corpo realiza</p>
        </div>
    </div>
</div> -->
