.container-noticia {
    gap: 20px;
    position: relative;
}

.icone-close {
    position: absolute;
    top: -15px;
    right: -10px;
}

.icone-close:hover {
    color: rgb(233, 111, 111);
    cursor: pointer;
}

.noticia-titulo {
    font-size: 22px;
    font-weight: bold;
}

.noticia-autor,
.noticia-data-cadastro {
    font-size: 14px;
    font-style: italic;
}

.container-curtido {
    font-size: 18px;
    gap: 5px;
    cursor: pointer;
    margin-left: 20px;
}

.favoritou {
    color: rgb(64, 148, 64);
}

.divisoria {
    height: 1px;
    background-color: #ccc;
}