<div *ngIf="this.noticia; else loading" fxLayout="column" class="container-noticia">
    <mat-icon class="icone-close material-symbols-outlined" (click)="this.fecharModal()">close</mat-icon>
    <div fxLayout="row" fxLayoutAlign="center center"class="noticia-titulo">{{ this.noticia.titulo }}</div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
            <div *ngFor="let item of this.noticia.areaInteresseMany">
                <span class="g-tag">{{item.nome}}</span>
            </div>
            <div *ngIf="this.noticia" fxLayout="row" fxLayoutAlign="center center" class="container-curtido" 
                [ngClass]="{'favoritou': this.usuarioNoticiaFavoritado}"
                (click)="curtirNoticia()">
                <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
                <div>{{ this.noticia.favoritado }}</div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center end">
            <div class="noticia-autor">{{ this.noticia.usuarioCadastroNome }}</div>
            <div class="noticia-data-cadastro">{{ this.noticia.dataCadastro | date : 'dd/MM/yyyy HH:mm' }}</div>
        </div>
    </div>     
    <div class="divisoria"></div>
    <div [innerHTML]="this.trustedDashboardHtml"></div>
</div>
<ng-template #loading>
    Carregando...
</ng-template>