<!-- <div class="conteudo">
    <h1><span class="conteudo-titulo">Aula 4</span></h1>
    <div class="card-11">
        <h2>Equação do MRU</h2>
        <p> Vimos na aula anterior o que é rapidez e velocidade. Se ainda não viu é importante que retorne e compreenda a diferença entre esses dois conceitos.
        </p>
        <div fxLaDELETEyout="row" fxLayDELETEoutAlign="space-between center">
            <p fxFlex="55%"> Na aula de hoje vamos deduzir e compreender a equação do movimento retilíneo uniforme (MRU), também conhecida como equação horária do movimento uniforme. 
                Sabemos que o calculo da velocidade é dado por: 
            </p>
            <img fxFlex="40%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/eq-velocidade.png">
        </div>
        <p>
            Temos nessa equação que a velocidade no eixo x é igual a diferença entre a distância final menos a inicial divididos pela diferença entre o 
            tempo final menos o tempo inicial. Vamos manipular essa formula, de maneira a considerar que o tempo inicial é igual a zero e vamos isolar a posição final.
        </p>
        <div fxLayDELETEout="row" fxLayDELETEoutAlign="center center">
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/eq-MRU.png">
        </div>

        <h4>Exemplo</h4>
        <p>
            A partir dessa equação podemos fazer algumas coisas, por exemplo, prever a posição final de um determinado objeto que se move com uma certa velocidade durante um certo tempo.
            Vamos na sequencia fazer um exemplo prático da utilização dessa equação.
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-1.png">
        <p>
            Hilda está indo para a escola e ela gostaria de saber qual é a velocidade que ela caminha até a escola. Ela sabe que cada quadra tem 100 metros e existem exatamente 3 quadras 
            entre ela e a escola, como podemos ver na figura acima. A partir dessa distância ela começa a marcar o tempo que levou para percorrer essas 3 quadras, tendo cronometrado
            10 minutos. A partir dessas informações ela pode então calcular a velocidade nesse percurso, para realizar isso pode-se utilizar a equação do MRU deduzida anteriormente:
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/sol-exemplo-1.png">
        <p>
            Descobrimos assim que a velocidade de caminhada da Hilda é de 0,5 metros por segundo, ou, 50 centimetros por segundo. É importante destacar que devemos sempre 
            anotar os dados que temos dos problemas, deixar separado e bem visiveis. Outro ponto importante é as unidades, vamos sempre tentar respeitar o SI (sistema internacional de unidades).
            No nosso caso já tinhamos o comprimento em metros e só precisamos converter os minutos em segundos.
        </p>

        <h4>Exemplo</h4>
        <p>Vamos fazer mais um exemplo para fixarmos mais a utilização da equação do MRU.</p>
        <div fxLayDELETEout="row" fxLaDELETEyoutAlign="space-between center">
            <p fxFlex="70%">
                Vamos imaginar que Juquinha quer lançar um foguete com uma câmera para descobrir o que tem na Lua. Ele fez o calculo de modo a lançar o foguete em linha reta conforme 
                a figura ao lado. Juquinha sabe que a distância entre a Terra e a Lua é de 384.400 km e que a velocidade média de seu foguete é de 28.000 km/h. Assim sendo, quanto tempo vai 
                demorar até o foguete chegar a lua?
            </p>
            <img fxFlex="25%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-2.png">
        </div>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/sol-exemplo-2.png">
        <p>
            Temos como resposta que o foguete vai demorar aproximadamente 13,73 horas para chegar até a Lua. Notemos que trabalhamos nesse caso com unidades fora do SI, é importante sabermos quando usar ou converter 
            as unidades. Nesse exemplo trabalhar em metros ou segundos ficaria muito grande os números e para melhor termos noção foi melhor deixar em quilometros e horas. Veja que ao falarmos 13 horas 
            temos mais noção de tempo do que 46.600 segundos.
        </p>
        <p>
            Na figura a seguir temos um pequeno resumo da equação aprendida nessa seção:
        </p>
        <div fxLayoDELETEut="row" fxLDELETEayoutAlign="center center">
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/eq-resumo-MRU.png">
        </div>
    </div>

    <div class="card-11">
        <h2>Gráfico do MRU posição versus tempo (X x t)</h2>
        <p>
            Outra maneira de se trabalhar com movimento retilíneo uniforme é a partir de gráficos. Vamos pensar na seguinte situação: Doutor Estranho 
            está viajando de carro e percebe que na pista existe alguns pontos demarcados na estrada, esses pontos servem para caso aconteça algum acidente ou 
            que precise rebocar algum carro, é a partir da demarcação que se acha o local exato de onde aconteceu o acidente ou do carro, geralmente essa demarcação 
            tem a distância entre cada ponto de 1 km. A partir do km 10 Doutor estranho começa a cronometrar quanto tempo ele demorar para passar por cada ponto demarcado, 
            cronometrando então 1 min entre cada ponto.
            Observe a figura:
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-3.png">
        <div fxLDELETEayout="row" fxLayDELETEoutAlign="space-between center">
            <p fxFlex="55%">
                Vamos montar um gráfico com base nessa situação. No eixo horizontal vamos tem o tempo e no eixo vertical o comprimento x tendo como origem o km 0 ( apartir desse 
                gráfico podemos deduzir a equação horária do MRU, ver seção matemática equação da reta). Partindo desse gráfico vamos pegar dois pontos, vamos escolher 
                o ponto B e E. Cada um dos pontos tem duas propriedades, o comprimento e o tempo.
            </p>
            <img fxFlex="40%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/graf-1.png">
        </div>
        <div fxLayDELETEout="row" fxLDELETEayoutAlign="space-between center">
            <div fxFlex="48%" fxLayoDELETEut="column" fxLaDELETEyoutAlign="center center">
                <p>O ponto B tem como dados: 11 km e 1 min. O ponto E tem como dados: 14 km e 4 min. Vamos separar os dados:</p>
                <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-graf-1.png">
            </div>
            <div fxFlex="48%" fxLayDELETEout="column" fxLayoDELETEutAlign="center center">
                <p>
                    Ao realizar o calculo ao lado chegamos ao resultado de que a velocidade do carro é de 1 km/min, ou seja, a cada minuto o carro 
                    vai percorrer 1 km a mais. Se observarmos o gráfico é isso exatamente o que ocorre. Se quiser podemos transformar 
                    essa velocidade em uma unidade já conhecida como km/h, se fizermos a transformação isso vai acarretar numa velocidade de 
                    60 km/h.
                </p>
                <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/kmMin-kmH.png">
            </div>
        </div>
        <div fxLayouDELETEt="row" fxLDELETEayoutAlign="center center">
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-graf-calculo.png">
        </div>

        <h4>Exemplo</h4>
        <p>
            Outro gráfico que pode aparecer nos estudo é quando o motorista se aproxima da origem do referencial, ou seja, da posição 0 (zero). Um caso assim seria o Doutor 
            Estranho retornando de viagem, teriamos a seguinte figura:
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-4.png">
        <p>
            Vamos montar um gráfico com base nessa situação. Partindo desse gráfico vamos pegar dois pontos, vamos escolher 
            o ponto F e B. Cada um dos pontos tem duas propriedades, o comprimento e o tempo.
        </p>
        <div fxLayDELETEout="row" fxLDELETEayoutAlign="space-between center">
            <div fxFlex="45%" fxLaDELETEyout="column" fxLDELETEayoutAlign="center center">
                <p>O ponto B tem como dados: 15 km e 0 min. O ponto E tem como dados: 11 km e 4 min. Vamos separar os dados:</p>
                <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-graf-2.png">
            </div>
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/graf-2.png">
        </div>
        <div fxLayoDELETEut="row" fxLDELETEayoutAlign="center center">
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-quatro/exemplo-graf-calculo-2.png">
        </div>
        <p>
            Ao realizar o calculo ao lado chegamos a um resultado muito parecido com o anterior, a mudança ocorre no sinal devido ao carro estar se aproximando da origem. 
            O resultado nos diz que a cada minuto o carro vai percorrer 1 km a menos se comparado com a origem, ou seja, se aproximar. Nesse caso temos então uma velocidade 
            negativa, se fizermos a transformação de km/min para km/h ficará -60 km/h.
        </p>
    </div>

    <div class="card-11">
        <h2>Gráfico do MRU velocidade versus tempo (v x t)</h2>
        <p>
            Outra maneira de se trabalhar com movimento retilíneo uniforme é a partir de gráficos. Vamos pensar na seguinte situação: Doutor Estranho 
        </p>
    </div>
</div> -->