<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="g-dot-mecanica"></div>
            <div class="titulo">Mecânica</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="container-voltar" (click)="voltarPaginaMecanica()">
            <mat-icon class="material-symbols-outlined">undo</mat-icon>
            <span>Voltar</span>
        </div>
    </div>
    
    <div class="titulo-aula">{{ this.aula.titulo }}</div>

    <div fxLayout="column" fxLayoutAlign="center end">
        <div class="aula-autor" (click)="visualizarPerfil()">
            Nome do professor
        </div>
        <div class="aula-data-cadastro">{{ this.aula.dataCadastro | date : 'dd/MM/yyyy HH:mm' }}</div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="container-icones">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="icone" (click)="curtirAula()">
                <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
                <div>{{ this.aula.curtido }}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="icone" (click)="favoritarAula()">
                <mat-icon class="material-symbols-outlined">star</mat-icon>
                <div>{{ this.aula.favoritado }}</div>
            </div>
        </div>
    </div>

    <div *ngIf="this.usuarioLogado && this.usuarioLogado.tipoUsuario == 1" fxLayout="row" fxLayoutAlign="start center" 
        class="container-salvar-aula">
        <span>salvar em:</span>
        <div class="salvar-aula para-cursar" [ngClass]="{'para-cursar-selecionado': this.widgetCursar }" 
            (click)="cursar()">
            Para cursar
        </div>
        <div class="salvar-aula cursando"  [ngClass]="{'para-cursando-selecionado': this.widgetCursando }" 
            (click)="cursando()">
            Cursando
        </div>
        <div class="salvar-aula concluido" [ngClass]="{'para-concluido-selecionado': this.widgetConcluido }" 
            (click)="concluido()">
            Concluído
        </div>
    </div>
    
    <fieldset class="g-fieldset">
        <div class="g-fieldset-titulo">Resumo</div>
        <div>{{ this.aula.resumo }}</div>
    </fieldset>

    <div *ngFor="let sessao of this.aula.aulaSessaoMany; index as i" fxLayout="column" class="container-sessao-many">
        <div fxLayout="column" fxLayoutAlign="center center" class="titulo-sessao">
        {{ sessao.titulo }}
        </div>
        <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Conceito || sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Texto" 
            fxLayout="column" fxLayoutAlign="center center" [innerHTML]="this.trustedDashboardHtml[i]">
        </div>
        <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Equacao"> 
        <ng-katex [equation]="sessao.conteudo"></ng-katex>
        </div>
    </div>
    <div>
        Parte dos comentários
    </div>
</div>
    