<div class="g-column-start-start container-aula">
    <div class="g-row-center-center g-container-voltar" (click)="voltarPaginaMecanica()">
        <mat-icon class="material-symbols-outlined">undo</mat-icon>
        <span>Voltar</span>
    </div>

    <div class="g-row-start-start g-card-postit-yellow card">
        <div class="g-card-postit-titulo-yellow">Informações da aula</div>
        <div class="g-column-between-start g-card-icone-many">
            <div *ngIf="!this.usuarioAulaCurtido" class="g-row-start-center g-full-width" 
                [ngClass]="{'g-disable-event': !this.usuarioLogado}" (click)="curtirAula()">
                <mat-icon class="icone material-symbols-outlined" [ngClass]="{'g-disable-event': !this.usuarioLogado}">
                    thumb_up
                </mat-icon>
                <div class="g-full-width g-row-center-center">{{ aula.curtido }}</div>
            </div>
            <div *ngIf="this.usuarioAulaCurtido" class="g-row-start-center g-full-width" 
                (click)="removerCurtirAula()">
                <mat-icon class="icone icone-curtido material-symbols-outlined">thumb_up</mat-icon>
                <div class="g-full-width g-row-center-center">{{ aula.curtido }}</div>
            </div>
            <div *ngIf="!this.usuarioAulaFavoritada" class="g-row-start-center g-full-width" 
                [ngClass]="{'g-disable-event': !this.usuarioLogado}" (click)="favoritarAula()">
                <mat-icon class="icone material-symbols-outlined" [ngClass]="{'g-disable-event': !this.usuarioLogado}">star</mat-icon>
                <div class="g-full-width g-row-center-center">{{ aula.favoritado }}</div>
            </div>
            <div *ngIf="this.usuarioAulaFavoritada" class="g-row-start-center g-full-width" 
                (click)="removerAulaFavoritada()">
                <mat-icon class="icone icone-curtido material-symbols-outlined">star</mat-icon>
                <div class="g-full-width g-row-center-center">{{ aula.favoritado }}</div>
            </div>
            <div class="g-row-start-center g-full-width">
                <mat-icon class="icone material-symbols-outlined" 
                    [ngClass]="{'icone-curtido': this.isUsuarioAulaComentado}">
                    chat
                </mat-icon>
                <div class="g-full-width g-row-center-center">{{ aula.aulaComentarioMany.length }}</div>
            </div>
        </div>
        <div *ngIf="this.usuarioLogado && this.usuarioLogado.tipoUsuario == 1" class="g-card-tags card-tags">
            <div *ngIf="this.usuarioLogado && this.usuarioLogado.tipoUsuario == 1" class="g-row-start-center container-salvar-aula">
                <span>salvar em:</span>
                <div class="salvar-aula para-cursar" [ngClass]="{'para-cursar-selecionado': this.widgetCursar }" 
                    (click)="cursar()">
                    Para cursar
                </div>
                <div class="salvar-aula cursando"  [ngClass]="{'para-cursando-selecionado': this.widgetCursando }" 
                    (click)="cursando()">
                    Cursando
                </div>
                <div class="salvar-aula concluido" [ngClass]="{'para-concluido-selecionado': this.widgetConcluido }" 
                    (click)="concluido()">
                    Concluído
                </div>
            </div>
        </div>
        <div class="g-column-start-center" class="container-foto">
            <div class="aula-autor" (click)="visualizarPerfil()">{{ aula.usuarioNome }}</div>
            <div *ngIf="aula.usuarioFoto" class="g-column-between-center">
                <img [src]="'data:image/png;base64,' + aula.usuarioFoto" alt="Imagem" class="imagem-foto">
            </div>
            <div *ngIf="!aula.usuarioFoto">
                Sem foto
            </div>
        </div>
        <div class="g-full-width g-column-start-start">
            <div class="g-row-start-center">
                <span class="aula-informacao">Data cadastro: </span>
                <div class="informacao">{{ this.aula.dataCadastro | date : 'dd/MM/yyyy HH:mm' }}</div>
            </div>
            <div class="g-row-start-center">
                <span class="aula-informacao">Resumo: </span>
                <div class="informacao">{{ this.aula.resumo }}</div>
            </div>
        </div>
    </div>

    <div *ngFor="let sessao of this.aula.aulaSessaoMany; index as i" class="g-column-center-center g-card-postit-yellow card-sessao">
        <div class="g-card-postit-titulo-yellow">{{ sessao.titulo }}</div>
        <div *ngIf="this.usuarioLogado && this.usuarioLogado.tipoUsuario != 0" 
            class="g-column-between-start g-card-icone-many" 
            [ngClass]="{'card-icone-many': this.usuarioAulaSessaoFavoritado.includes(sessao.id)}">
            <div *ngIf="!this.usuarioAulaSessaoFavoritado.includes(sessao.id)" class="g-row-center-center adicionar-favorito"
                (click)="salvarSessaoFavoritado(sessao)" matTooltip="Adicionar aos favoritos">
                <mat-icon class="material-symbols-outlined">bookmark_add</mat-icon>
            </div>
            <div *ngIf="this.usuarioAulaSessaoFavoritado.includes(sessao.id)" class="g-row-center-center remover-favorito"
                (click)="removerSessaoFavoritado(sessao)" matTooltip="Remover dos favoritos">
                <mat-icon class="material-symbols-outlined">bookmark_added</mat-icon>
            </div>
        </div>

        <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Conceito" 
            class="g-column-center-center conceito" [innerHTML]="this.trustedVisualizarAulaHtml[i]">
        </div>
        <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Texto" 
            class="g-column-center-center" [innerHTML]="this.trustedVisualizarAulaHtml[i]">
        </div>
        <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Equacao"> 
            <app-katex [equacao]="sessao.conteudo"></app-katex>
        </div>
        <div *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Imagem">
            <img [src]="this.trustedUrlImageHtml[i]" alt="Imagem" class="g-row-center-start imagem">
        </div>
        <iframe *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Video" class="g-column-center-center" 
            [width]="this.linkYoutubeMany[i].width" [height]="this.linkYoutubeMany[i].height" 
            [src]="this.linkYoutubeMany[i].src">
        </iframe>
        <iframe *ngIf="sessao.aulaSessaoTipo == this.tipoSessaoAulaEnum.Pdf && sessao.arquivoPdf && sessao.arquivoPdf.conteudo" 
            class="g-column-start-start pdf" 
            [src]="this.trustedPdfUrl[i]" type="application/pdf">
        </iframe>
    </div>

    <div class="g-row-between-center container-anterior-posterior">
        <div class="button-anterior-posterior button-aula-anterior" [ngClass]="{'button-disabled': !this.aula.aulaAnteriorId}"
            (click)="acessarAulaAnterior()">
            Acessar aula anterior
        </div>
        <div class="button-anterior-posterior button-aula-posterior" [ngClass]="{'button-disabled': !this.aula.aulaPosteriorId}"
            (click)="acessarAulaPosterior()">
            Acessar próxima aula
        </div>
    </div>
 
    <div class="g-column-start-start container-comentario-cards">
        <div class="text-comentarios">Comentários</div>
        <div *ngIf="this.usuarioLogado && this.usuarioLogado.tipoUsuario != 0 && !escreverComentario"
            class="g-column-start-start button-comentario" (click)="comentar()">
            Escrever comentário
        </div>
        <div *ngIf="this.usuarioLogado && this.usuarioLogado.tipoUsuario != 0 && escreverComentario" class="g-column-start-start">
            <form [formGroup]="this.formComentario" class="g-column-center-center g-full-width">
                <app-ckeditor (onAlterouEditor)="alterouFormEditor($event)"></app-ckeditor>
            </form>

            <div class="g-row-around-center container-buttons">
                <button mat-stroked-button color="accent" (click)="cancelarComentario()">Cancelar</button>
                <button mat-stroked-button color="primary" (click)="cadastrarComentario()">Comentar</button>
            </div>
        </div>
        <div class="g-row-wrap g-gap-20">
            <div *ngFor="let aulaComentario of this.aulaComentarioMany; index as i"
                class="g-row-wrap container-comentario-many">
                <div class="g-row-between-start container-comentario">
                    <div class="comentario-data-cadastro">
                        {{ aulaComentario.dataCadastro | date : 'dd/MM/yyyy HH:mm' }}
                    </div>
                    <div class="g-column-between-center usuario-perfil">
                        <div *ngIf="this.usuarioLogado && this.usuarioLogado.id == this.aulaComentario.usuarioId"  
                            class="g-row-around-center container-comentario-buttons">
                            <mat-icon class="icone-delete material-symbols-outlined" (click)="excluirComentario(aulaComentario)"
                                matTooltip="Excluir comentário">
                                delete
                            </mat-icon>
                            <mat-icon class="icone-edit material-symbols-outlined" (click)="editarComentario(aulaComentario)"
                                matTooltip="Editar comentário">
                                edit_square
                            </mat-icon>
                        </div>
                        <div class="aula-autor">{{ aulaComentario.usuarioNome }}</div>
                        <div *ngIf="aulaComentario.usuarioFoto" class="g-column-between-center">
                            <img [src]="'data:image/png;base64,' + aulaComentario.usuarioFoto" alt="Imagem" class="imagem-foto">
                        </div>
                        <div *ngIf="!aulaComentario.usuarioFoto">
                            Sem foto
                        </div>
                    </div>
                    <div class="divisoria"></div>
                    <div class="container-comentario-usuario">
                        <div class="g-column-start-center comentario"
                            [innerHTML]="this.trustedAulaComentarioHtml[i]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    