<div class="g-column-between-between g-card-postit-yellow card">
    <div class="g-row-center-center g-card-postit-titulo-yellow">
        <span class="perfil-text">Informações gerais sobre as aulas</span>
    </div>
    <div *ngIf="this.AdministradorHomeAulaInformacaoModel" class="g-row-between-start container-informacao">
        <div class="width-33pc">
            <div class="g-column-start-center informacao">
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">full_coverage</mat-icon>
                    <div class="informacao-texto">Área física: {{ this.AdministradorHomeAulaInformacaoModel.areaFisicaCount }} </div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">thumb_up</mat-icon>
                    <div class="informacao-texto">Arquivo pdf: {{ this.AdministradorHomeAulaInformacaoModel.arquivoPdfCount }}</div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Comentários: {{ this.AdministradorHomeAulaInformacaoModel.aulaComentarioCount }}</div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Widget cursando: {{ this.AdministradorHomeAulaInformacaoModel.widgetCursandoCount }}</div>
                </div>
            </div>
        </div>
        <div class="width-33pc">
            <div class="g-column-start-center informacao">
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Aulas Favoritadas: {{ this.AdministradorHomeAulaInformacaoModel.aulaFavoritadaCount }}</div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Aulas: {{ this.AdministradorHomeAulaInformacaoModel.aulaCount }}</div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Sessões: {{ this.AdministradorHomeAulaInformacaoModel.aulaSessaoCount }}</div>
                </div>
                <div class="g-row-start-center">
                    <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                    <div class="informacao-texto">Sessões favoritadas: {{ this.AdministradorHomeAulaInformacaoModel.aulaSessaoFavoritadaCount }}</div>
                </div>
            </div>
        </div>
        <div class="g-column-start-center informacao width-33pc">
            <div class="g-row-start-center">
                <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                <div class="informacao-texto">Aulas curtidas: {{ this.AdministradorHomeAulaInformacaoModel.aulaCurtidoCount }}</div>
            </div>
            <div class="g-row-start-center">
                <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                <div class="informacao-texto">Widget cursar: {{ this.AdministradorHomeAulaInformacaoModel.widgetCursarCount }}</div>
            </div>
            <div class="g-row-start-center">
                <mat-icon class="material-symbols-outlined">edit_square</mat-icon>
                <div class="informacao-texto">Widget concluído: {{ this.AdministradorHomeAulaInformacaoModel.widgetConcluidoCount }}</div>
            </div>
        </div>
    </div>
</div>