.container-aulas {
    height: 460px;
}

.card {
    margin-top: 50px;
    min-height: 200px;
    padding: 20px;
    gap: 10px;
    width: 100%;
    min-width: 1100px;
}

.app-aula-filtro {
    overflow-y: auto;
    height: 450px;
    padding: 10px;
    margin-right: 10px;
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.container-card-aula {
    gap: 20px;
}

.card-aula {
    box-shadow: 2px 2px 5px black;
    border-radius: 15px;
    padding: 25px 15px 15px 15px;
    gap: 8px;
    width: 350px;
    height: 200px;
    position: relative;
    background-color: var(--blue-postit);
}

.aula-area-fisica {
    position: absolute;
    right: 5px;
    top: 5px;
}

.data-cadastro {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #616161;
    font-size: 12px;
    font-style: italic;
}

.aula-titulo {
    font-size: 16px;
    font-weight: bold;
}

.aula-resumo {
    margin-top: 10px;
    font-size: 12px;
    max-height: 75px;
    overflow-y: auto;
}

.icone-ativo {
    color: rgb(0, 204, 0);
}

.card-aula-acessar {
    border: 1px solid black;
    background-color: rgb(106, 199, 30);
    padding: 4px 15px;
    border-radius: 20px;
    cursor: pointer;
    gap: 5px;
}

.card-aula-acessar:hover {
    background-color: rgb(76, 141, 23);
    color: white;
}

.container-paginacao {
    margin-top: 20px;
    gap: 10px;
    transform: translateY(10px);
}

.button-page {
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    width: 30px;
}

.button-page:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}