<div class="g-row-start-start g-card-postit-yellow card">
    <div class="g-card-postit-titulo-yellow card-titulo">Notícias postadas</div>
    <div class="g-row-between-start container-aulas">
        <app-noticia-filtro fxFlex="300px" class="app-aula-filtro" [flexColumn]="true"></app-noticia-filtro >
        <div class="g-column-between-center g-full-height">
            <div fxFlex="100%" class="g-row-around-start g-row-wrap container-card-aula">
                <div *ngFor="let noticia of this.pageNoticiaMany" class="g-column-start-start card-aula">
                    <div class="data-cadastro">{{ noticia.dataCadastro | date : 'dd/MM/yyyy HH:mm' }}</div>
                    <div fxFlex="100%">
                        <div class="aula-titulo" (click)="visualizarNoticia(noticia)">{{ noticia.titulo }}</div>
                        <div class="g-row-start-center">
                            <div class="aula-resumo">{{ noticia.resumo }}</div>
                        </div>
                    </div>
                    <div class="g-row-center-center g-full-width">
                        <div fxFlex="50px" class="g-row-around-center">
                            <div class="g-column-center-center">
                                <mat-icon class="material-symbols-outlined" [ngClass]="{'icone-ativo': noticia.usuarioLogadoCurtiu}">
                                    thumb_up
                                </mat-icon>
                                <div>{{ noticia.favoritado }}</div>
                            </div>
                        </div>
                        <div *ngFor="let item of noticia.areaInteresseMany">
                            <span class="g-tag">{{item.nome}}</span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div *ngIf="this.pageMax > 1" class="g-row-center-center container-paginacao">
                <mat-icon class="g-row-center-center button-page" (click)="mudarPagina(-1)">
                    chevron_left
                </mat-icon>
                <div>Página {{ pageAtual + 1 }} de {{ pageMax }}</div>
                <mat-icon class="g-row-center-center button-page" (click)="mudarPagina(1)">
                    navigate_next
                </mat-icon>
            </div>
        </div>
    </div>
</div>