<div fxLayout="column" fxLayoutAlign="start center">
    <div class="titulo">FÓRUM</div>
    <div fxLayout="row" fxLayoutAlign="center center" class="wrap">
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>MECÂNICA</div>
            <img class="imagem" src="../../../../assets/imagens/header/mecanica.png">
            <div class="acessar" routerLink="/forum/mecanica">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>TERMODINÂMICA</div>
            <img class="imagem" src="../../../../assets/imagens/header/termodinamica.png">
            <div class="acessar">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>ONDULATÓRIA</div>
            <img class="imagem" src="../../../../assets/imagens/header/ondulatoria.png">
            <div class="acessar">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>ELETROMAGNETISMO</div>
            <img class="imagem" src="../../../../assets/imagens/header/eletromagnetismo.png">
            <div class="acessar">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>FÍSICA MODERNA</div>
            <img class="imagem" src="../../../../assets/imagens/header/fisicamoderna.png">
            <div class="acessar">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>MATEMÁTICA</div>
            <img class="imagem" src="../../../../assets/imagens/header/matematica.png">
            <div class="acessar">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>EXERCÍCIOS VESTIBULAR</div>
            <img class="imagem" src="../../../../assets/imagens/header/vestibular.png">
            <div class="acessar">Acessar</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start center" class="card">
            <div>OUTROS</div>
            <img class="imagem" src="../../../../assets/imagens/header/home.png">
            <div class="acessar">Acessar</div>
        </div>
    </div>
</div>
