<div class="g-column-start-start container-criar-perfil">
    <div class="titulo">Alterar perfil</div>
    <form [formGroup]="this.formPerfil" class="g-column-start-start g-container-form-inputs">
        <mat-form-field class="container-data">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput formControlName="formData" [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix class="data-picker" [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div fxFlex="150px" class="g-row-around-center">
            <div class="g-column-between-center g-full-height">
                <div>Foto atual</div>
                <div *ngIf="this.data.foto" fxFlex="100%" class="g-column-center-center">
                    <img fxFlex="100px" [src]="'data:image/png;base64,' + this.data.foto" alt="Imagem" class="imagem">
                </div>
                <div *ngIf="!this.data.foto" fxFlex="100%" class="g-row-center-center">
                    Sem foto
                </div>
            </div>
            <div class="g-column-between-center g-full-height">
                <div class="g-column-start-center container-escolher-foto">
                    <input type="file" formControlName="formFoto" (change)="imagemAlterada($event)" accept="image/*">
                    <div>Foto escolhida</div>
                </div>
                <div *ngIf="this.fotoEscolhida" fxFlex="100%" class="g-columns-center-center">
                    <img fxFlex="100px" [src]="'data:image/png;base64,' + this.fotoEscolhida" alt="Imagem" class="imagem">
                </div>
                <div *ngIf="!this.fotoEscolhida" fxFlex="100%" class="g-row-center-center">
                    Escolha uma foto
                </div>
            </div>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Hobbie</mat-label>
            <textarea formControlName="formHobbie" matInput></textarea>
        </mat-form-field>
    </form>
    <div class="g-row-around-center container-buttons">
        <button mat-stroked-button color="warn" (click)="fecharModal()">
            <mat-icon class="material-symbols-outlined">contract_delete</mat-icon>
            Cancelar
        </button>
        <button mat-stroked-button color="primary" [disabled]="!this.formPerfil.valid" (click)="requestCriarPerfil()">
            <mat-icon class="material-symbols-outlined">manage_accounts</mat-icon>
            Editar perfil
        </button>
    </div>
</div>