.card {
    padding: 15px;
    gap: 15px;
    margin: 50px 0;
    width: 800px;
    height: 200px;
}

.container-email {
    margin-bottom: 15px;
    gap: 10px;
}

.container-informacao {
    gap: 20px;
}

.width-33pc {
    width: 33%;
}

.informacao {
    gap: 15px;
    min-width: 200px;
}

.icone-header {
    font-size: 50px;
    width: 50px;
    height: 50px;
}

.informacao-texto {
    margin-left: 10px;
}