<div class="g-column-start-start container-forum">
    <h2>Novo fórum</h2>
    <form [formGroup]="this.formGroupForum" class="g-column-start-start g-full-width">   
      <mat-form-field  appearance="outline" class="g-full-width">
        <mat-label>Título do fórum</mat-label>
        <input formControlName="formTitulo" matInput required>
        <mat-error *ngIf="formTitulo.invalid">Título é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field  appearance="outline" class="g-full-width">
        <mat-label>descrição</mat-label>
        <input formControlName="formDescricao" matInput required>
        <mat-error *ngIf="formDescricao.invalid">Descrição é obrigatório</mat-error>
      </mat-form-field>         
    </form>
    <div class="g-row-around-center container-buttons">
      <button mat-stroked-button color="warn" (click)="fecharModal()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        Cancelar
      </button>
      <button mat-stroked-button color="primary" [disabled]="!this.formGroupForum.valid" (click)="requestCriarForum()">
        <mat-icon class="material-symbols-outlined">add_notes</mat-icon>
        Criar fórum
      </button>
    </div>
</div>