<!-- <div class="conteudo">
    <h1><span class="conteudo-titulo">Aula 3</span></h1>
    <div class="card-11">
        <h2>Movimento relativo</h2>
        <div>
            <div>
                <p> Já parou pra pensar que praticamente tudo está em movimento? Até mesmo quando estamos sentados lendo alguma coisa estamos em movimento. 
                    Você pode estar se perguntando, mas como assim? Estou sentado e me movimentando?
                </p>
                <p> Na aula anterior vimos sobre o conceito de referencial, e que é a partir dele que medimos os fenômenos. Ou seja, se estou sentado e vendo 
                    um carro passar na rua, ele está se movimentando em relação a mim. Se minha mãe está sentada ao lado, ela está parada em relação a mim. Contudo 
                    se colocarmos o referencial no sol, nós dois (eu e minha mãe) assim como todos da Terra estaram em movimento em relação ao sol. A Terra está 
                    com uma rápidez de 30 km/s em relação ao solo, como estamos na Terra nós também estamos com essa velocidade.
                </p>
            </div>
            <div>
                <p> Mas o que é movimento e o que é repouso? Vamos a um exemplo, abaixo temos duas figuras, uma representando um instânte inicial (da esquerda) e a outra passado um 
                    intervalo de tempo (da direita):
                </p>
            </div>
            <div fxLayoDELETEut="row" fxLayoDELETEutAlign="space-between center">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-1.png">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-2.png">
            </div>
            <div>
                <p> Vamos agora discutir na sequencia quem está em movimento. Mas antes precisamos saber onde está nosso referencial. Vamos colocar o referencial na árvore.
                    E fazer uma medida da árvore até os dois que estão sentados no banco (figura da esquerda). Ao passar um intervalo de tempo, o que acontece com a medida? 
                    Observe que ela não vai variar, ou seja, os dois bonecos estão parados em relação a árvore, nesse caso temos que os dois estão em repouso. Matematicamente 
                    podemos dizer que a distância 1 (d1) é igual a distância 2 (d2), d1 = d2.
                </p>
            </div>
            <div fxLayDELETEout="row" fxLaDELETEyoutAlign="space-between center">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-3.png">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-4.png">
            </div>
            <div>
                <p> Agora vamos medir a distância do ônibus em relação a árvore. Temos na imagem da esquerda logo abaixo que temos uma distância 1 (d1). Passado um intervalo de tempo, 
                    temos a distância 2 (d2) que o ônibus está em relação a origem. Nesse caso podemos perceber que o tamanho das medidas são diferentes, na imagem da esquerda a flecha 
                    tem dimensões bem maiores que o da flecha da figura da direita, ou seja, d1 > d2. Isso nos diz que ocorreu deslocamento e o objeto está em movimento em relação a árvore.
                </p>
            </div>
            <div fxLDELETEayout="row" fxLDELETEayoutAlign="space-between center">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-5.png">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-6.png">
            </div>
            <div>
                <p> E se colocarmos o referencial no primeiro passageiro do ônibus, quem está em movimento e quem está parado? Devemos realizar o mesmo teste que anteriormente, precisamos 
                    fazer medições e descobrir se ocorreu mudança da posição do corpor que queremos descobrir se está parado ou em movimento. Os bonecos no banco estão parado ou em movimento em 
                    relação ao passageiro do ônibus? Observe as duas figuras a seguir e reflita sobre a resposta.
                </p>
            </div>
            <div fxLayDELETEout="row" fxLayDELETEoutAlign="space-between center">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-7.png">
                <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-8.png">
            </div>
            <div>
                <p> Novamente, precisamos olhar a medida da posição, a distância entre o boneco do ônibus e os do banco variam, ou seja, no exemplo temos que d1 > d2. Para a Pessoa do ônibus é como 
                    se os dois bonecos do banco estivessem se aproximando dele. Assim sendo, os bonecos do banco estão em movimento em relação ao passageiro do ônibus.
                </p>
                <p>Porém observe a flecha verde, ela representa a medida do segundo passageiro em relação ao primeiro passageiro. Tanto a primeira medida (distância 3, d3) e a segunda medida 
                    (distância 4, d4) tem o mesmo valor, ou seja, d3 = d4. Como vimos, se não ocorre variação na medida, isso representa que o passageiro dois está em repouso em relação ao primeiro 
                    passageiro.
                </p>
                <p>Seguindo esse raciocínio podemos pensar no movimento da Terra em torno do Sol, como avisamos relatado, a Terra tem uma velocidade de 30 km/s, outro modo de pensarmos é transformar km para metro,
                    isso vai representar 30000 metros por segundo. Para conseguirmos imaginar essa grandeza podemos tomar como exemplo o tamanho de um campo de futebol, ele tem aproximadamente 100 metros de largura, 
                    assim sendo, é como se a cada segundo nós nos deslocassemos 300 campos de futebol por segundo. 
                </p>
                <p>E por que não sentimos essa velocidade? Isso leva a pensarmos em tudo que discutimos até o momento, o movimento é relativo. Nós estamos na Terra e assim não tem variação da posição entre a Terra e nós. 
                    Mas se colocarmos o referencial no sol, poderemos dizer que nós estamos no movimentando a 30 km/s em torno do sol, mesmo estando aparentemente parado sentado numa cadeira.
                </p>
                <p>Em resumo, quando falarmos sobre movimento, lembre-se do movimento relativo:</p>
                <p class="definicao">para definirmos se um corpo está em movimento ou repouso é preciso definirmos um referencial no qual está ocorrendo as medições, e verificar se 
                    está ocorrendo variação da sua posição ao longo do tempo.
                </p>
            </div>
        </div>
    </div>
    <div class="card-11">
        <h2>Rapidez</h2>
        <div>
            <p> Até agora falamos sobre a posição de um corpo segundo um referencial e quando eles está em movimento ou em repouso. No caso que eles está em movimento 
                vimos que ocorre variação da sua posição, contudo deixamos implicito a questão do tempo, ou seja, a variação da posição ocorreu num intervalo de tempo. 
                E essa mudança da posição, foi rápido ou lenta? 
            </p>
            <p>Essa noção de algo ser rápido ou lento é nos dado pelo conceito de <span class="conceito">rapidez</span>.</p>
            <p>Observe abaixo duas imagens, uma num instante inicial e a outra passado um intervalo de tempo:</p>
        </div>
        <div fxLayDELETEout="row" fxLayDELETEoutAlign="space-between center">
            <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-9.png">
            <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-10.png">
        </div>
        <div fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
            <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-11.png">
            <div fxFlex="50%" fxLDELETEayout="column" fxDELETELayoutAlign="center center">
                <p>Observe que tem um bonequinho correndo e um fusca se locomovendo para a direita. O tempo passado para os dois foi o mesmo, porém o deslocamento entre eles 
                    foi diferente. O fusca percorreu uma distância maior se comparada com o corredor. Nesse caso podemos dizer então que o fusca é mais rápido que o boneco.
                </p>
                <p>Quais grandezas precisamos usar para que ocorra essa comparação da rapidez? Uma delas que está bem explicito é o deslocamento, qual seria a outra? A outra grandeza é o tempo.
                    Se o boneco correr 8 metros em 2 segundos, a sua rapidez será maior do que ele correr 4 metros em 2 segundos. Isso pode ser observado pelo fato de que ele vai 
                    percorrer uma distância maior no mesmo intervalo de tempo.
                </p>
            </div>
        </div>
        <div fxLayoDELETEut="row" fDELETExLayoutAlign="space-around center">
            <div fxFlex="50%" fxLayoDELETEut="column" fxLayDELETEoutAlign="center center">
                <p>Podemos então definir o que é a rapidez sendo representada por 'r', e definida como sendo:</p>
                <p class="definicao">o deslocamento dividido pelo tempo</p>
            </div>
            <img fxFlex="35%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-13.png">
        </div>
        <div fxLayouDELETEt="row" fxLDELETEayoutAlign="space-between center">
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-12.png">
            <p fxFlex="45%">Seguindo essa lógica vamos pensar agora que existe um eixo de coordenadas 'x' com o referencial no início onde o boneco e o fusca estão praticamente juntos
                e que a medida desse eixo está em metros (figura acima a direita). Outro fator a se pensar é que o tempo transcorrido até a posição final foi de 2 segundos.
                vamos então calcular qual foi mas rápido.
            </p>
        </div>
        <div fxLayDELETEout="row" fxLayDELETEoutAlign="space-between start">
            <div fxFlex="48%" fxLDELETEayout="column" fxLDELETEayoutAlign="center center">
                <p>Para o boneco:</p>
                <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-14.png">
                <p>Primeiro passo é separar os dados do que estamos estudando, nesse caso temos que a posição inicial é zero, a posição final é 4 metros, o tempo inicial consideramos 
                    como sendo 0 e o tempo final como sendo de 2 segundos. Desse modo podemos usar a equação da rapidez e calcular a rapidez do boneco. Fazendo a conta chegamos no valor 
                    de 4 metros por segundos (2 m/s, sempre lembre de colocar as unidades no final de cada resultado que obtiver).
                </p>
            </div>
            <div fxFlex="48%" fxLayoDELETEut="column" fxDELETELayoutAlign="center center">
                <p>Para o carro:</p>
                <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-15.png">
                <p>Para o carro devemos fazer o mesmo processo, separar os dados do problema, que é descobrir a rapidez do carro, separar a equação que será utilizada e assim desenvolver 
                    a conta para obtermos o resultado. Nesse caso podemos observar que o calculo resultou em 7 metros por segundo (7 m/s).
                </p>
            </div>
        </div>
        <p>Comparando esses dois resultados podemos notar que a velocidade do carro (7 m/s) foi maior do que o do boneco (2 m/s). Assim sendo o carro está mais rapido que o boneco.
        </p>
        <p>Por fim lembre-se que a rapidez de algo é o deslocamento dividido pelo tempo.</p>
    </div>

    <div class="card-11">
        <h2>Velocidade</h2>
        <p> Na seção anterior falamos sobre a rapidez, ela nos diz o quão rapido é alguma coisa em relaçao a um referencial. Mas podemos pensar, isso que vimos não é 
            velocidade? Esses dois conceitos são muito parecidos, no uso cotidiano elas podem ser sinônimos, porém na Física elas são diferentes. Esses dois conceitos 
            informam o quão rápido é alguma coisa, mas o conceito de velocidade nos da mais duas informações, a direção e o sentido.
        </p>
        <p>Desse modo a rapidez nos informa apenas um dado, enquanto a velocidade são três.</p>
        <p>Temos assim dois tipos de <span class="conceito">grandeza escalar</span> e a <span class="conceito">grandeza vetorial</span>. A partir daqui utilizaremos em 
            praticamente todos os casos a notação vetorial, e o que vem a ser isso?</p>
        <p>Vamos na sequencia discutir esses dois conceitos antes de adentrarmos na velocidade</p>
        <h3>Grandeza escalar</h3>
        <p>A grandeza escalar é toda grandeza que é completamente descrita pelo valor absoluto. Por exemplo, vimos a rapidez (20 m/s), a massa (10 kg), comprimento (60 m), tempo, 
            entre outras grandezas. Veja outros exemplos na figura abaixo:
        </p>
        <p class="text-center">
            <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-16.png">
        </p>
        <p>Quando falamos que uma pessoa tem 1 m e 80 cm já teremos uma noção que estamos nos referindo a altura e assim a grandeza altura é descrita totalmente por apenas uma componente, 
            que é o modulo da medida. Outros exemplos são o tempo, a massa, entre outros. Ao longo do curso vamos aprender a distinguir o que é grandeza escalar. Isso será mais claro 
            quando compreendermos o que é uma grandeza vetorial.
        </p>

        <h3>Grandeza vetorial</h3>
        <p>A grandeza vetorial é toda grandeza que é descrita pelo valor absoluto (falamos de modulo), direção e sentido. Alguns exemplos são: a velocidade, a aceleração, 
            posição, deslocamento, força, entre outras que iremos estudar. 
        </p>
        <div fxLayDELETEout="row" fxLaDELETEyoutAlign="space-between center">
            <img fxFlex="50%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-17.png">
            <p fxFlex="45%">Ao lado podemos observar um exemplo, temos as três componentes, o módulo (50 km/h), a direção (eixo x, eixo y, etc) e o sentido (positivo ou negativo). Note que a direção 
                tem uma notação diferente, ela pode ser representada por 'î' ou 'Vx'. Assim temos nesse exemplo que o fusca tem uma velocidade de 50 km/h na direção x com sentido positivo.
            </p>
        </div>
        <div fxLayoDELETEut="row" fxLaDELETEyoutAlign="space-between center">
            <p fxFlex="50%">Ao lado direito temos matematicamente essa descrição. Quando falamos de grandeza vetorial sempre devemos representar a grandeza com uma flecha na parte superior. O 
                sentido pode ser positivo '+' ou negativo '-', nesse caso é positivo. O modulo temos 50 km/h. A direção pode ser representada de duas maneira, a primeira pelo vetor unitário 'î' 
                , não entraremos em detalhes o que ele é, mas ele representa a direção que está sendo assumida, e a segunda é colocar um sub-índice ao lado do vetor velocidade, aqui 
                utilizamos o 'x', ficando 'Vx'.
            </p>
            <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-18.png">
        </div>
        <p>Assumiremos a segunda notação para escrevermos um vetor, colocaremos um sub-índice para representar a direção. No Ensino Superior é utilizado a primeira notação.</p>
        <p>Agora nós sabemos a diferença entre rapidez e velocidade. Vamos imaginar a seguinte situação, o fusca vai para leste da posição A para a posição B, seu deslocamento é 
            de 6 km e leva cerca de 5 minutos. Qual é a velocidade do fusca?
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-19.png">
        <p>
            Para resolver o exercício devemos lembrar que a primeira coisa é estabelecer a nossa origem do centro de coordenadas, nesse caso vamos colocar na posição A, e vamos 
            considerar que o eixo x aponta para a direita. Assim sendo temos Que a velocidade do fusca é na direção x com sentido positivo. O próximo passo é calcular a intensidade ou 
            o módulo da velocidade, para isso vamos separar os dados que temos e assim resolver o exercício:
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-20.png">
    </div>
    
    <div class="card-11">
        <h2>Velocidade Média</h2>
        <p> Vimos na seção anterior como podemos calcular a velocidade vetorial de um corpo. Repare que o cálculo da velocidade é feito entre a variação entre duas
            posições num intervalo de tempo. 
        </p>
        <p>
            Iremos discutir agora a velocidade média. Mas qual a diferença entre os dois? Não é a mesma coisa? Observe as duas figuras a seguir:
        </p>
        <p>Considere que entre cada ponto a formiga andou 1 metro (entre A e B é 1 metro, entre B e C é 1 metros e assim por diante) e levou cerca de 5 s no primeiro trecho,
            10 s no segundo trecho, 2 s no terceiro trecho e 4 s no quarto trecho.
        </p>
        <img class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-21.png">
        <div fxLayouDELETEt="row" fxLaDELETEyoutAlign="space-between center">
            <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-22.png">
            <p fxFlex="50%"> Na figura da esquerda temos uma formiga que faz o trajeto que é representado pelos pontos A, B, C e D. Se fossemos calcular a velocidade vetorial teriamos que calcular ponto a ponto.
                Ou seja, poderiamos calcular a velocidade entre a posição A e B, entre B e C, entre C e D. Para ser mais prático e observarmos mais claramente a diferença entre velocidade média e velocidade,
                vamos calcular apenas a rapidez em cada trecho:
            </p>
        </div>
        <div fxLaDELETEyout="row" fxLayDELETEoutAlign="space-between center">
            <p fxFlex="50%"> Na figura da direita temos apenas a distancia total e o tempo total, não sabemos se ele teve uma variação da velocidade ao longo do percurso como na figura acima. 
                Assim, ao calcularmos a velocidade da formiga teremos uma velocidade média, ela é uma grandeza escalar e é calculada a partir da distância total dividido pelo tempo 
                total. Nesse caso temos que a distância total foi de 4 m e o tempo total foi de 21 s.
            </p>
            <img fxFlex="45%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-23.png">
        </div>
        <div fxLayoDELETEut="row" fDELETELayoutAlign="space-between center">
            <div fxFlex="60%" fxLayDELETEout="column" fxLayDELETEoutAlign="center center">
                <p>Observe que a velocidade média é bem diferente da velocidade em cada trecho, pois ela representa, como já dito, a velocidade que a formiga levou em todo o trajeto.
                    Temos então que a definição da velocidade média é:
                </p>
                <p class="definicao">a distância total dividido pelo tempo total</p>
            </div>
            <img fxFlex="35%" class="img borda" src="../../../../../../assets/imagens/mecanica/aulas/aula-tres/aula-3-24.png">
        </div>
    </div>

    <div class="card-11">
        <h2>Exemplos e Exercícios</h2>
        <p> Vimos muitos conceitos nessa aula, que tal praticarmos um pouco para fixar melhor o conteúdo? A seguir temos alguns exemplos, com a solução passo a passo de cada problema e temos 
            a seção exercícios, nele temos vários exercícios para você praticar sozinho. Ainda tempos os problemas relacionados a exercícios de vestibulares, caso esteja treinando para passar em 
            uma universidade. Pratique bastante e não desista.
        </p>
        <div fxLDELETEayout="row" fxDELETELayoutAlign="space-between center">
            <p fxFlex="30%" class="links-problemas">Exemplos</p>
            <p fxFlex="30%" class="links-problemas">Exercícios</p>
            <p fxFlex="30%" class="links-problemas">Vestibular</p>
        </div>
    </div>
</div> -->