<div *ngIf="this.noticia" class="g-column-start-start card-noticia">
    <div class="g-text-overflow-1 noticia-titulo" (click)="visualizarNoticia()">{{ noticia.titulo }}</div>
    <div class="g-row-between-center container-usuario">
        <span class="card-noticia-autor" (click)="visualizarUsuario()">@{{noticia.usuarioCadastroNome}}</span>
        <div class="g-row-center-center card-noticia-curtida" [ngClass]="{'favoritou': this.noticia.usuarioLogadoCurtiu}">
            <mat-icon class="icone material-symbols-outlined">thumb_up</mat-icon>
            <div>{{ noticia.favoritado }}</div>
        </div>
        <span class="g-row-end-center card-noticia-data">{{noticia.dataCadastro | date: 'dd/MM/yyyy HH:mm' }}</span>
    </div>
    <div class="noticia-resumo">{{ noticia.resumo }}</div>
    <div *ngIf="noticia.areaInteresseMany.length > 0" class="g-row-center-center card-noticia-tags">
        <div *ngFor="let item of noticia.areaInteresseMany">
            <span class="g-tag">{{item.nome}}</span>
        </div>
    </div>
</div>