.container-criar-noticia {
    gap: 15px;
    width: 100%;
}

.button-adicionar {
    gap: 10px;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

.container-tabela {
    border: 2px solid black;
    width: 100%;
}

.coluna-center {
    text-align: center;
}

.coluna:hover ~ .coluna, .coluna:hover, .coluna:has(~ .coluna:hover) {
    background-color: rgba(0, 0, 0, 0.034);
    cursor: pointer;
}

.container-filtro {
    gap: 15px;
    margin-bottom: 20px;
}

.tabela-header {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.tag {
    background-color: #ffb872;
}

.container-buttons {
    gap: 10px;
}