.container-filtro,
.container-tabela {
    width: 100%;
}

.button-adicionar {
    gap: 10px;
    text-wrap: nowrap;
    margin-bottom: 20px;
}

.container-filtro {
    gap: 15px;
}

.tabela-header {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.coluna-acoes {
    text-align: center;
    width: 300px;
}

.container-buttons {
    gap: 10px;
}