<div fxLayoutAlign="end end" class="fechar" (click)="fecharModal()">X</div>
<div fxLayout="column" fxLayoutAlign="center center" *ngIf="!this.criarConta">
    <form [formGroup]="this.formLogin" fxLayout="column" fxLayoutAlign="center center" class="container-inputs">
        <mat-form-field class="container-inputs" appearance="outline">
            <mat-label>Login</mat-label>
            <input formControlName="login_usuario" [formControl]="login" matInput required>
            <mat-error *ngIf="login.invalid">Login é obrigatório</mat-error>
        </mat-form-field>
        <mat-form-field class="container-inputs" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha_usuario" [formControl]="senha" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <span class="material-icons">
                    {{hide ? 'visibility' : 'visibility_off' }}
                </span>
            </button>
        </mat-form-field>
        <div class="logar" (click)="logarPerfil()">Logar</div>
    </form>
    <div (click)="telaCriarConta()" class="criar-conta">Criar conta</div>
</div>

<div *ngIf="this.criarConta" fxLayout="row" fxLayoutAlign="center center" class="container-modal">
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
        <div class="titulo-modal">Criar Conta</div>
        <div fxLayout="column" fxLayoutAlign="center center" class="container-inputs">
            <form [formGroup]="this.formConta" class="container-inputs">
                <mat-form-field class="container-inputs" appearance="outline">
                    <mat-label>Nome Completo</mat-label>
                    <input formControlName="nome" matInput required>
                    <mat-error *ngIf="nome.invalid">Nome é obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="container-inputs" appearance="outline">
                    <mat-label>Login/Email</mat-label>
                    <input matInput placeholder="fernando@exemplo.com" formControlName="login" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field class="container-inputs" appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput formControlName="senha" [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <span class="material-icons">
                            {{hide ? 'visibility' : 'visibility_off' }}
                        </span>
                    </button>
                    <mat-error *ngIf="senha.invalid">Senha é obrigatório, mínimo 6 digitos</mat-error>
                </mat-form-field>
                <div class="linha-separador"></div>
            </form>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="container-inputs">
                <button mat-button color="accent" class="button button-cancelar" (click)="fecharModal()">Cancelar</button>
                <button mat-button color="primary" class="button button-criar" (click)="requestCriarConta()">Criar Conta</button>
            </div>
        </div>
    </div>
</div>
