.container-modal {
    width: 500px;
    padding: 30px;
}

.titulo-modal {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
}

.sub-titulo {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 700;
}

.container-inputs {
    width: 100%;
    min-width: 400px;
}

.linha-separador {
    border-bottom: 3px solid black;
}

.checkbox {
    margin: 10px 50px 10px 0;
}

.container-regras {
    border: 2px solid black;
    padding: 10px;
    text-align: justify;
}

.regras {
    margin: 15px 0;
}

.button {
    font-size: 20px;
    font-weight: 500;
    border: 2px solid black;
    color: black;
}

.button-cancelar {
    background-color: rgba(233, 8, 8, 0.459);
}

.button-cancelar:hover {
    background-color: rgba(233, 8, 8, 0.616);
    color: goldenrod;
}

.button-criar {
    background-color: rgba(0, 128, 0, 0.404);
}

.button-criar:hover {
    background-color: rgba(0, 128, 0, 0.548);
    color: gray;
}

.criar-conta {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid black;
    width: 90%;
    cursor: pointer;
    text-align: center;
}

.criar-conta:hover {
    color: darkgray;
}

.logar {
    font-size: 20px;
    background-color: #A0D468;
    border: 2px solid black;
    padding: 10px 30px;
    cursor: pointer;
    width: 250px;
    border-radius: 20px;
    text-align: center;
}

.logar:hover {
    background-color: #a0d468d3;
}

.fechar {
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
}

.fechar:hover {
    color: rgb(255, 102, 102);
}