<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="container-header">
        <div fxFlex="400px" fxLayout="column" fxLayoutAlign="center center">
            <img class="logo-site" src="../../../assets/imagens/header/logosite.png">
        </div>
        <div fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="space-around center" class="menu-navegacao">
            <a (click)="acessarTela('home')">Home</a>
            <a *ngIf="!this.usuarioLogado" (click)="conta()">Criar Conta / Login</a>
            <a *ngIf="this.usuarioLogado" (click)="acessarPerfil()">Acessar perfil</a>
            <a (click)="acessarTela('forum')">Fórum</a>
            <a *ngFor="let areaFisica of this.areaFisicaMany" class="g-full-width" (mouseover)="mudaFoto(areaFisica.id.toString())" 
                (mouseout)="mudaFoto('0')" (click)="areaSelecionada(areaFisica)">
                {{areaFisica.titulo}}
            </a>
        </div>
        <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
            <img class="img-topico" [src]="imagem">
            <p class="paragrafo-topico">{{ this.resumoTopico }}</p>
        </div> 
    </div>
    <div *ngIf="this.headerTitulo" fxLayoutAlign="center center" class="menu-selecionado">
        {{ this.headerTitulo }}
    </div>
</div>
