<div class="g-column-start-start">
    <div class="g-row-between-center container-header">
        <div class="g-column-center-center width-400px">
            <img class="logo-site" src="../../../assets/imagens/header/logosite.png">
        </div>
        <div class="g-row-around-center g-row-wrap menu-navegacao">
            <a (click)="acessarTela('home')">Home</a>
            <a *ngIf="!this.usuarioLogado" (click)="conta()">Criar Conta / Login</a>
            <a *ngIf="this.usuarioLogado" (click)="acessarPerfil()">Acessar perfil</a>
            <a (click)="acessarTela('forum')">Fórum</a>
            <a *ngFor="let areaFisica of this.areaFisicaMany" class="g-full-width" (mouseover)="mudaFoto(areaFisica.id.toString())" 
                (mouseout)="mudaFoto('0')" (click)="areaSelecionada(areaFisica)">
                {{areaFisica.titulo}}
            </a>
        </div>
        <div class="g-column-center-center width-20pc">
            <img class="img-topico" [src]="imagem">
            <p class="paragrafo-topico">{{ this.resumoTopico }}</p>
        </div> 
    </div>
    <div *ngIf="this.headerTitulo" class="g-row-center-center menu-selecionado">
        {{ this.headerTitulo }}
    </div>
    <!-- TODO, precisa melhorar as rotas -->
    <!-- <div class="g-row-start-center">
        <span *ngFor="let rota of rotaMany; index as i" class="g-row-start-center rota" (click)="rotaAcessar(rota.rotaAcessar)">
            <span>{{ rota.rotaNome }}</span>
            <span *ngIf="rotaMany.length != (i+1)" class="rota-separador">/</span>
        </span>
    </div> -->
</div>
