<!-- <div class="conteudo">
    <h1><span class="conteudo-titulo">Aula 1</span></h1>
    <div class="card-11">
        <h2>Importância da Matemática</h2>
        <p>Você já pode ter ouvido que a Física está presente em tudo a nossa volta, e ao longo de nosso
            estudo conseguiremos perceber que realmente ela está em tudo. Por exemplo
        </p>
        <p>Descrevendo o que está ao meu redor enquanto escrevo isso, vejo a luz do sol realizando reflexões
            difusas no chão, o vento fazendo balançar um fio de luz pendurado como se fosse um pêndulo, podemos ainda
            imaginar as particulas de poeira/ar colidindo com o fio, transferindo momento. Vejo o céu azul, e muitos já se
            perguntaram, por que o céu é azul? Vejo diversas cores, seja verde das plantas, vermelho de um carro que está na rua, azul da
            minha caneta, o que faz cada um ter uma cor? Vejo um avião voando, como um objeto tão pesado pode voar? Vejo a
            lua em um C crescente, por que ela não se afasta de nós ou se aproxima? Vejo o cercado que meu vô fez, um pouco torto, mas
            numa posição estável. Escuto diversos sons diferentes. Observo cada coisa, e tudo é constituido
            da mesma essência, de átomos, mais afundo, elétrons, prótons e neutrons, e quem sabe no interior de cada um deles de "cordas".
        </p>
        <p>Cada fenômeno pode ser descrito de uma maneira e muitas vezes precisamos ir além das
            palavras. Acredito que não tenha uma maneira mais elegante de dizer isso se não utilizar a frase de Galileu:
        </p>
        <p>"A ciência está escrita neste grande livro colocado sempre diante de nossos olhos - o Universo - mas não podemos
            lê-lo sem aprender a linguagem e entender os símbolos em termos dos quais está escrito. Este livro está escrito
            na linguagem <b>matemática</b>."
        </p>
        <p>Por isso é muito importante ter conhecimento sobre matemática. Caso queira revisar os conceitos
            visite a aba "matemática".
        <p>É com a ajuda da matemática que vamos conseguir descrever os fenômenos da natureza e até a prever
            com certo grau de exatidão o que pode ocorrer no futuro.
        </p>
    </div>

    <div class="card-11">
        <h2>Unidades de Medida</h2>
        <p>Um ponto de grande importância é a ideia de <u>unidade de medida</u>, pois estáremos sempre
            trabalhando com alguma grandeza física, e as grandezas físicas sempre estão vinculadas a
            unidades de medidas. Por exemplo, o metro é a unidade de medida da grandeza física comprimento.
            De modo objetivo, essas unidade servem para medir diferentes grandezas.</p>
        <p>Existem três unidades de medidas fundamentais, são elas:</p>
        <div fxLDELETEayout="column" fxDELETELayoutAlign="center center" class="card-11">
            <h3>Comprimento</h3>
            <div fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
                <p fxFlex="40%">Para medir o comprimento de algo geralmente utilizamos um objeto ou algo para
                    comparar. Na antiga Mesopotâmia, uma das primeiras medidas padrão para o comprimento foi o
                    côvado. O covâdo real era baseado no comprimento do braço do faraó, do cotovelo até a
                    ponta do dedo médio. Ele foi padronizado usando hastes feitas de granito, posteriormente foram
                    subdivididos em comprimentos mais curtos, parecidos com centímetros e milímetros.
                </p>
                <div fxFlex="55%" fxLayDELETEout="column" fxLayDELETEoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-covado.png">
                    <p class="credito">Crédito: Gift of Dr. and Mrs. Thomas H. Foulds, 1925.</p>
                </div>
            </div>
            <div fxLayoDELETEut="row" fxLDELETEayoutAlign="space-between center">
                <div fxFlex="45%" fxLayoDELETEut="column" fxLDELETEayoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-metropolonorte.png">
                    <p class="credito">Crédito: colocar.</p>
                </div>
                <div fxFlex="50%" fxLayDELETEout="column" fxLayDELETEoutAlign="center center">
                    <p>Outros exemplos temos a dos romanos, que utilizavam o comprimento do pé ou da
                        caminhada. Outro exemplo foi na Inglaterra, que para fins de comércio surgiu a polegada,
                        tendo como base o comprimento de três grãos de cevada de ponta a ponta.
                    </p>
                    <p>Em 1790 na Academia Francesa de Ciências se estabeleceu um conselho de cientistas
                        e matemáticos para estabelecer um sistema metrico que perdurasse para sempre e que fosse comum
                        para todos. A medida da distância, o metro, seria 1/10.000.000 da distância entre o Pólo Norte e o equador.
                    </p>
                </div>
            </div>
            <div fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
                <p fxFlex="55%">Após quase um século de estudo para aumentar a precisão, definiram como sendo a
                    distância entre dois traços numa barra de platina. Assim seria possivel criar réplicas deste
                    protótipo. Após a primeira reunião da organização internacional de pesos e medidas (BIPM-1875),
                    foi desenvolvido 30 protótipos para os membros da organização. Esses protótipos foram feitos de
                    platina e irídio, pois duram mais do que apenas a platina, outro ponto de mudança foi a forma de X
                    da barra, pois uma barra plana sofre mais distorções. A barra teria mais de um metro de
                    comprimento, ou seja, o metro seria definido como sendo a distância entre duas linhas escritas na
                    superfície do material, assim as extremidades caso sofressem avarias, não iriam interferir nas linhas escritas.
                </p>
                <div fxFlex="40%" fxLayDELETEout="column" fxLaDELETEyoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-metropadrao.png">
                    <p class="credito">Crédito: NIST.</p>
                </div>
            </div>
            <div fxLayDELETEout="column" fDELETExLayoutAlign="center center">
                <p>Em 1927 ocorreu um novo salto da precisão da medida do metro, graças aos
                    fenomenos da interferometria. Na área de ondulatória iremos estudas esse fenômeno. Após anos
                    de de estudos e do aperfeiçoamento da precisão (ver: ), em 1983 foi redefinido o medidor padrão do metro, assim sendo, 
                    o metro ficou definido como sendo:
                </p>
                <p class="definicao">o comprimento do caminho percorrido pela luz no vácuo em
                    1/299.792.458 segundo</p>
                <p>A medida comprimento passou a ser derivada de um outro padrão de medida, o
                    <b>Tempo</b>.</p>
                <p>Mas como o Tempo foi definido?</p>
            </div>
        </div>

        <div fxLayoDELETEut="column" fxLDELETEayoutAlign="center center" class="card-11">
            <h3>Tempo</h3>
            <div fxLayDELETEout="row" fxDELETEayoutAlign="space-between center">
                <div fxFlex="50%" fxLayoDELETEut="column" fxLayoDELETEutAlign="center center">
                    <p>O Tempo é a medida que está presente constantemente em nossas vidas, talvez sejá
                        aprimeira coisa que olhamos quando acordamos para saber que horas são. Mas o que realmente
                        é o Tempo?
                    </p>
                    <p> O Tempo <b>mede intervalos de eventos, ou seja, a duração em que dois eventos
                        ocorre</b>. O relógio é o acúmulo desses eventos, por exemplo, se tivessemos um relógio que tivesse como o evento
                        dia, teriamos um relógio com 365 divisões (como ao lado).
                    </p>
                </div> 
                <div fxFlex="45%" fxLayDELETEout="column" fxLaDELETEyoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-divisao.png">
                    <p class="credito">Birznek(2020)</p>
                </div>
            </div>
            <div fxFlex="45%" fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
                <div fxFlex="45%" fxLayoDELETEut="column" fxLayDELETEoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-metropolonorte.png">
                    <p class="credito">Crédito: colocar.</p>
                </div>
                <div fxFlex="50%" fxLayoDELETEut="column" fxDELETELayoutAlign="center center">
                    <p>As primeiras divisões de eventos ocorreram com o dia e a noite, os Egípcios
                        fizeram uma divisão a mais, separaram cada um em 12 partes. Aperfeiçoando cada vez mais essa
                        ideia e com a periodicidade dos eventos, eles perceberam que no verão o dia era mais
                        longo, assim nessa época aumentavam as divisões do dia e diminuiam o da noite.
                    </p>
                    <p>Os minutos e segundos surgiram a partir da astronomia. Tudo começou com os povos
                        súmericos, que dividiram um círculo em 360 graus, posteriormente com os povos babilônicos e
                        os gregos utilizaram essa ideia para dividir o céu e para melhorar a precisão dos estudos
                        dividiram cada grau em 60 minutos e posteriormente cada minuto em 60 segundos. Tal ideia
                        foi introduzida nos relógios mecânicos.
                    </p>
                </div>
            </div>
            <div fxLaDELETEyout="row" fxLaDELETEyoutAlign="space-between center">
                <p fxFlex="45%">Após quase um século de estudo para aumentar a precisão, definiram como sendo a
                    distância entre dois traços numa barra de platina. Assim seria possivel criar réplicas deste
                    protótipo. Após a primeira reunião da organização internacional de pesos e medidas (BIPM-1875),
                    foi desenvolvido 30 protótipos para os membros da organização. Esses protótipos foram feitos de platina e irídio,
                    pois duram mais do que apenas a platina, outro ponto de mudança foi a forma de X
                    da barra, pois uma barra plana sofre mais distorções. A barra teria mais de um metro de
                    comprimento, ou seja, o metro seria definido como sendo a distância entre duas linhas escritas na
                    superfície do material, assim as extremidades caso sofressem avarias, não iriam interferir nas linhas escritas.
                </p>
                <img fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/relogiosol.jpg">
            </div>
            <div fxLayouDELETEt="row" fxLDELETEayoutAlign="space-between center">
                <p fxFlex="75%">Os relógios evoluiram conforme os padrões foram sendo definidos. Um dos relógios
                    mais antigos é o relógio de sol. Tem como fundamento o comprimento da projeção da sombra de
                    uma estaca em uma escala graduada.
                </p>
                <img fxFlex="20" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-relogioagua.png">
            </div>
            <div fxLayDELETEout="row" fxLaDELETEyoutAlign="space-between center">
                <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-relogioampulheta.png">
                <p fxFlex="50%">Outro exemplo de relógio que foi utilizado na antiga Babilônia e Egito foram os
                    relógios de água. Tem como base o escoamento da aguá por um pequeno orifício, ao escoar,
                    o outro recipiente que tem uma escala graduada começa a encher. Marcando assim um certo
                    tempo. Outro exemplo de relógio é o de areia, quando a area dentro de uma ampulheta
                    passa de um lado para o outro é definido um intervalo de evento. Hoje prevalece os relogios
                    mecânicos e digitais, que tem como base de funcionamento as divisões do dia relatadas
                    anteriormente (1 dia 24 partes/horas, cada hora 60 minutos e cada minuto 60 segundos).
                </p>    
            </div>
            <div fxLayoDELETEut="row" fxDELETELayoutAlign="space-between center">
                <div fxFlex="50%" fxLayDELETEout="column" fxDELETELayoutAlign="center center">   
                    <p>Para os cientistas e alguns aparelhos é essencial ser cada vez mais preciso, dividindo cada vez mais
                        em pedaços menores, ou seja, segundo, milesegundos, e assim por diante. Para alcançar tal precisão
                        os cientistas começaram a utilizar relógios atômicos. Em 1993, por exemplo, o relógio atômico NIST-7
                        tinha uma precisão extremamente alta, ele perderia 1 segundo em 6 milhões de anos.
                    </p>
                    <p>
                        Atualmente se tem relógios atômicos com precisao de perda de 1 segundo em 300 milhões de anos. 
                        Para nossos relógios essa precisão é desnecessária, mas para algumas aplicações tecnológicas ela é 
                        de suma importância. Como exemplo temos os GPS, que sem essas precisões ficaria inviavel a utilização 
                        dessa tecnológia, outros exemplos são as transações financeiras que ocorrem em frações de segundos, 
                        comunicação de alta velocidade, etc.
                    </p>
                </div>
                <div fxFlex="45%" fxLayoDELETEut="column" fxLaDELETEyoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/nist-7.jpg">
                    <p class="credito">Crédito: NIST.</p>
                </div>
            </div>
            <div fxLayDELETEout="column" fxLDELETEayoutAlign="center center">
                <p>O segundo ficou definido como sendo:</p>
                <p class="definicao">o tempo transcorrido durante 9.192.631.770 oscilações de um átomo de césio-133</p>
            </div>
        </div>

        <div fxLayDELETEout="column" fxLayoDELETEutAlign="center center" class="card-11">
            <h3>Massa</h3>
            <div fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
                <div fxFlex="50%" fxLDELETEayout="column" fxDELETELayoutAlign="center center">
                    <p>Um dos primeiros sistemas métricos de massa ocorreu em 1700 devido as fraudes que ocorriam nos 
                        sistemas métricos existentes, esse novo sistema foi chamado de sepultura (grave) e era definida como
                        sendo a massa d eum lutro de água no ponto de gelo.
                    </p>
                    <p>Após a revolução Francesa a nova república adotou um novo sistema, dessa vez com o nome "grama" e com 
                        a seguinte definição: a massa absoluta de 1 centímetro cúbico de água a 4 graus Celsius. Porém, em quesitos 
                        de comercio tal medida foi inviável, sendo alterado para um objeto com mil vezes mais massa que esse anterior.
                        A escolha foi um artefado de metal sólido, ganhando o nome de quilograma. Em 1799 foi adotado um artefado 
                        forjado em platina, sendo como base das medições por quase cem anos.
                    </p>
                </div>
                <div fxFlex="45%" fxLayDELETEout="column" fxLDELETEayoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/grave_photo.jpg">
                    <p class="credito">Museu NIST</p>
                </div>
            </div>
            <div fxLayDELETEout="row" fxLayoDELETEutAlign="space-between center">
                <div fxFlex="50%" fxLaDELETEyout="column" fxLDELETEayoutAlign="center center">
                    <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/u.s.-kilogram-masses.jpg">
                    <p class="credito">Museu NIST</p>
                </div>
                <p fxFlex="45%">Devido ao comercio global foi necessário a criação de uma unidade de medida padrão entre os países.
                    Em 1875, 17 países fizeram um acordo que definia a unidade padrão do comprimento e da massa. 
                    A massa foi então definida em um novo artefato cuja massa era composta de 90% de platina e 10% de irídio.
                    Várias cópias foram feitas e enviadas para os países participantes.
                </p>
            </div>
            <p>
                Em 2018 foi definido uma nova medida para a massa, essa medida tem como base uma das constantes fundamentais da natureza,
                a constante de Planck. Para compreender como ocorre a definição não é tão obvia e direta como as anteriores, 
                É necessário conhecer como a massa está relacionada com energia e conhecer a primeira equanção quantica (E=hv, 
                onde h é a constante de Planck e v é a frequência das radiações eletromagnéticas).
                Em suma, foi criado uma balança, chamada de balança de Kibble (ou Watt), onde relacionam a força eletrica e o peso de um objeto.
                nas equações temos a constante de Planck e é a partir dela que se pode calcular a massa do objeto. Assim sendo, temos que o quilograma é
                definido como:
            </p>
            <p class="definicao">o valor numérico fixo da constante de Planck h sendo 6,62607015 x 10 ^ -34 J.s</p>
            <p>Veja mais sobre a balança de Kibble </p>
        </div>
    </div>

    <div fxLaDELETEyout="column" fxLaDELETEyoutAlign="space-between center" class="card-11">
        <h2>Prefixos e Notação Científica</h2>
        <div fxLayDELETEout="row" fxLaDELETEyoutAlign="space-between center">
            <div fxFlex="50%" fxLayDELETEout="column" fxLDELETEayoutAlign="center center">
                <p>Vimos até aqui quais unidades podemos usar dependendo da grandeza que queremos mensurar, por exemplo,
                    se queremos o comprimento de algo podemos usar a unidade metro, para o tempo, podemos usar o segundo,
                    para a massa temos o quilograma. Mas e se os valores forem altos?
                </p>
                <p>Por exemplo, vamos expressar o valor da massa da Terra em quilograma:</p>
                <p class="text-center">5972000000000000000000000 kg </p>
                <p>É um valor grande, e escrever tantos zeros podem nos confundir, para isso temos uma notação que nos ajuda 
                    muito, a notação científica.
                </p>
                <p>A notação cientifica são valores múltiplos do número 10, ou seja, valores cuja a potência estão na base 10.
                    Além disso temos que a virgula deve ser colocada ao lado direito do primeiro algarismo significativo. De 
                    maneira simples vamos pensar no número 1.200 (mil e duzentos), vamos escreve-lo em notação científica:
                </p>
            </div>
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/Terra.png">
        </div>
        <div>
            <img class="img-texto" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-1.png">
        </div>
        <div fxLayouDELETEt="row" fxLaDELETEyoutAlign="space-between center">
            <img fxFlex="35%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/diametro-nucleo.png">
            <div fxFlex="60%" fxLaDELETEyout="column" fxLaDELETEyoutAlign="center center">
                <p>E para valores pequenos, como podemos fazer?</p>
                <p>A regra é bem parecida, vamos pensar em um número bem pequeno, por exemplo, o tamanho em metros do diâmetro 
                    do núcleo de um átomo, que em média tem:
                </p>
                <p>0,000000000000001 m</p>
                <p>Para compreender como ocorre a transformação para a notação científica de números pequenos, vamos pensar 
                    num número não tão pequeno, o 0,02. Agora não vamos deslocar a vírgula para a direita como no exemplo da Terra, 
                    nesse caso precisamos deslocar para a esquerda, assim temos que:
                </p>
            </div>
        </div>
        <img class="img-texto" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-2.png">
        <div fxLayoDELETEut="row" fxDELETELayoutAlign="space-between center">
            <div fxFlex="50%" fxLDELETEayout="column" fxLayDELETEoutAlign="space-between center">
                <p>Tentaremos sempre deixar todas as informações em notação científica, assim ficará mais visível e resumida
                    as informações sobre os valores quantitativos dos fenômenos que estamos estudando.
                </p>
                <p>Existe ainda valores chamados de prefixos, eles são valores da notação científica que recebem alguns nomes 
                    especiais. Um exemplo que muitos já podem ter usado é o quilometro e quilograma, podemos perceber que um 
                    trecho da palavra se repete, o quilo, ele é representado pela letra 'k'. A tabela ao lado representa os 
                    valores de cada prefixo.
                </p>
            </div>
            <img fxFlex="45%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/prefixos.png">
        </div>
    </div>

    <div fxLayDELETEout="column" fxLaDELETEyoutAlign="center center" class="card-11">
        <h2>Sistema Internacional de unidades</h2>
        <p>Vimos até agora os três principais tipos de medidas, metro, quilograma e segundo. Essas três medidas são 
            as mais fundamentais, ou seja, estaram constantementes presentes em várias contas que faremos ao longo 
            de todas as aulas. Além dessas três existem ainda mais quatro medidas fundamentais, são elas:
        </p>
        <p>
            a <b>Temperatura</b>, 
            associada aos estudos da Termodinâmica, elas nos indica o quão quente está um corpo com base numa escala, no 
            SI (Sistema Internacional) a escala de medida é o kelvin representada pela letra 'K', mas no nosso cotidiano 
            a escala de temperatura mais usada é o graus Celsius.
        </p>
        <div fxLayoDELETEut="row" fxLayDELETEoutAlign="space-between center">
            <p fxFlex="65%">
                <b>Quantidade de máteria</b>, mol, 
                ela está associada a quantidade de partículas elementares ou a íons ou moléculas. Assim sendo 1 mol representa 
                uma quantidade de:
            </p>
            <div fxFlex="30%" fxLaDELETEyout="column" fxLayoDELETEutAlign="space-between center">
                <img class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-3.png">
                <p>Esse valor também é conhecido como constante de Avogrado</p>
            </div>
        </div>
        <div fxLayDELETEout="row" fxLaDELETEyoutAlign="space-between center">
            <p fxFlex="65%">
                <b>Corrente elétrica</b>, Ampere (A), 
                ele é uma medida da quantidade de carga elétrica em movimento por unidade de tempo. Um ampere é a corrente 
                na qual um coulomb (C, esse conteúdo está na parte de eletromagnetismo) de carga viaja através de um determinado 
                ponto em 1 segundo. Também é definido tomando como valor numérico da carga elementar sendo de:
            </p>
            <img fxFlex="30%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/aula-1-4.png">
        </div>
        <div fxLayoDELETEut="row" fxLaDELETEyoutAlign="space-between center">
            <div fxFlex="45%" fxLayouDELETEt="column" fxLaDELETEyoutAlign="center center">
                <p>
                    <b>Intensidade Luminosa</b>, candela (cd), 
                    essa medida representa a intensidade luminosa em uma determinada direção de uma fonte que emite radiação 
                    numa frequência determinada. Essa é uma explicação bem simploria, pois para melhor explicar precisaremos 
                    adentrar em questões mais específicas e termos mais complexos, caso queira ler um pouco mais sobre o 
                    assunto acesse 
                </p>
                <p>Essas são as 7 unidades fundamentais, a seguir temos duas figuras que sintetizão as informações reunidas:</p>
            </div>
            <img fxFlex="50%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/SI-1.png">
        </div>
        <div fxLaDELETEyout="row" fxLayDELETEoutAlign="center center">
            <img fxFlex="60%" class="img" src="../../../../../../assets/imagens/mecanica/aulas/aula-um/SI-2.png">
        </div>
    </div>
</div> -->