<div *ngIf="this.usuarioLogado; else usuarioVazio" class="g-column-start-start container-professor-home">
    <div class="deslogar" (click)="deslogar()">Deslogar</div>
    <div class="g-row-between-start g-row-wrap container-informacao">
        <app-professor-perfil [usuarioLogado]="this.usuarioLogado"></app-professor-perfil>
        <app-usuario-informacao [usuarioLogado]="this.usuarioLogado"></app-usuario-informacao>
    </div>

    <app-usuario-conquistas class="g-full-width" [usuarioLogado]="this.usuarioLogado"></app-usuario-conquistas>

    <div class="g-column-between-between g-card-postit-yellow card"
        [ngClass]="{'card-noticia': this.abaSelecionada == 2, 'card-favorito': this.abaSelecionada == 3}">
        <div class="g-row-start-center g-card-postit-titulo-yellow card-titulo">
            <div class="g-row-center-center card-titulo-aba card-titulo-aba-1" (click)="selecionarAba(1)">
                <span class="perfil-text">Aulas</span>
            </div>
            <div class="g-row-center-center card-titulo-aba card-titulo-aba-2" (click)="selecionarAba(2)">
                <span class="perfil-text">Notícias</span>
            </div>
            <div class="g-row-center-center card-titulo-aba card-titulo-aba-3" (click)="selecionarAba(3)">
                <span class="perfil-text">Informações favoritadas</span>
            </div>
        </div>
        <app-professor-tabela-aula *ngIf="this.abaSelecionada == 1" [professorId]="this.usuarioLogado.id"></app-professor-tabela-aula>
        <app-professor-tabela-noticia *ngIf="this.abaSelecionada == 2" [professorId]="this.usuarioLogado.id"></app-professor-tabela-noticia>
        <app-aluno-favoritado *ngIf="this.abaSelecionada == 3" [usuarioLogado]="this.usuarioLogado"></app-aluno-favoritado>
    </div>
</div>
<ng-template #usuarioVazio>
    Carregando informações...
</ng-template>
