<div *ngIf="this.usuarioLogado; else usuarioVazio" fxLayout="column" class="container-professor-home">
    <div class="titulo">Olá {{this.usuarioLogado.nome}}</div>
    <div fxLayout="row" fxLayoutAlign="space-between start" class="container-informacao">
        <app-usuario-informacao fxFlex="50%" [usuarioLogado]="this.usuarioLogado"></app-usuario-informacao>
        <app-usuario-conquistas fxFlex="50%"></app-usuario-conquistas>
    </div>
    <mat-tab-group>
        <mat-tab label="Aulas">
            <app-professor-tabela-aula [professorId]="this.usuarioLogado.id"></app-professor-tabela-aula>
        </mat-tab>
        <mat-tab label="Noticias">
            <app-professor-tabela-noticia [professorId]="this.usuarioLogado.id"></app-professor-tabela-noticia>
        </mat-tab>
      </mat-tab-group>
</div>
<ng-template #usuarioVazio>
    Carregando informações...
</ng-template>
