/* You can add global styles to this file, and also import other style files */

@import '~katex/dist/katex.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.css-toast {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 60px;
}

.g-full-width {
    width: 100%;
}

.g-text-overflow-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}