/* You can add global styles to this file, and also import other style files */

@import '~katex/dist/katex.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --yellow-postit: #FFFBCC;
    --green-postit: #CCFFCC;
    --blue-postit: #CCFFFF;
    --pink-postit: #FFCCE5;
    --lilac-postit: #E5CCFF;
    --orange-postit: #FFE5CC;
}


.css-toast {
    margin: 0 !important;
    position: absolute;
    right: 25px;
    top: 60px;
}

.g-full-width {
    width: 100%;
}

.g-full-height {
    height: 100%;
}

@mixin g-text-overflow {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.g-text-overflow-1 {
    @include g-text-overflow;
    -webkit-line-clamp: 1;
}

.g-text-overflow-2 {
    @include g-text-overflow;
    -webkit-line-clamp: 2;
}

.g-tag {
    font-size: 0.7em;
    border: 1px solid #5d5dff;
    border-radius: 20px;
    background-color: #d9e39c;
    padding: 3px 5px;
    margin: 0 2px;
}

.g-fieldset {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    position: relative;
    margin-top: 20px;
}

.g-fieldset-titulo {
    position: absolute;
    top: -20px;
    left: 10px;
    background: inherit;
    padding: 0px 5px;
    font-weight: 500;
    color: #2900c5;
    font-size: 20px;
}

.g-dot-mecanica {
    background-color: #e07a5f;
    border-radius: 20px;
    padding: 8px;
    margin-right: 10px;
}

.g-gap-20 {
    gap: 20px;
}

.g-gap-60 {
    gap: 60px;
}

@mixin g-card-postit {
    border: 2px solid #737b86;
    border-radius: 20px;
    position: relative;
}

.g-card-postit-yellow {
    @include g-card-postit;
    background-color: var(--yellow-postit);
}

.g-card-postit-green {
    @include g-card-postit;
    background-color: var(--green-postit);
}

.g-card-postit-blue {
    @include g-card-postit;
    background-color: var(--blue-postit);
}

.g-card-postit-pink {
    @include g-card-postit;
    background-color: var(--pink-postit);
}

.g-card-postit-lilac {
    @include g-card-postit;
    background-color: var(--lilac-postit);
}

.g-card-postit-orange {
    @include g-card-postit;
    background-color: var(--orange-postit);
}

@mixin g-card-postit-titulo {
    position: absolute;
    top: -57px;
    left: 40px;
    border-top: 2px solid #737b86;
    border-left: 2px solid #737b86;
    border-right: 2px solid #737b86;
    margin: 10px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 8px 20px;
    font-size: 22px;
    font-weight: 700;
}

.g-card-postit-titulo-yellow {
    @include g-card-postit-titulo;
    background-color: var(--yellow-postit);
}

.g-card-postit-titulo-green {
    @include g-card-postit-titulo;
    background-color: var(--green-postit);
}

.g-card-postit-titulo-blue {
    @include g-card-postit-titulo;
    background-color: var(--blue-postit);
}

.g-card-postit-titulo-pink {
    @include g-card-postit-titulo;
    background-color: var(--pink-postit);
}

.g-card-postit-titulo-lilac {
    @include g-card-postit-titulo;
    background-color: var(--lilac-postit);
}

.g-card-postit-titulo-orange {
    @include g-card-postit-titulo;
    background-color: var(--orange-postit);
}

.g-card-icone-many {
    position: absolute;
    width: 70px;
    top: 25px;
    right: -84px;
    background-color: var(--yellow-postit);
    border-top: 2px solid #737b86;
    border-bottom: 2px solid #737b86;
    border-right: 2px solid #737b86;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 5px;
    gap: 10px;
}

.g-card-tags {
    position: absolute;
    bottom: -50px;
    left: 20px;
    background-color: #fff4ad;
    border-left: 2px solid #737b86;
    border-bottom: 2px solid #737b86;
    border-right: 2px solid #737b86;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 5px;
    gap: 10px;
}

.g-disable-event {
    pointer-events: none;
}

.g-button-adicionar {
    border: 2px solid #3f51b5;
    color: #3f51b5;
    padding: 5px 8px;
    border-radius: 10px;
    font-weight: 600;
}

.g-button-adicionar:hover {
    background-color: #3f51b52c;
    cursor: pointer;
}

.g-container-voltar {
    z-index: 1;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    background-color: #22a74a;
    color: white;
    width: 120px;
    right: 0;
    position: absolute;
}

.g-container-voltar:hover {
    filter: brightness(0.95);
} 

.g-container-form-inputs {
    gap: 25px;
}

.button-go {
    background-color: var(--green-postit);
    width: auto;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.8s;
}

.button-go:hover {
    box-shadow: 0 0 0 2px black;
}

/* Altera o overflow da modal, faz aparecer scroll*/
.cdk-overlay-pane {
    overflow-y: auto;
}

/* Altera a formatação original dos inputs do material */
.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 8px;
    //transform: translateY(-7px);
}

.mat-input-element {
    transform: translateY(2px);
}

.mat-select-panel {
    min-width: 100% !important;
}

.mat-error {
    margin-top: 15px;
}

.container-login .material-icons {
    vertical-align: unset !important;
}

/* Arrow dropdown input */
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(0px) !important;
}

.mat-select-trigger {
    margin-top: 5px;
}

// flex layout
@mixin g-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin g-flex-row {
    display: flex;
    flex-direction: row;
}

.g-row-wrap {
    @include g-flex-row;
    flex-wrap: wrap;
}

//start
.g-row-start-start {
    @include g-flex-row;
    justify-content: flex-start;
    align-items: flex-start;
}

.g-row-start-center {
    @include g-flex-row;
    justify-content: flex-start;
    align-items: center;
}

.g-row-start-end {
    @include g-flex-row;
    justify-content: flex-start;
    align-items: flex-end;
}

.g-row-start-between {
    @include g-flex-row;
    justify-content: space-between flex-start;
    align-items: stretch;
}

.g-row-start-around {
    @include g-flex-row;
    justify-content: space-around flex-start;
    align-items: stretch;
}

.g-row-start-evenly {
    @include g-flex-row;
    justify-content: stretch flex-start;
    align-items: stretch;
}

//center
.g-row-center-start {
    @include g-flex-row;
    justify-content: center;
    align-items: flex-start;
}

.g-row-center-center {
    @include g-flex-row;
    justify-content: center;
    align-items: center;
}

.g-row-center-end {
    @include g-flex-row;
    justify-content: center;
    align-items: flex-end;
}

.g-row-center-between {
    @include g-flex-row;
    justify-content: space-between center;
    align-items: stretch;
}

.g-row-center-around {
    @include g-flex-row;
    justify-content: space-around center;
    align-items: stretch;
}

.g-row-center-evenly {
    @include g-flex-row;
    justify-content: stretch center;
    align-items: stretch;
}

//end
.g-row-end-start {
    @include g-flex-row;
    justify-content: flex-end;
    align-items: flex-start;
}

.g-row-end-center {
    @include g-flex-row;
    justify-content: flex-end;
    align-items: center;
}

.g-row-end-end {
    @include g-flex-row;
    justify-content: flex-end;
    align-items: flex-end;
}

.g-row-end-between {
    @include g-flex-row;
    justify-content: space-between flex-end;
    align-items: stretch;
}

.g-row-end-around {
    @include g-flex-row;
    justify-content: space-around flex-end;
    align-items: stretch;
}

.g-row-end-evenly {
    @include g-flex-row;
    justify-content: stretch flex-end;
    align-items: stretch;
}

//between
.g-row-between-start {
    @include g-flex-row;
    justify-content: flex-start space-between;
    align-items: flex-start;
}

.g-row-between-center {
    @include g-flex-row;
    justify-content: space-between;
    align-items: center;
}

.g-row-between-end {
    @include g-flex-row;
    justify-content: flex-end space-between;
    align-items: flex-end;
}

.g-row-between-between {
    @include g-flex-row;
    justify-content: space-between;
    align-items: stretch;
}

.g-row-between-around {
    @include g-flex-row;
    justify-content: space-around space-between;
    align-items: stretch;
}

.g-row-between-evenly {
    @include g-flex-row;
    justify-content: stretch space-between;
    align-items: stretch;
}

//around
.g-row-around-start {
    @include g-flex-row;
    justify-content: flex-start space-around;
    align-items: flex-start;
}

.g-row-around-center {
    @include g-flex-row;
    justify-content: space-around;
    align-items: center;
}

.g-row-around-end {
    @include g-flex-row;
    justify-content: flex-end space-around;
    align-items: flex-end;
}

.g-row-around-between {
    @include g-flex-row;
    justify-content: space-between space-around;
    align-items: stretch;
}

.g-row-around-around {
    @include g-flex-row;
    justify-content: space-around;
    align-items: stretch;
}

.g-row-around-evenly {
    @include g-flex-row;
    justify-content: stretch space-around;
    align-items: stretch;
}

//evenly
.g-row-evenly-start {
    @include g-flex-row;
    justify-content: flex-start space-evenly;
    align-items: flex-start;
}

.g-row-evenly-center {
    @include g-flex-row;
    justify-content: center space-evenly;
    align-items: center;
}

.g-row-evenly-end {
    @include g-flex-row;
    justify-content: flex-end space-evenly;
    align-items: flex-end;
}

.g-row-evenly-between {
    @include g-flex-row;
    justify-content: space-between space-evenly;
    align-items: stretch;
}

.g-row-evenly-around {
    @include g-flex-row;
    justify-content: space-around space-evenly;
    align-items: stretch;
}

.g-row-around-evenly {
    @include g-flex-row;
    justify-content: stretch space-evenly;
    align-items: stretch;
}


// column start
.g-column-start-start {
    @include g-flex-column;
    justify-content: flex-start;
    align-items: flex-start;
}

.g-column-start-center {
    @include g-flex-column;
    justify-content: flex-start;
    align-items: center;
}

.g-column-start-end {
    @include g-flex-column;
    justify-content: flex-start;
    align-items: flex-end;
}

.g-column-start-between {
    @include g-flex-column;
    justify-content: space-between flex-start;
    align-items: stretch;
}

.g-column-start-around {
    @include g-flex-column;
    justify-content: space-around flex-start;
    align-items: stretch;
}

.g-column-start-evenly {
    @include g-flex-column;
    justify-content: stretch flex-start;
    align-items: stretch;
}

//center
.g-column-center-start {
    @include g-flex-column;
    justify-content: center;
    align-items: flex-start;
}

.g-column-center-center {
    @include g-flex-column;
    justify-content: center;
    align-items: center;
}

.g-column-center-end {
    @include g-flex-column;
    justify-content: center;
    align-items: flex-end;
}

.g-column-center-between {
    @include g-flex-column;
    justify-content: space-between center;
    align-items: stretch;
}

.g-column-center-around {
    @include g-flex-column;
    justify-content: space-around center;
    align-items: stretch;
}

.g-column-center-evenly {
    @include g-flex-column;
    justify-content: stretch center;
    align-items: stretch;
}

//end
.g-column-end-start {
    @include g-flex-column;
    justify-content: flex-end;
    align-items: flex-start;
}

.g-column-end-center {
    @include g-flex-column;
    justify-content: flex-end;
    align-items: center;
}

.g-column-end-end {
    @include g-flex-column;
    justify-content: flex-end;
    align-items: flex-end;
}

.g-column-end-between {
    @include g-flex-column;
    justify-content: space-between flex-end;
    align-items: stretch;
}

.g-column-end-around {
    @include g-flex-column;
    justify-content: space-around flex-end;
    align-items: stretch;
}

.g-column-end-evenly {
    @include g-flex-column;
    justify-content: stretch flex-end;
    align-items: stretch;
}

//between
.g-column-between-start {
    @include g-flex-column;
    justify-content: space-between;
    align-items: flex-start;
}

.g-column-between-center {
    @include g-flex-column;
    justify-content: space-between;
    align-items: center;
}

.g-column-between-end {
    @include g-flex-column;
    justify-content: space-between;
    align-items: flex-end;
}

.g-column-between-between {
    @include g-flex-column;
    justify-content: space-between;
    align-items: stretch;
}

.g-column-between-around {
    @include g-flex-column;
    justify-content: space-around space-between;
    align-items: stretch;
}

.g-column-between-evenly {
    @include g-flex-column;
    justify-content: stretch space-between;
    align-items: stretch;
}

//around
.g-column-around-start {
    @include g-flex-column;
    justify-content: flex-start space-around;
    align-items: flex-start;
}

.g-column-around-center {
    @include g-flex-column;
    justify-content: center space-around;
    align-items: center;
}

.g-column-around-end {
    @include g-flex-column;
    justify-content: flex-end space-around;
    align-items: flex-end;
}

.g-column-around-between {
    @include g-flex-column;
    justify-content: space-between space-around;
    align-items: stretch;
}

.g-column-around-around {
    @include g-flex-column;
    justify-content: space-around;
    align-items: stretch;
}

.g-column-around-evenly {
    @include g-flex-column;
    justify-content: stretch space-around;
    align-items: stretch;
}

//evenly
.g-column-evenly-start {
    @include g-flex-column;
    justify-content: flex-start space-evenly;
    align-items: flex-start;
}

.g-column-evenly-center {
    @include g-flex-column;
    justify-content: center space-evenly;
    align-items: center;
}

.g-column-evenly-end {
    @include g-flex-column;
    justify-content: flex-end space-evenly;
    align-items: flex-end;
}

.g-column-evenly-between {
    @include g-flex-column;
    justify-content: space-between space-evenly;
    align-items: stretch;
}

.g-column-evenly-around {
    @include g-flex-column;
    justify-content: space-around space-evenly;
    align-items: stretch;
}

.g-column-around-evenly {
    @include g-flex-column;
    justify-content: stretch space-evenly;
    align-items: stretch;
}