.container-forum {
    margin: 20px 80px;
    min-height: 500px;
}

.tamanho-horizontal {
    width: 100%;
}

.titulo {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 30px 0;
}

.titulo-tabela {
    font-weight: 700;
    font-size: 20px;
}

.linha-tabela {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    min-height: 100px;
}

.titulo-topico {
    font-size: 20px;
}

.acessar {
    border-radius: 20px;
    background-color: rgb(175, 84, 187);
    padding: 5px 15px;
    cursor: pointer;
}

.acessar:hover {
    background-color: rgba(175, 84, 187, 0.849);
    box-shadow: 4px 4px 4px black;
}