<div fxLayout="column" fxLayoutAlign="center center" class="container-forum">
    <div fxFlex="100%" fxLayout="column" fxLayoutAlign="start center" class="tamanho-horizontal">
        <div class="titulo">FÓRUM MECÂNICA</div>
        <div fxLayout="column" fxLayoutAlign="center center" class="tamanho-horizontal">
            <div fxLayout="row" fxLayoutAlign="start center" class="linha-tabela titulo-tabela">
                <div fxFlex="125px" fxLayoutAlign="center center">Ícone</div>
                <div fxFlex="70%">Título</div>
                <div fxFlex="125px" fxLayoutAlign="center center">Respostas</div>
                <div fxFlex="150px" fxLayoutAlign="center center">Postagem</div>
            </div>
            <div ffxLayout="row" fxLayoutAlign="space-between center" class="linha-tabela">
                <div fxFlex="125px" fxLayoutAlign="center center">
                    <span class="material-icons">help_outline</span>
                </div>
                <div fxFlex="70%" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="titulo-topico">Dúvida sobre a segunda Lei de Newton</div>
                    <div class="acessar" routerLink="/forum/mecanica/duvida-mecanica">Acessar</div>
                </div>
                <div fxFlex="125px" fxLayoutAlign="center center">1</div>
                <div fxFlex="150px" fxLayoutAlign="center center">25/10/2022</div>
            </div>
            <div ffxLayout="row" fxLayoutAlign="space-between center" class="linha-tabela">
                <img fxFlex="125px">
                <div fxFlex="70%" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="titulo-topico">Dúvida sobre a segunda Lei de Newton</div>
                    <div>Acessar</div>
                </div>
                <div fxFlex="125px" fxLayoutAlign="center center">1</div>
                <div fxFlex="150px" fxLayoutAlign="center center">25/10/2022</div>
            </div>
            <div ffxLayout="row" fxLayoutAlign="space-between center" class="linha-tabela">
                <img fxFlex="125px">
                <div fxFlex="70%" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="titulo-topico">Dúvida sobre a segunda Lei de Newton</div>
                    <div>Acessar</div>
                </div>
                <div fxFlex="125px" fxLayoutAlign="center center">1</div>
                <div fxFlex="150px" fxLayoutAlign="center center">25/10/2022</div>
            </div>
        </div>
    </div>
</div>