<div fxFlex="94%" fxLayout="column" fxLayoutAlign="center center" class="container">
    <div class="titulo">Equipe</div>
    <div class="paragrafo">A Mecânica é o ramo da Física que estudo o movimento e suas causas, 
        tudo ao nosso redor está em movimento, até mesmo você que possivelmente pode estar sentado 
        lendo esse texto, claro que devemos fazer a ressalva que devemos ressaltar qual é o referencial 
        que estamos tomando como origem do sistemas de coordenadas. Conceito esse essencial para o estudo 
        da Mecânica.
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around start" class="container-cards">
        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start center" class="container-divisao">
            <div class="sub-titulo">Desenvolvedores</div>
            <div fxLayout="row" fxLayoutAlign="space=between center" class="tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
        </div>
        <div fxFlex="32%" fxLayout="column" fxLayoutAlign="start center" class="container-divisao">
            <div class="sub-titulo">Professores</div>
            <div fxLayout="row" fxLayoutAlign="space=between center" class="tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
            <div fxLayout="row" fxLayoutAlign="space=between center" class="tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
        </div>
        <div fxFlex="30%" fxLayout="column" fxLayoutAlign="start center" class="container-divisao">
            <div class="sub-titulo">Parceiros</div>
            <div fxLayout="row" fxLayoutAlign="space=between center" class="tamanho-horizontal">
                <img class="imagem" src="../../../../assets/imagens/equipe/sapo.png">
                <div fxLayout="column" fxLayoutAlign="start start">
                    <div>Fernando Carvalho Birznek</div>
                    <div>Facebook</div>
                    <div>Instagram</div>
                </div>
            </div>
            <div class="descricao">
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum Lorem ipsulum
                Lorem ipsulum Lorem ipsulum
            </div>
        </div>
    </div>
    
</div>
