.container {
    padding: 20px;
    gap: 20px;
}

.container-titulo {
    width: 100%;
}

.dot-mecanica {
    background-color: #e07a5f;
    border-radius: 20px;
    padding: 15px;
    margin-right: 10px;
}

.titulo {
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 30px;
}

.container-descricao {
    gap: 20px;
}

.container-descricao-topico {
    border: 2px solid #e07a5f;
    background-color: #abb6c8;
    border-radius: 20px;
    min-height: 350px;
}

.sub-titulo {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 2px solid #e07a5f;
}

.paragrafo {
    font-weight: 500;
    padding: 15px 30px;
    font-size: 16px;
    text-align: justify;
    line-height: 26px;
}

.container-divisao {
    border: 2px solid #e07a5f;
    background-color: #5fabd4;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(128, 128, 128, 0.658);
    min-height: 400px;
}

.imagem {
    width: 90%;
    height: auto;
    background-size: cover;
}

.card-geral {
    border: 2px solid #e07a5f;
    background-color: #a7dbd8;
    border-radius: 20px;
    position: relative;
    padding: 20px;
    width: 100%;
    height: 600px;
}

.divisor {
    height: 100%;
    width: 1px;
    background-color: #e07a5f;
}

.container-aulas {
    gap: 20px;
}

.card-aula {
    border: 2px solid #e07a5f;
    background-color: #f4b076;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(128, 128, 128, 0.658);
    width: 500px;
    padding: 15px;
    gap: 10px;
    height: 250px;
}

.card-aula-descricao {
    gap: 15px;
}

.aula-autor, 
.descricao {
    gap: 8px;
    height: 100%;
}

.sessao-text {
    font-size: 12px;
    margin-left: 5px;
}

.card-aula-acessar {
    border: 1px solid black;
    background-color: rgb(106, 199, 30);
    padding: 4px 15px;
    border-radius: 20px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    gap: 5px;
}

.card-aula-acessar:hover {
    background-color: rgb(76, 141, 23);
    color: white;
}

.container-paginacao {
    margin-top: 20px;
    gap: 10px;
}

.button-page {
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    width: 30px;
}

.button-page:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

.botao-config:hover {
    color: rgb(59, 59, 59);
}






.card-aula-paragrafo {
    margin: 0;
    padding: 0;
}

.divisão-cards {
    border-right: 2px solid #e07a5f;
    flex-wrap: wrap;
    padding: 10px;
}

.alinhar-formulas {
    flex-wrap: wrap;
    padding: 10px;
}

.tamanho-horizontal {
    width: 100%;
    text-align: center;
}

/* TAGS */
.tags {
    border: 1px solid rgb(144, 144, 214);
    border-radius: 20px;
    background-color: cornflowerblue;
    padding: 8px;
    display: inline-block;
    font-weight: 500;
}

.tags:hover, .tags a:hover {
    background-color: rgb(144, 144, 214);
    color: white;
    cursor: pointer;
}


.links-problemas {
    border-radius: 10px;
    background-color: #AC92EC;
    padding: 15px;
    color: black;
    cursor: pointer;
}

.links-problemas:hover {
    color: white;
    background-color: #9d7fe9;
}