<div fxLayout="column" class="container-aula">
    <h2 >Informações da Aula</h2>
    <form [formGroup]="this.formGroupAula" fxLayout="row" fxLayoutAlign="space-between start">   
      <div fxFlex="48%" fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Área da Física</mat-label>
          <mat-select formControlName="formAreaFisica" matInput>
            <mat-option *ngFor="let area of this.areaFisicaMany" [value]="area.id">{{ area.descricao }}</mat-option>
          </mat-select>
          <mat-error *ngIf="formAreaFisica.invalid">Área da Física é obrigatória</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="outline">
          <mat-label>Título</mat-label>
          <input formControlName="formTitulo" matInput required>
          <mat-error *ngIf="formTitulo.invalid">Titulo é obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="48%" fxLayout="column">            
        <mat-form-field appearance="outline">
          <mat-label>Resumo</mat-label>
          <textarea maxlength="200" formControlName="formResumo" matInput required></textarea>
          <mat-error *ngIf="formResumo.invalid">Resumo é obrigatória</mat-error>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="atualizarAula()">
          <mat-icon class="material-symbols-outlined">edit</mat-icon>
          Editar aula
        </button>
      </div>
    </form>
    <h3 class="titulo-bloco titulo-espacado">Sessões</h3>
    <button mat-stroked-button color="primary" (click)="novaSessao()" class="button-nova-sessao">
      <mat-icon class="material-symbols-outlined">list_alt_add</mat-icon>
      Nova sessão
    </button>
    <div *ngFor="let sessao of this.aulaSessao" fxLayout="column" class="container-sessao-many">
      <div fxLayout="column" fxLayoutAlign="center center" class="titulo-sessao">
        {{ sessao.titulo }}
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        {{ sessao.conteudo }}
      </div>
    </div>
</div>