<div fxLayout="column" fxLayoutAlign="center start" class="container-duvida">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="tamanho-horizontal">
        <div class="voltar" routerLink="/forum/mecanica">Voltar</div>
        <div class="titulo">Dúvida sobre a segunda lei de Newton</div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start" class="card-principal">
        <div fxFlex="150px" fxLayout="column" fxLayoutAlign="center center">
            <div class="nome">Joaquim</div>
            <img src="../../../../../../assets/imagens/equipe/sapo.png" class="imagem">
        </div>
        <div fxLayoutAlign="start start" class="paragrafo">
            Eu estou com duvida sobre a segunda lei de Newton, quando temos mais de uma força como podemos usar
            a equação F = ma?
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="container-responder">
            <div class="responder">Responder</div>
            <div class="postagem">Postado dia 22/05/2022</div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around start" class="card-principal card-resposta">
        <div fxFlex="150px" fxLayout="column" fxLayoutAlign="center center">
            <div class="nome">Tuco</div>
            <img src="../../../../../../assets/imagens/equipe/sapo.png" class="imagem">
        </div>
        <div fxFlex="90%" fxLayoutAlign="start start" class="paragrafo">
            Olá Joaquim, tudo bem? <br>
            Muito interessante a sua pergunta. <br>
            Vamos lá, a segunda lei de Newton ...
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="container-responder">
            <div class="responder">Responder</div>
            <div class="postagem">Postado dia 25/05/2022</div>
        </div>
    </div>
</div>
