.container-duvida {
    margin: 30px 0 30px 30px;
}
.tamanho-horizontal {
    width: 90%;
}

.titulo {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 30px 0;
}

.paragrafo {
    font-size: 20px;
    margin: 15px 15px 40px 40px;
}

.card-principal {
    width: 90%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E0ECDE;
    min-height: 150px;
    position: relative;
    padding: 20px;
}

.card-resposta {
    margin: 20px 0 0 50px;
    max-width: 1300px;
}

.container-responder {
    position: absolute;
    bottom: 20px;
    right: 20px
}

.voltar {
    border-radius: 20px;
    background-color: rgb(175, 84, 187);
    padding: 5px 15px;
    cursor: pointer;
}

.voltar:hover {
    background-color: rgba(175, 84, 187, 0.849);
    box-shadow: 4px 4px 4px black;
}

.responder {
    margin-right: 20px;
    border-radius: 20px;
    background-color: rgb(84, 149, 187);
    padding: 5px 15px;
    cursor: pointer;
}

.responder:hover {
    background-color: rgba(84, 149, 187, 0.856);
    box-shadow: 4px 4px 4px black;
}

.imagem {
    width: 90%;
    height: auto;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid black;
}