.fechar {
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 10px;
}

.fechar:hover {
    color: rgb(255, 102, 102);
}

.text-item-excluir {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.container-button {
    width: 250px;
    padding-top: 20px;
}